{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<script>
    function mostrarFormulario() {
        var cambiarEstadoTarea = document.getElementById('cambiarEstadoTarea');
        if (cambiarEstadoTarea.style.display == "block") {
            cambiarEstadoTarea.style.display = "none";
        } else {
            cambiarEstadoTarea.style.display = "block"
        }
    }
</script>
<div class="general">

    <ul class="navTitulo">
        <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver" title=" Volver">
        <h1>Su Tarea</h1>
        <img class="iconosTitulo" src="/public/res/print.svg" onclick="print()" title="Imprimir">
        {% if datos.miTarea.estado != "Finalizado" %}
        <a
            href="/tarea/modificar/seleccionado?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}">
            <img class="iconosTitulo" src="/public/res/update.svg" title="Modificar">
        </a>
        {% if datos.miTarea.estado != 'Iniciado' %}
        {% set estados = ['En Curso','Pendiente','Finalizado'] %}
        <img class="iconosTitulo" src="/public/res/cambiarEstado.svg" onclick="mostrarFormulario()"
            title="Cambiar Estado">
        {% endif %}
        {% endif %}
        <a href="/tarea/verHistorial?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}"><img
                class="iconosTitulo" src="/public/res/historyEstado.svg" title="Ver Historial"></a>

        <form action="/tarea/cambiarEstado/seleccionado" method="post" id="cambiarEstadoTarea" style="display: none">
            <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
            <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
            <input type="text" name="idOT" value="{{ datos.miTarea.miOT.idOT }}" hidden>
            <label for="estado" id="estadoLabel">Estado</label>
            <select name="estado" id="estadoSelect">
                {% for estado in estados %}
                {% if estado != datos.miTarea.estado %}
                <option value="{{ estado }}">{{ estado }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="button" value="Cambiar" id="cambiarEstadoSi" onclick="alertify.prompt( 'Cambiar Estado', 'Descripcion', ''
                , function(evt, value) { var descripcion = document.createElement('input'); descripcion.required = 'required'; descripcion.type = 'text'; descripcion.name = 'descripcion'; descripcion.value = value; document.getElementById('cambiarEstadoTarea').appendChild(descripcion); document.getElementById('cambiarEstadoTarea').submit(); }
                , function() {}).set('type','text');">
        </form>

    </ul>

    <dl>
        <dt>Nº Pedido:</dt>
        <dd><a href="fichaPedido?id={{ datos.miTarea.idPedido }}">Pedido {{ datos.miTarea.idPedido }}</a></dd>
        <dt>Nº Tarea:</dt>
        <dd>{{ datos.miTarea.idTarea }}</dd>
        <dt>Especializacion:</dt>
        <dd>{{ datos.miTarea.especializacionNombre }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ datos.miTarea.descripcion }}</dd>
        <dt>Estado:</dt>
        <dd>{{ datos.miTarea.estado }}</dd>
        <dt>Prioridad:</dt>
        <dd>{{ datos.miTarea.prioridad }}</dd>
    </dl>
    <!--TABLA OT-->
    <h2 style="display: inline-block">ORDEN DE TRABAJO:</h2>
    <table>
        {% if datos.miTarea.estado == "Iniciado" %}
        {% if datos.miTarea.agentes is empty %}
        <a href="#" onclick="alertify.alert('Error','Primero debe asignar agentes')"><img class="iconos"
                src="/public/res/add.svg" title="Crear OT"></a>
        {% else %}
        <a href="/ot/crear"><input type="button" value="Crear una OT"></a>
        {% endif %}
        <h2 class='error'>No está asignado a ninguna OT</h2>
        {% else %}
        <th>Nº OT</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Estado</th>
        <th>Accion</th>
        <tr>
            <td> <a href="/fichaOT?idOT={{ datos.miTarea.miOT.idOT }}" title="Ver Mas">OT
                    {{ datos.miTarea.miOT.idOT }}</a>
            </td>
            <td> {{ datos.miTarea.miOT.fechaInicio }} </td>
            <td> {{ datos.miTarea.miOT.fechaFin }} </td>
            <td> {{ datos.miTarea.miOT.estado }} </td>
            <td> <a href="/fichaOT?idOT={{ datos.miTarea.miOT.idOT }}" title="Ver Mas"> <img class="iconos"
                        src="/public/res/vermas.svg"></a></td>
        </tr>
        {% endif %}
    </table>
    <!--TABLA AGENTES-->
    <h2 style="display: inline-block">AGENTES</h2>
    {% if datos.miTarea.estado != "Finalizado" %}
    <a href="/tarea/agentes/asignar?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}">
        <img class="iconos" src="/public/res/addAgente.svg" title="Asignar Agentes">
    </a>
    {% endif %}
    {% if datos.miTarea.agentes is not empty %}
    <table id="miTabla">
        <th onclick="sortTable(0,'miTabla')">Nº Agente</th>
        <th onclick="sortTable(1,'miTabla')">Nombre</th>
        <th onclick="sortTable(2,'miTabla')">Apellido</th>
        <th onclick="sortTable(3,'miTabla')">Especializacion</th>
        <th onclick="sortTable(4,'miTabla')">Accion</th>
        {% for agente in datos.miTarea.agentes %}
        <tr>
            <td><a href="/fichaPersona?idAgente={{ agente.idAgente }}">{{ agente.idAgente }}</a></td>
            <td>{{ agente.nombre }}</td>
            <td>{{ agente.apellido }}</td>
            <td>{{ agente.especializacionNombre }}</td>
            <td>
                <a href="/fichaPersona?idAgente={{ agente.idAgente }}">
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas" title="Ver Mas">
                </a>
                {% if  datos.miTarea.estado != "Finalizado" %}
                <form action="/tarea/agentes/desasignar" method="post" hidden
                    id="formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ agente.idAgente }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idAgente" value="{{ agente.idAgente }}" hidden>
                </form>
                <img class="iconos" src="/public/res/remAgente.svg" title="Desasignar Agente"
                    onclick="alertify.confirm('Desasignar Agente','¿Esta seguro?',function(){document.getElementById('formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ agente.idAgente }}').submit()},function(){})">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2 class='error'>No hay Agentes asignados</h2>
    {% endif %}
    <!--TABLA INSUMOS-->
    <h2 style="display: inline-block">INSUMOS</h2>
    {% if datos.miTarea.estado != "Finalizado" %}
    <a href="/tarea/insumos/asignar?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}">
        <img class="iconos" src="/public/res/insumos.svg" title="Asignar Insumos"></a>
    {% endif %}
    {% if datos.miTarea.insumos is not empty %}
    <table id="miTabla2">
        <th onclick="sortTable(1,'miTabla')">Nombre</th>
        <th onclick="sortTable(2,'miTabla')">Descripcion</th>
        <th onclick="sortTable(3,'miTabla')">Cantidad Utilizada</th>
        <th onclick="sortTable(4,'miTabla')">Accion</th>
        {% for insumo in datos.miTarea.insumos %}
        <tr>
            <td>{{ insumo.nombreInsumo }}</td>
            <td>{{ insumo.descripcion }}</td>
            <td>{{ insumo.cantidad }}</td>
            <td>
                <!--VER HISTORIAL-->
                <a href="/insumo/verHistorial?idInsumo={{ insumo.idInsumo }}"><img class="iconosTitulo"
                        src="/public/res/historyEstado.svg" title="Ver Historial"></a>
                <!--AUN NO FUNCIONA-->
                {% if  datos.miTarea.estado != "Finalizado" %}
                <form action="#" method="post" hidden
                    id="formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="cantidad" hidden>
                </form>
                <img class="iconos" src="/public/res/sumInsumo.svg" title="Sumar Stock" onclick="alertify.prompt('Sumar Stock','Seleccione la cantidad a sumar','',
                    function(evt,value){ 
                        document.getElementsByName('cantidad')[0].value = value ;
                        document.getElementById('formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}').submit()
                    },
                    function(){}
                    ).setting({'min':0,'type':'number','value':0});">
                <form action="#" method="post" hidden
                    id="formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="cantidad" hidden>
                </form>
                <img class="iconos" src="/public/res/minusInsumo.svg" title="Restar Stock"
                    onclick="alertify.prompt('Restar Stock','Seleccione la cantidad a restar','',function(evt,value){document.getElementsByName('cantidad')[0].value = value ;document.getElementById('formDesasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}').submit()},function(){}).set({'type':'number','min':0});">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2 class='error'>No hay Insumos asignados</h2>
    {% endif %}
</div>
{% endblock %}