{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>TAREAS CORRESPONDIENTES AL PEDIDO Nº {{ datos.idPedido }} </h1>
<input type="button" value="CREAR NUEVA TAREA" onclick="mostrarFormulario()">
<script>
    function mostrarFormulario() {
        var formularioTarea = document.getElementById('formularioTarea');
        if (formularioTarea.style.display == "block") {
            formularioTarea.style.display = "none";
        } else {
            formularioTarea.style.display = "block"
        }
    }
</script>
<form action="tarea/guardar" method="post" id="formularioTarea" style="display: none">
    <label for="idPedido">Pedido</label>
    <input type="text" name="idPedido" value="{{ datos.idPedido }}" readonly class="inputDisabled">
    <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
    <input type="textarea" name="descripcion" autofocus required placeholder="Ingrese la descripcion..">
    <label for="especializacion">Especializacion</label><span class="asterisco">*</span>
    <select name="especializacion">
        {% for especializacion in datos.especializaciones %}
        <option value="{{ especializacion }}">{{ especializacion }}</option>
        {% endfor %}
    </select>
    <label for="prioridad">Prioridad</label><span class="asterisco">*</span>
    <select name="prioridad">
        {% for prioridad in datos.prioridades %}
        <option value="{{ prioridad }}">{{ prioridad }}</option>
        {% endfor %}
    </select>
    <label for="estado">Estado</label>
    <input type="text" name="estado" value="{{ datos.estados.0 }}" readonly class="inputDisabled">
    <input type="submit" value="Crear Tarea">
</form>
<table>
    <th>Nº Tarea</th>
    <th>Descripcion</th>
    <th>Especializacion</th>
    <th>Prioridad</th>
    <th>Estado</th>
    <th>Accion</th>
    {% for tareas in datos.todasTareas %}
    <tr>
        <td>{{ tareas.idTarea }}</td>
        <td>{{ tareas.descripcion }}</td>
        <td>{{ tareas.especializacion }}</td>
        <td>{{ tareas.prioridad }}</td>
        <td>{{ tareas.estado }}</td>
        <td><a href="/tarea/modificar/seleccionado?idPedido={{ datos.idPedido }}&idTarea={{ tareas.idTarea }}"><input
                    type="button" value="Modificar"></a>
            <a href="#"><input type="button" value="Ver Insumos"></a>
            {% if tareas.estado == 'Iniciado' %}
            <form action="/pedido/tarea/eliminar" method="post">
                <input type="text" name="idPedido" value="{{ tareas.idPedido }}" hidden>
                <input type="text" name="idTarea" value="{{ tareas.idTarea }}" hidden>
                <input type="button" value="Eliminar" id="btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}"
                    onclick="document.getElementById('eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='inline-block';document.getElementById('eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='inline-block';document.getElementById('btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='none'">
                <input type="submit" value="Si" id="eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}"
                    style="display: none">
                <input type="reset" value="No" id="eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}"
                    style="display: none"
                    onclick="document.getElementById('eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='none';document.getElementById('eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='none';document.getElementById('btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}').style.display='inline-block'">
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if datos.todasTareas|length == 0 %}
<h2 class='error'>No hay Tareas asignadas aún</h2>
{% endif %}
{% endblock %}