{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<input type="button" value="IMPRIMIR" onclick="print()">
<h1>Su Tarea</h1>
<dl>
    <dt>Nº Pedido:</dt>
    <dd>{{ datos.miTarea.idPedido }}</dd>
    <dt>Nº Tarea:</dt>
    <dd>{{ datos.miTarea.idTarea }}</dd>
    <dt>Especializacion:</dt>
    <dd>{{ datos.miTarea.especializacionNombre }}</dd>
    <dt>Descripcion:</dt>
    <dd>{{ datos.miTarea.descripcion }}</dd>
    <dt>Estado:</dt>
    <dd>{{ datos.miTarea.estado }}</dd>
    <dt>Prioridad:</dt>
    <dd>{{ datos.miTarea.prioridad }}</dd>
</dl>
<h2>AGENTES</h2>
<a href="/tarea/agentes/asignar?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}"><input
        type="button" value="Asignar Agentes"></a>
<table>
    <th>Nº Agente</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Especializacion</th>
    <th>Accion</th>
    {% for agente in datos.miTarea.agentes %}
    <tr>
        <td>{{ agente.idAgente }}</td>
        <td>{{ agente.nombre }}</td>
        <td>{{ agente.apellido }}</td>
        <td>{{ agente.especializacionNombre }}</td>
        <td>
            <form action="/tarea/agentes/desasignar" method="post">
                <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                <input type="text" name="idAgente" value="{{ agente.idAgente }}" hidden>
                <input type="button" value="Desasignar Agente"
                    id="btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}"
                    onclick="document.getElementById('eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='inline-block';document.getElementById('eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='inline-block';document.getElementById('btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='none'">
                <input type="submit" value="Si"
                    id="eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}"
                    style="display: none">
                <input type="reset" value="No"
                    id="eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}"
                    style="display: none"
                    onclick="document.getElementById('eliminarSi{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='none';document.getElementById('eliminarNo{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='none';document.getElementById('btnEliminar{{ tareas.idPedido }}_{{ tareas.idTarea }}_{{ agente.idAgente }}').style.display='inline-block'">
            </form>
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Agentes asignados aún</h2>
    {% endfor %}
</table>
{% endblock %}