{% extends "base.html" %}

{% block title %}Ficha de Tarea{% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Ficha de Tarea"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}

{% endblock %}

{% block main %}
<div class="contenido3">
    <ul class="navTitulo">
        <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver" title=" Volver">
        <img class="iconosTitulo" src="/public/res/print.svg" onclick="print()" title="Imprimir">
        {% if datos.miTarea.estado != "Finalizado" and datos.miTarea.estado != "Cancelado" %}
        <a href="#" role="button" data-toggle="modal" data-target="#myModalModif{{ tarea.idTarea }}">
            <img class="iconos" src="/public/res/update.svg" title="Modificar">
        </a>
        <!-- The Modal -->
        <div class="modal fade" id="myModalModif{{ tarea.idTarea }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar Tarea</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/tarea/modificar/guardar" method="post" class="was-validated">
                            <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                            <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="especializacion">Especializacion:</label><span
                                        class="asterisco">*</span>
                                    <select name="especializacion" class="form-control custom-select">
                                        {% for especializacion in datos.especializaciones %}
                                        {% if especializacion.nombre == datos.miTarea.especializacionNombre %}
                                        <option value="{{ especializacion.nombre }}" selected>
                                            {{ especializacion.nombre }}</option>
                                        {% else %}
                                        <option value="{{ especializacion.nombre }}">
                                            {{ especializacion.nombre }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="prioridad">Prioridad:</label><span class="asterisco">*</span>
                                    {% if datos.miPedido.prioridad == 'Urgente' %}
                                    <input type="text" name="prioridad" value="Urgente" class="form-control" readonly>
                                    {% else %}
                                    <select name="prioridad" class="form-control custom-select">
                                        {% for prioridad in datos.prioridades %}
                                        {% if prioridad == datos.miTarea.prioridad %}
                                        <option value="{{ prioridad }}" selected>{{ prioridad }}</option>
                                        {% else %}
                                        <option value="{{ prioridad }}">{{ prioridad }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                                <textarea class="form-control" rows="4" id="descripcion" name="descripcion"
                                    required>{{ datos.miTarea.descripcion }}</textarea>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button to Open the Modal -->
        {% if datos.miTarea.estado != 'Iniciado' %}
        {% set estados = ['En Curso','Pendiente','Finalizado'] %}
        <a href="" role="button" data-toggle="modal" data-target="#myModal"><img class="iconosTitulo"
                src="/public/res/cambiarEstado.svg" onclick="mostrarFormulario()" title="Cambiar Estado"></a>
        {% endif %}
        {% endif %}
        <!-- VER HISTORIAL -->
        <a href="/tarea/verHistorial?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}"><img
                class="iconosTitulo" src="/public/res/historyEstado.svg" title="Ver Historial"></a>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Cambiar Estado</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/tarea/cambiarEstado/seleccionado" method="post" class="was-validated">
                            <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                            <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                            <input type="text" name="idOT" value="{{ datos.miTarea.miOT.idOT }}" hidden>
                            <div class="form-group">
                                <label for="estado">Estado</label>
                                <select name="estado" class="form-control custom-select">
                                    {% for estado in estados %}
                                    {% if estado != datos.miTarea.estado %}
                                    <option value="{{ estado }}">{{ estado }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                                <textarea class="form-control" rows="3" id="descripcion" name="descripcion"
                                    required></textarea>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </ul>

    <dl>
        <dt>Nº Pedido:</dt>
        <dd><a href="fichaPedido?id={{ datos.miTarea.idPedido }}">Pedido {{ datos.miTarea.idPedido }}</a></dd>
        <dt>Nº Tarea:</dt>
        <dd>{{ datos.miTarea.idTarea }}</dd>
        <dt>Especializacion:</dt>
        <dd>{{ datos.miTarea.especializacionNombre }}</dd>
        <dt>Estado:</dt>
        <dd>{{ datos.miTarea.estado }}</dd>
        <dt>Prioridad:</dt>
        <dd>{{ datos.miTarea.prioridad }}</dd>
        <dt>Descripcion:</dt>
        <dd class="descripcion">{{ datos.miTarea.descripcion }}</dd>
    </dl>
    <!--TABLA OT-->
    <h2 style="display: inline-block">ORDEN DE TRABAJO:</h2>
    {% if datos.miTarea.miOT is not empty %}
    <table>
        <th>Nº OT</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Estado</th>
        <th>Accion</th>
        <tr>
            <td> <a href="/fichaOT?idOT={{ datos.miTarea.miOT.idOT }}" title="Ver Mas">OT
                    {{ datos.miTarea.miOT.idOT }}</a>
            </td>
            <td> {{ datos.miTarea.miOT.fechaInicio }} </td>
            <td> {{ datos.miTarea.miOT.fechaFin }} </td>
            <td> {{ datos.miTarea.miOT.estado }} </td>
            <td> <a href="/fichaOT?idOT={{ datos.miTarea.miOT.idOT }}" title="Ver Mas"> <img class="iconos"
                        src="/public/res/vermas.svg"></a></td>
        </tr>
    </table>
    {% else %}
    {% if datos.miTarea.estado == "Iniciado" %}
    {% if datos.miTarea.agentes is empty %}
    <a href="#" onclick="alertify.alert('Error','Primero debe asignar agentes')"><img class="iconos"
            src="/public/res/add.svg" title="Crear OT"></a>
    {% else %}
    <a href="/ot/crear"><input type="button" value="Crear una OT"></a>
    {% endif %}
    {% endif %}
    <h2 class='error'>No está asignado a ninguna OT</h2>
    {% endif %}
    <!--TABLA AGENTES-->
    <h2 style="display: inline-block">AGENTES</h2>
    {% if datos.miTarea.estado != "Finalizado" and datos.miTarea.estado != "Cancelado" %}
    <a href="/tarea/agentes/asignar?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}">
        <img class="iconos" src="/public/res/addAgente.svg" title="Asignar Agentes">
    </a>
    {% endif %}
    {% if datos.miTarea.agentes is not empty %}
    <table id="miTabla">
        <th onclick="sortTable(0,'miTabla')">Nº Agente</th>
        <th onclick="sortTable(1,'miTabla')">Nombre</th>
        <th onclick="sortTable(2,'miTabla')">Apellido</th>
        <th onclick="sortTable(3,'miTabla')">Especializacion</th>
        <th onclick="sortTable(4,'miTabla')">Accion</th>
        {% for agente in datos.miTarea.agentes %}
        <tr>
            <td><a href="#" onclick="fichaPersona('{{ agente.idAgente }}');return false;">{{ agente.idAgente }} </a>
            </td>
            <td>{{ agente.nombre }}</td>
            <td>{{ agente.apellido }}</td>
            <td>{{ agente.especializacionNombre }}</td>
            <td>
                <a href="#" onclick="fichaPersona('{{ agente.idAgente }}');return false;">
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas" title="Ver Mas">
                </a>
                {% if  datos.miTarea.estado != "Finalizado" and datos.miTarea.estado != "Cancelado" %}
                <form action="/tarea/agentes/desasignar" method="post" hidden
                    id="formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ agente.idAgente }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idAgente" value="{{ agente.idAgente }}" hidden>
                </form>
                <img class="iconos" src="/public/res/remAgente.svg" title="Desasignar Agente"
                    onclick="alertify.confirm('Desasignar Agente','¿Esta seguro?',function(){document.getElementById('formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ agente.idAgente }}').submit()},function(){})">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2 class='error'>No hay Agentes asignados</h2>
    {% endif %}
    <!--TABLA INSUMOS-->
    <h2 style="display: inline-block">INSUMOS</h2>
    {% if datos.miTarea.estado != "Finalizado" and datos.miTarea.estado != "Cancelado" %}
    <a href="/tarea/insumos/asignar?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}">
        <img class="iconos" src="/public/res/insumos.svg" title="Asignar Insumos"></a>
    {% endif %}
    {% if datos.miTarea.insumos is not empty %}
    <table id="miTabla2">
        <th onclick="sortTable(1,'miTabla')">Nombre</th>
        <th onclick="sortTable(2,'miTabla')">Descripcion</th>
        <th onclick="sortTable(3,'miTabla')">Cantidad Utilizada</th>
        <th onclick="sortTable(4,'miTabla')">Accion</th>
        {% set i = 0 %}
        {% for insumo in datos.miTarea.insumos %}
        <tr>
            <td>{{ insumo.nombreInsumo }}</td>
            <td>{{ insumo.descripcion }}</td>
            <td>{{ insumo.cantidad }}</td>
            <td>
                {% if  datos.miTarea.estado != "Finalizado" and datos.miTarea.estado != "Cancelado" %}
                {% set i = i + 1 %}
                <form action="/tarea/insumos/reasignar" method="post" hidden
                    id="formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}_{{ i }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="text" name="nombreUsuario" value="{{ datos.userLogueado }}" hidden>
                    <input type="text" name="descripcion_{{ i }}" hidden>
                    <input type="number" name="cantidad_{{ i }}" hidden>
                    <input type="number" name="tipoMovimiento_{{ i }}" value="0" hidden>
                </form>
                <img class="iconos" src="/public/res/minusInsumo.svg" title="Restar Stock" onclick="alertify.prompt('Restar Stock','Seleccione la cantidad a restar (1-{{ insumo.cantidad }})','',
                    function(evt,value){
                        document.getElementsByName('cantidad_{{ i }}')[0].value = value ;
                        if(!(value > 0 || value < 0)){
                            alertify.alert('Error','Debe ingresar un valor válido');
                        } else {
                        alertify.prompt2('Restar Stock','Ingrese una Descripcion','',
                        function(evt,value2){
                            document.getElementsByName('descripcion_{{ i }}')[0].value = value2 ;
                            document.getElementById('formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}_{{ i }}').submit()
                        },
                        function(){}
                        ).set({'type':'text'});
                    }
                    },
                    function(){}
                    ).set({'type':'number','value':0,'min':0,'max':'{{ insumo.cantidad }}'});">
                {% set i = i + 1 %}
                <form action="/tarea/insumos/reasignar" method="post" hidden
                    id="formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}_{{ i }}">
                    <input type="text" name="idPedido" value="{{ datos.miTarea.idPedido }}" hidden>
                    <input type="text" name="idTarea" value="{{ datos.miTarea.idTarea }}" hidden>
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="text" name="nombreUsuario" value="{{ datos.userLogueado }}" hidden>
                    <input type="text" name="descripcion_{{ i }}" hidden>
                    <input type="number" name="cantidad_{{ i }}" hidden>
                    <input type="number" name="tipoMovimiento_{{ i }}" value="1" hidden>
                </form>
                <img class="iconos" src="/public/res/sumInsumo.svg" title="Sumar Stock" onclick="alertify.prompt('Sumar Stock','Seleccione la cantidad a sumar (1-{{ insumo.stock }})','',
                    function(evt,value){
                        document.getElementsByName('cantidad_{{ i }}')[0].value = value ;
                        if(!(value > 0 || value < 0)){
                            alertify.alert('Error','Debe ingresar un valor válido');
                        } else {
                        alertify.prompt2('Sumar Stock','Ingrese una Descripcion','',
                        function(evt,value2){
                            document.getElementsByName('descripcion_{{ i }}')[0].value = value2 ;
                            document.getElementById('formReasignar{{ datos.miTarea.idPedido }}_{{ datos.miTarea.idTarea }}_{{ insumo.idInsumo }}_{{ i }}').submit()
                        },
                        function(){}
                        ).set({'type':'text'});
                    }
                    },
                    function(){}
                    ).set({'type':'number','value':0,'min':0,'max':'{{ insumo.stock }}'});">
                {% endif %}
                <!--VER HISTORIAL-->
                <a
                    href="/insumo/verHistorialParticular?idPedido={{ datos.miTarea.idPedido }}&idTarea={{ datos.miTarea.idTarea }}&idInsumo={{ insumo.idInsumo }}"><img
                        class="iconosTitulo" src="/public/res/historyEstado.svg" title="Ver Historial"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2 class='error'>No hay Insumos asignados</h2>
    {% endif %}
</div>
<script src="/public/js/ajaxFichaPersona.js"></script>
{% endblock %}