{% extends "base.html" %}

{% block title %} Gestion de Agentes {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Agentes"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
<div class="contenido3">
    <!-- Button to Open the Modal -->
    {% for value in datos.permisos %}
    {% if value.idPermiso == "29" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
            src="/public/res/add.svg" title="Crear Sector">Crear Nuevo</a>
    {% endif %}
    {% else %}

    {% endfor %}



    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alta de Agente</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    {% if datos.especializaciones is empty %}
                    <div class="alert alert-danger text-center" role="alert">Primero debe añadir una Especializacion <a
                            href="/especializacion/administracionEspecializacion" class="alert-link">HAGA CLICK AQUI</a>
                    </div>
                    {% else %}
                    {% if datos.personas is empty %}
                    <div class="alert alert-danger text-center" role="alert">No hay Personas cargadas o ya están todas
                        asignadas a
                        un Agente.<br> Para agregar mas Personas <a href="/persona/AdministracionPersonas"
                            class="alert-link">HAGA CLICK AQUI</a>
                    </div>
                    {% else %}
                    <form action="/agente/administracionAgente/cargarNuevoAgente" method="post" class="was-validated">
                        <div class="form-group">
                            <label for="idAgente">Persona</label><span class="asterisco">*</span>
                            <select name="idAgente" class="form-control custom-select">
                                {% for persona in datos.personas %}
                                <option value="{{ persona.dni }}">{{ persona.nombre }} {{ persona.apellido }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-group">
                            <label for="especializacion">Especializacion</label><span class="asterisco">*</span>
                            <select name="especializacion" class="form-control custom-select">
                                {% for especializacion in datos.especializaciones %}
                                <option value="{{ especializacion.nombre }}">{{ especializacion.nombre }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Agente</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Apellido</th>
                <th onclick="sortTable(3,'miTabla')">Especializacion</th>
                <th onclick="sortTable(4,'miTabla')">Disponibilidad</th>
                <th onclick="sortTable(5,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for agente in datos.todosAgentes %}
        <tr>
            <td><a href="#" onclick="fichaPersona('{{ agente.idAgente }}');return false;">{{ agente.idAgente }}</a></td>
            <td>{{ agente.nombre }}</td>
            <td>{{ agente.apellido }}</td>
            <td>{{ agente.especializacionNombre }}</td>
            {% if agente.disponible == 1 %}
            <td>DISPONIBLE</td>
            {% else %}
            <td>OCUPADO</td>
            {% endif %}
            <td>
                <!--FICHA PERSONA-->
                {% for value in datos.permisos %}
                {% if value.idPermiso == "32" %}
                <a href="#" onclick="fichaPersona('{{ agente.idAgente }}');return false;" title="Ver Mas"
                    class="btn btn-outline-info btn-xs">
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                {% endif %}
                {% else %}

                {% endfor %}

                {% for value in datos.permisos %}
                {% if value.idPermiso == "31" %}
                <!--MODIFICAR AGENTE(ESPECIALIZACION)-->
                <a href='#' role="button" data-toggle="modal" data-target="#myModalModif{{ agente.idAgente }}"
                    class="btn btn-outline-info btn-xs">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!-- The Modal -->
                <div class="modal fade" id="myModalModif{{ agente.idAgente }}">
                    <div class="modal-dialog modal-xs">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar Agente</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/agente/administracionAgente/modificarAgente" method="post"
                                    class="was-validated">
                                    <input type="text" name="idAgente" value="{{ agente.idAgente }}" hidden>
                                    <div class="form-group">
                                        <label for="nombreyape">Nombre y Apellido</label>
                                        <input type="text" name="nombreyape" class="form-control"
                                            value="{{ agente.nombre }} {{ agente.apellido }}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="especializacion">Especializacion</label><span
                                            class="asterisco">*</span>
                                        <select name="especializacion" class="form-control custom-select">
                                            {% for especializacion in datos.especializaciones %}
                                            {% if especializacion.nombre == agente.especializacionNombre %}
                                            <option value="{{ especializacion.nombre }}" selected>
                                                {{ especializacion.nombre }}</option>
                                            {% else %}
                                            <option value="{{ especializacion.nombre }}">{{ especializacion.nombre }}
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% else %}

                {% endfor %}




                <!--ELIMINAR AGENTE SI NO ESTUVO TRABAJANDO EN ALGUNA TAREA-->
                {% set desabilitado = "disabled" %}
                {% if agente.usado == false %}
                {% set desabilitado = "" %}
                {% endif %}
                <form action="/agente/eliminar" method="post" style="display: inline-block"
                    id="formEliminarAgente{{ agente.idAgente }}">
                    <input type="text" name="idAgente" value="{{ agente.idAgente }}" hidden>
                </form>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "30" %}
                <a href="#" class="btn btn-outline-info btn-xs {{ desabilitado }}" role="button"
                    onclick="alertify.confirm('Eliminar Agente','¿Esta seguro?',function(){document.getElementById('formEliminarAgente{{ agente.idAgente }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/del.svg" title="Eliminar Agente"></a>
                {% endif %}
                {% else %}

                {% endfor %}


            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay ningun agente cargado</h2> {% endfor %}
    </table>
</div>
{% endblock %}