#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url("/public/res/loading2.gif") no-repeat center center;
    z-index: 10000;
}

#formRecoverPassword .form-control:focus,
#formResetPassword .form-control:focus {
    border: 1px solid black !important;
}