:after,
:before {
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
}

i {
  margin-bottom: 4px;
}

.btn-app {
  display: block;
  color: white;
  box-shadow: none;
  border-radius: 3px;
  position: relative;
  padding: 7px 5px 0;
  margin: 0 auto 5px;
  min-width: 50px;
  max-width: 60px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f4f4f4;
  font-size: 12px;
  transition: all .2s;
  background-color: steelblue !important;
  /* float: left; */
}

.btn-app>.fa,
.btn-app>.glyphicon,
.btn-app>.ion {
  font-size: 25px;
  display: block;
}

.btn-app:hover {
  border-color: #aaa;
  transform: scale(1.1);
}

.pdf {
  background-color: #dc2f2f !important;
}

.excel {
  background-color: #3ca23c !important;
}

.csv {
  background-color: #e86c3a !important;
}

.imprimir {
  background-color: #8766b1 !important;
}

/*
Esto es opcional pero sirve para que todos los botones de exportacion se distribuyan de manera equitativa usando flexbox
.flexcontent {
  display: flex;
  justify-content: space-around;
}
*/

.selectTable {
  height: 40px;
  float: right;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
  margin-top: 15px;
}

.btn-secondary {
  color: #fff;
  background-color: #4682b4;
  border-color: #4682b4;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #315f86;
  border-color: #545b62;
}



.titulo-tabla {
  color: #606263;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}






.inline {
  display: inline-block;
  padding: 0;
  text-align: start;
}

.buttons-page-length {
  display: none;
}

.buttons-collection {
  margin: 0 10px 0 0;
  padding-right: 1rem;
  border-radius: 50px !important;
}

.imprimir:hover {
  background-color: #6d5290 !important;
}