{% block title %}Gestion de Agentes{% endblock %}

{% block header %}

{{ include('partials/nav.html') }}

{% endblock %}

{% block head %}

<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}
{% block main %}

   
  <nav class="Otros">

    <ul>
    
     
       
       
        <li><a href="/agente/altaAgente">Agregar Agente</a></li>
        <li><a href="/agente/modificarAgente">Modificar Modificar</a></li>
        <li><a href="/agente/eliminarAgente">Eliminar Agente</a></li>

       
       
    </ul>
</nav> 
   
   <form action="/agente/validarAgente" method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" placeholder="nombre"><br>
    <label for="apellido">Contraseña</label>
    <input type="text" name="apellido" placeholder="apellido">
    <select  name="nombreEspecializacion" id="nombreEspecializacion">
     
         {% for nombre in nombresEspecialidades %}
        <option value={{ nombre.nombreEspecializacion }}>{{ nombre.nombreEspecializacion }}</option>
        {% endfor %}}
    </select>
    <input type="submit" value="Agregar">
</form>
{% endblock %}