{% extends "base.html" %} {% block title %}Lista de OTs{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %} {% endblock %} {% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<h1>Listado de Agentes Asignados</h1>
<table>
    <th>Nº Agente</th>
    <th>Nº Pedido</th>
    <th>Nº Tarea</th>
    {% for itemAgente in datos.itemAgente %}
    <tr>
        <td>{{ itemAgente.idAgente }}</td>
        <td>{{ itemAgente.idPedido }}</td>
        <td>{{ itemAgente.idTarea }}</td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Agentes asignados</h2> {% endfor %}
</table>
{% endblock %}