{% extends "base.html" %}

{% block title %}Alta de Insumo{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <h1>Modificar Agente</h1>
    <form action="/agente/administracionAgente/modificarAgente" method="POST">
        <fieldset class="basicosAgente">
            <legend> Modificar Agente</legend>
            <label for="idAgente">Numero de Agente</label>
            <input type="text" name="idAgente" value="{{ datos.agente.idAgente }}" readonly class="inputDisabled">
            <label for="nombre">Nombre del Agente</label>
            <input type="text" name="nombre" value="{{ datos.agente.nombre }}" disabled readonly class="inputDisabled">
            <label for="apellido">Apellido del Agente</label>
            <input type="text" name="apellido" value="{{ datos.agente.apellido }}" disabled readonly
                class="inputDisabled">
            <select name="especializacion">
                {% for especializacion in datos.especializaciones %}
                {% if especializacion == datos.agente.especializacionNombre %}
                <option value="{{ especializacion }}" selected>{{ especializacion }}</option>
                {% else %}
                <option value="{{ especializacion }}">{{ especializacion }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </fieldset>
        <input type="reset" value="Volver" onclick="history.back()">
        <input type="submit">
    </form>
</div>
{% endblock %}