{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %}
<h1>Permisos</h1>
<input type="button" value="Asignar Permisos" onclick="mostrarFormulario()">
<script>
    function mostrarFormulario() {
        var formularioPermisos = document.getElementById('formularioPermisos');
        if (formularioPermisos.style.display == "block") {
            formularioPermisos.style.display = "none";
        } else {
            formularioPermisos.style.display = "block"
        }
    }
</script>
<form action="/usuario/asignarPermiso" method="POST" id="formularioPermisos"
    style="display: none; border: 1px solid black">
    <select name="idRol" id="nombreRol">
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for rol in datos.roles %}
        <option value={{ rol.idRol }}>{{ rol.nombreRol }}</option>
        {% endfor %}}
    </select>
    <select multiple size="5" name="idPermiso[]" id="nombrePermiso">
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for permiso in datos.permisos %}
        <option value="{{ permiso.idPermiso }}">{{ permiso.nombrePermiso }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Agregar">
    <input type="reset">
</form>


<!-- todavia no busca , agregar ruta al action-->
<h3>Permisos por Rol</h3>
<form action="/usuario/AdministracionPermisos" method="GET">
    <select name="rol">
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for rol in datos.roles %}
        <option value={{ rol.idRol }}_{{ rol.nombreRol }}>{{ rol.nombreRol }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Buscar">
</form>

<table id="miTabla">
    <th onclick="sortTable(0,'miTabla')">Permisos del Rol {{ datos.permisosxrol.nombreRol }}</th>
    {% set i = 0 %}
    {% for permiso in datos.permisosxrol %}
    <tr>
        <td>{{ permiso.nombrePermiso }}</td>
    </tr>
    {% set i = i + 1 %}
    {% endfor %}
    {% if i == 1 %}
    <h2 class="error">El Rol {{ datos.permisosxrol.nombreRol }} no tiene ningun Permiso Asignado</h2>
    {% endif %}

</table>
{% endblock %}