{% extends "base.html" %}

{% block title %} Gestion de Permisos {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Permisos"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
<div class="general">
    <a href="#" onclick="mostrarFormulario()" id="btnCrearEspecializacion"><img class="iconos"
            src="/public/res/nuevo.svg" title="Crear Permiso"></a>
    <script>
        function mostrarFormulario() {
            var formularioEspecializacion = document.getElementById('formularioEspecializacion');
            if (formularioEspecializacion.style.display == "block") {
                formularioEspecializacion.style.display = "none";
            } else {
                formularioEspecializacion.style.display = "block"
            }
        }
    </script>

    <form action="/permisos/altaPermiso" method="post" id="formularioEspecializacion" style="display: none">
        <fieldset class="basicosEspecializacion">
            <legend> Alta de Permisos</legend>
            <label for="nombre">Nombre del Permisos</label>
            <input type="text" name="nombre" autofocus>
        </fieldset>
        <input type="submit">
    </form>

    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">ID Permisos</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for permiso in datos.todosPermisos %}
        <tr>
            <td>{{ permiso.idPermiso }}</td>
            <td>{{ permiso.nombrePermiso }}</td>
            <td>
                <a
                    href='/especializacion/modificar/seleccionado?idEspecializacion={{ especializacion.idEspecializacion }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <form action="/especializacion/eliminar" method="post" style="display: inline-block"
                    id="formEliminarEspecializacion{{ especializacion.idEspecializacion }}">
                    <input type="text" name="idEspecializacion" value="{{ especializacion.idEspecializacion }}" hidden>
                </form>
                <a
                    onclick="alertify.confirm('Eliminar Especializacion','¿Esta seguro?',function(){document.getElementById('formEliminarEspecializacion{{ especializacion.idEspecializacion }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/del.svg" title="Eliminar Especializacion"></a>
            </td>
        </tr>
        {% else %}
        <h2 class="error">No hay ningun Permiso cargado</h2>
        {% endfor %}
    </table>
</div>
{% endblock %}