{% extends "base.html" %}
{% block title %} Gestion de Agentes {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% block header %}
{% include 'partials/header.html' with {datos:datos} only %}
{% endblock %}
<div>
    <h2 class="titulo-tabla">Agentes Registrados</h2>

    <!-- BOTON NEW AGENTE -->
    {% if "29" in datos.permisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew"><i
            class="fal fa-plus"></i> Crear Nuevo</button>
    {% endif %}

    <!-- TABLA AGENTES -->
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>Nº Agente </th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especializacion</th>
                <th>Disponibilidad</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for agente in datos.todosAgentes %}
            <tr>
                <td><a href="#" onclick="fichaPersona('{{ agente.idAgente }}');">{{ agente.idAgente }}</a>
                </td>
                <td>{{ agente.nombre }}</td>
                <td>{{ agente.apellido }}</td>
                <td>{{ agente.especializacionNombre }}</td>
                <td>{{ agente.disponible }}</td>
                <td>
                    {% set deshabilitado = "disabled" %}
                    {% set notAllowed = " notAllowed" %}
                    {% if agente.usado == false %}
                    {% set deshabilitado = "" %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group float-none" role="group">
                        {% if "32" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            onclick="fichaPersona('{{ agente.idAgente }}');" title="Ver Mas"><i
                                class="fal fa-eye fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                        {% if "31" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" onclick="modificarModal('{{ agente|json_encode }}');"
                            title="Editar Agente"><i class="fal fa-pencil-alt fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                        {% if "30" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" onclick="eliminarModal('{{ agente|json_encode }}');"
                            title="Eliminar Agente"><i class="fal fa-trash-alt fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class='error'>No hay ningun agente cargado</h2>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- MODALES NEW, UPDATE Y DELETE -->
<!--NEW AGENTE-->
{% if "29" in datos.permisos %}
<div class="modal fade" id="modalNew">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Alta de Agente</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                {% if datos.especializaciones is empty %}
                <div class="alert alert-danger text-center" role="alert">Primero debe añadir una Especializacion <a
                        href="/especializaciones" class="alert-link">HAGA CLICK AQUI</a>
                </div>
                {% else %}
                {% if datos.personas is empty %}
                <div class="alert alert-danger text-center" role="alert">No hay Personas cargadas o ya están todas
                    asignadas a
                    un Agente.<br> Para agregar mas Personas <a href="/administracion/personas" class="alert-link">HAGA
                        CLICK AQUI</a>
                </div>
                {% else %}
                <form action="newAgente" method="post" class="was-validated">
                    <div class="form-group">
                        <label for="idAgente">Persona</label><span class="asterisco">*</span>
                        <select name="idAgente" class="form-control custom-select">
                            {% for persona in datos.personas %}
                            <option value="{{ persona.dni }}">{{ persona.nombre }},&nbsp; {{ persona.apellido }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Complete este campo</div>
                    </div>
                    <div class="form-group">
                        <label for="idEspecializacion">Especializacion</label><span class="asterisco">*</span>
                        <select name="idEspecializacion" class="form-control custom-select">
                            {% for especializacion in datos.especializaciones %}
                            <option value="{{ especializacion.idEspecializacion }}">{{ especializacion.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Complete este campo</div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--UPDATE AGENTE-->
{% if "31" in datos.permisos %}
<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalUpdate"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updateAgente" method="post" class="was-validated">
                    <input type="text" name="idAgente" id="updateID" hidden>
                    <div class="form-group">
                        <label for="nombreyape">Nombre y Apellido</label>
                        <input type="text" name="nombreyape" id="nombreyape" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="idEspecializacion">Especializacion</label><span class="asterisco">*</span>
                        <select name="idEspecializacion" id="idEspecializacion" class="form-control custom-select">
                            {% for especializacion in datos.especializaciones %}
                            <option value="{{ especializacion.idEspecializacion }}">
                                {{ especializacion.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--DELETE AGENTE SI NO ESTUVO TRABAJANDO EN ALGUNA TAREA-->
{% if "30" in datos.permisos %}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-3">¿Está seguro?</p>
                <form action="deleteAgente" method="post">
                    <input type="text" id="deleteID" name="idAgente" hidden>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- FIN MODALES NEW, UPDATE Y DELETE -->

<script src="/public/js/ajax/ajaxFichaPersona.js"></script>
<script src="/public/js/jsBasicos/jsAgente.js"></script>
<script>
    verificarAlertas('{{ datos.alertas|json_encode|raw }}', 'Agente');
    ordenarTabla('miTabla', '0,1,2,3,4', [5], 'Agentes Registrados');
</script>
{% endblock %}