body {
    font-family: Calibri;
    /* background-color: steelblue; */
    background-color: rgb(50, 50, 50);
}

.imagen {
    position: absolute;
    margin: 0 0 0 0;
    right: 1298px;
    top: 8px;
    height: 59px;
    width: 60px;
}

main {
    position: absolute;
    top: 70px;
    width: 98.9vw;
    /* max-width: 1024px; */
    height: 540px;
    background: #4e514e;
    background: #F2F2F2;
    margin: auto;
    /* background: white; 
   /* padding: 10px;*/
}

/* Nav styles */

nav.main-nav {
    background-color: #17c;
    padding: 20px 0px;
    text-align: center;
}

nav.main-nav ol {
    position: inherit;
    margin: 0 0 0 0;
    right: 1298px;
    top: 8px;
    height: 60px;
    width: 60px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #f1f1f1;
    color: black;
    display: inline;
}

nav.main-nav ol li {
    height: 60px;
    width: 60px;
    display: inline;
}

nav.main-nav ol li a {
    /* display: block; */
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    height: 60px;
    width: 60px;

}

nav.main-nav ol li a:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F27329;
    color: white;

}

.active {
    background-color: rgb(156, 236, 82);
    color: white;
}

/* Mis cosas */

h1 {
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

form {
    /*   background-color: rgb(135, 151, 179); */
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #BBC7D6;
}

form label {
    color: black;
}

input,
select {
    color: rgb(50, 50, 50);
    margin-bottom: 1em;
    padding: 4px 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

input[type=submit] {
    background-color: rgba(200, 255, 200, 1);
    width: 20%;
    margin: 2%;
    margin-left: 700px;
}

input[type=reset] {
    background-color: rgba(255, 200, 200, 1);
    width: 20%;
    margin: 2%;
}

input[type=button] {
    background-color: rgba(0, 0, 0);
    color: white;
}

input[type=button]:hover {
    transform: scale(1.1);
}

form output {
    /* border: 2px solid black; */
    background-color: rgb(156, 236, 82);
    padding: 1px 5px;
}

/* Lo uso luego de cargar el formulario */

.success {
    color: rgb(57, 185, 64);
}

/* Coloreo el asterisco de campo requerido */

.asterisco {
    color: rgb(226, 47, 47);
    font-weight: bold;
    /* Negrita */
    margin: 0.5em;
}

/* Coloreo el aviso de error */

.error {
    color: rgb(226, 47, 47);
    font-weight: bold;
    font-size: 2em;
}

dl {
    background-color: #4e514e;
    /*   width: 100%; */
}

dt {
    /* text-decoration: underline; */
    float: left;
    width: 20%;
    margin-right: 10px;
    background-color: darkgray;
    padding: 10px;
}

dt:nth-child(4n+1),
dd:nth-child(4n+2) {
    color: #8D9E8D;
    color: azure;
}

dd {
    width: 97%;
    margin: 1px;
    padding: 10px;
    background-color: gray;
}

.div input {
    border-color: black;
    border: 1px;
    margin: 0 0 0 0;
    top: 8px;
    height: 60px;
    width: 160px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #f1f1f1;
    color: black;
    display: inline;
}

.div input:hover {
    border-color: black;
    border: 1px;
    margin: 0 0 0 0;
    top: 8px;
    height: 60px;
    width: 160px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #F27329;
    color: black;
    display: inline;
}

.general {
    top: 50px;
    left: 500px;
    position: absolute;
    height: 300px;
    width: 120px;
    display: flex;
}

.Insumos {
    top: 50px;
    left: 250px;
    position: absolute;
    height: 140px;
    width: 120px;
    display: flex;
}

.Otros {
    top: 50px;
    left: 750px;
    position: absolute;
    height: 320px;
    width: 120px;
    display: flex;
}

legend {
    text-align: center;
}

.salir {
    border-color: black;
    border: 1px;
    height: 19px;
    position: absolute;
    top: 30px;
    right: 28px;
}

.salir a {
    height: 15px;
    position: absolute;
    top: -8px;
    right: -15px;
}

.user {
    color: white;
    position: absolute;
    margin: 0 0 0 0;
    right: 60px;
    top: 6px;
    height: 59px;
    width: 60px;
}

/*
table, td, th {
  border: 1px solid;
}*/

table {
    width: 100%;
    /* table-layout: fixed; */
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    /* font-size: 12px; */
    color: #fff;
    text-transform: uppercase;
    /* border-left: 1px solid white; */
    background-color: #120326;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    /* font-size: 12px; */
    background-color: rgba(255, 255, 255, 0.1);
    background-color: #BBC7D6;
    color: black;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.basicosPedidos {
    width: 20px;
    margin: 2%;
}

.radioInput {
    width: auto;
}

.labelRadioInput {
    display: block;
}

#btnTareas {
    border: 2px solid #120326;
}