/* Nav styles   #17c  */

nav.main-nav {
    width: 99vw;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    border-bottom: solid 0.2vw rgba(0, 0, 0, .3);
    /* box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);*/
    background-color: #f1f1f1;
    padding: 1.4vw 0vw;
    text-align: center;
}
nav.main-nav ol {
    position: inherit;
    margin: 0 0 0 0;
    right: 95vh;
    top: 8vh;
    height: 6vh;
    width: 6vw;
    list-style-type: none;
    margin: 0vh;
    padding: 0vh 0vw;
    /* width: 100%; */
    background-color: #f1f1f1;
    color: black;
    display: inline;
}
nav.main-nav ol li {
    height: 2vh;
    width: 2vw;
    display: inline;
}
nav.main-nav ol li a {
    /* display: block; */
    color: #000;
    padding: 2vh 2vw;
    text-decoration: none;
    height: 2vh;
    width: 2vw;
}
nav.main-nav ol li a:hover {
    padding-top: 6vh;
    padding-bottom: 3vh;
    background-color: #F27329;
    color: white;
}
.active {
    background-color: rgb(156, 236, 82);
    color: white;
}
.titulo {
    top: 1vh;
    position: absolute;
    right: 80vw;
}
.user {
    color: black;
    position: absolute;
    margin: 0 0 0 0;
    right: 0vw;
    top: 4.50vh;
    height: 5vh;
    width: 20vw;
}
.imagen {
    position: absolute;
    margin: 0 0 0 0;
    right: 94.85vw;
    top: 0vh;
    height: 10.2vh;
    width: 5vw;
}
