/* Nav styles   #17c  */

nav.main-nav {
    width: 100vw;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    /*  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);*/
    background-color: #f1f1f1;
    padding: 20px 0px;
    text-align: center;
}
nav.main-nav ol {
    position: inherit;
    margin: 0 0 0 0;
    right: 1298px;
    top: 8px;
    height: 60px;
    width: 60px;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
    /* width: 100%; */
    background-color: #f1f1f1;
    color: black;
    display: inline;
}
nav.main-nav ol li {
    height: 60px;
    width: 60px;
    display: inline;
}
nav.main-nav ol li a {
    /* display: block; */
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    height: 60px;
    width: 60px;
}
nav.main-nav ol li a:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F27329;
    color: white;
}
.active {
    background-color: rgb(156, 236, 82);
    color: white;
}
.titulo {
    top: 4px;
    position: absolute;
    right: 1070px;
}
.user {
    color: black;
    position: absolute;
    margin: 0 0 0 0;
    right: 0px;
    top: 28px;
    height: 59px;
    width: 300px;
}
a .salir {
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
}
a .salir {
    color: red;
}
a .salir:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: none;
    color: white;
}
.imagen {
    position: absolute;
    margin: 0 0 0 0;
    right: 1300px;
    top: 8px;
    height: 59px;
    width: 60px;
}
