{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <input type="button" value="Volver" onclick="history.back()">
    <h1>TAREAS SIN ASIGNAR </h1>
    <form action="/ot/crear/seleccionados" method="post">
        <table id="miTabla">
            <th onclick="sortTable(0,'miTabla')">Nº Pedido</th>
            <th onclick="sortTable(1,'miTabla')">Nº Tarea</th>
            <th onclick="sortTable(2,'miTabla')">Descripcion</th>
            <th onclick="sortTable(3,'miTabla')">Especializacion</th>
            <th onclick="sortTable(4,'miTabla')">Prioridad</th>
            <th onclick="sortTable(5,'miTabla')">Seleccionar</th>
            {% set i = 1 %}
            {% for tareas in datos.tareasSinAsignar %}
            <tr>
                <td>{{ tareas.idPedido }}</td>
                <td>{{ tareas.idTarea }}</td>
                <td>{{ tareas.descripcion }}</td>
                <td>{{ tareas.especializacionNombre }}</td>
                <td>{{ tareas.prioridad }}</td>
                <td><input type="checkbox" class="clsCasilla" name=" {{ i }}_{{ tareas.idPedido }}"
                        value="{{ tareas.idTarea }}" onclick="deRequireCb('clsCasilla')" required></td>
                {% set i = i + 1 %}
            </tr>
            {% endfor %}
        </table>
        {% if datos.tareasSinAsignar|length == 0 %}
        <h2 class='error'>No hay Tareas o ya están todas asignadas</h2>
        {% else %}
        <input type="submit" value="Crear OT">
        {% endif %}
    </form>
    <script>
        function deRequireCb(elClass) {
            el = document.getElementsByClassName(elClass);

            var atLeastOneChecked = false; //at least one cb is checked
            for (i = 0; i < el.length; i++) {
                if (el[i].checked === true) {
                    atLeastOneChecked = true;
                }
            }

            if (atLeastOneChecked === true) {
                for (i = 0; i < el.length; i++) {
                    el[i].required = false;
                }
            } else {
                for (i = 0; i < el.length; i++) {
                    el[i].required = true;
                }
            }
        }
    </script>
</div>
{% endblock %}