{% extends "base.html" %} {% block title %}Lista de OTs{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<h1>Listado de Ordenes de Trabajo</h1>
<a href="/ot/crear">
    <input type="button" value="Crear OT">
</a>

<form action="/pedido/buscar" method="POST">
    <select name="filtro">
        <option value="id">Nº OT</option>
        <option value="sector">SECTOR</option>
        <option value="fechaInicio">FECHA INICIO</option>
        <option value="estado">ESTADO</option>
        <option value="prioridad">PRIORIDAD</option>
    </select>

    <input name="textBusqueda" type="Search" placeholder="Escribe parametro">
    <input type="submit" value="Buscar">
</form>

<table id="miTabla">
    <th onclick="sortTable(0,'miTabla')">Nº OT</th>
    <th onclick="sortTable(1,'miTabla')">Fecha de Inicio</th>
    <th onclick="sortTable(2,'miTabla')">Fecha de Fin</th>
    <th onclick="sortTable(3,'miTabla')">Estado</th>
    <th onclick="sortTable(4,'miTabla')">Tareas</th>
    <th onclick="sortTable(5,'miTabla')">Accion</th>
    {% for OT in datos.todasOT %}
    <tr>
        <td>{{ OT.idOT }}</td>
        <td>{{ OT.fechaInicio }}</td>
        <td>{{ OT.fechaFin }}</td>
        <td>{{ OT.estado }}</td>
        <td>{{ OT.cantTareas }}</td>
        <td>
            <a href='/fichaOT?idOT={{ OT.idOT }}'>
                <input type="button" value="VER MAS">
            </a>
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay OTs</h2> {% endfor %}
</table>
{% endblock %}