{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>Su Orden de Trabajo</h1>
<input type="button" value="IMPRIMIR" onclick="print()">
<dl>
    <dt>Nº OT:</dt>
    <dd>{{ datos.miOT.idOT }}</dd>
    <dt>Fecha de Inicio:</dt>
    <dd>{{ datos.miOT.fechaInicio }}</dd>
    <dt>Fecha de Fin:</dt>
    <dd>{{ datos.miOT.fechaFin }}</dd>
    <dt>Estado:</dt>
    <dd>{{ datos.miOT.estado }}</dd>
</dl>
<h2>TAREAS</h2>
<table id="miTabla">
    <th onclick="sortTable(0,'miTabla')">Nº Pedido</th>
    <th onclick="sortTable(1,'miTabla')">Nº Tarea</th>
    <th onclick="sortTable(2,'miTabla')">Sector</th>
    <th onclick="sortTable(3,'miTabla')">Descripcion</th>
    <th onclick="sortTable(4,'miTabla')">Especializacion</th>
    <th onclick="sortTable(5,'miTabla')">Prioridad</th>
    <th onclick="sortTable(6,'miTabla')">Estado</th>
    <th onclick="sortTable(7,'miTabla')">Accion</th>
    {% for tarea in datos.miOT.tareas %}
    {% set estilo = "" %}
    {% if tarea.estado == "Finalizado" %}
    {% set estilo = "style=background-color:lightcoral" %}
    {% endif %}
    <tr>
        <td {{ estilo }}><a href="/fichaPedido?id={{ tarea.idPedido }}" title="Ver Mas">Pedido {{ tarea.idPedido }}</a>
        </td>
        <td {{ estilo }}><a href="/fichaTarea?idPedido={{ tarea.idPedido }}&idTarea={{ tarea.idTarea }}"
                title="Ver Mas"> Tarea
                {{ tarea.idTarea }}</a></td>
        <td {{ estilo }}>{{ tarea.sector }}</td>
        <td {{ estilo }}>{{ tarea.descripcion }}</td>
        <td {{ estilo }}>{{ tarea.especializacionNombre }}</td>
        <td {{ estilo }}>{{ tarea.prioridad }}</td>
        <td {{ estilo }}>{{ tarea.estado }}</td>
        <td {{ estilo }}>
            {% if tarea.estado != 'Finalizado' %}
            {% set estados = ['En Curso','Pendiente','Finalizado'] %}
            <form {{ estilo }} action="/tarea/cambiarEstado/seleccionado" method="post">
                <input type="text" name="idPedido" value="{{ tarea.idPedido }}" hidden>
                <input type="text" name="idTarea" value="{{ tarea.idTarea }}" hidden>
                <input type="text" name="idOT" value="{{ datos.miOT.idOT }}" hidden>
                <label for="estado" id="estadoLabel{{ tarea.idPedido }}_{{ tarea.idTarea }}"
                    style="display: none">Estado</label>
                <select name="estado" id="estadoSelect{{ tarea.idPedido }}_{{ tarea.idTarea }}" style="display: none">
                    {% for estado in estados %}
                    <option value="{{ estado }}">{{ estado }}</option>
                    {% endfor %}
                </select>
                <input type="button" value="Cambiar Estado"
                    id="formCambiarEstado{{ tarea.idPedido }}_{{ tarea.idTarea }}"
                    onclick="document.getElementById('cambiarEstadoSi{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='inline-block';document.getElementById('{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='inline-block';document.getElementById('formCambiarEstado{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='none';document.getElementById('estadoLabel{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='inline-block';document.getElementById('estadoSelect{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='inline-block'">
                <input type="submit" value="Cambiar" id="cambiarEstadoSi{{ tarea.idPedido }}_{{ tarea.idTarea }}"
                    style="display: none">
                <input type="reset" value="Salir" id="{{ tarea.idPedido }}_{{ tarea.idTarea }}" style="display: none"
                    onclick="document.getElementById('cambiarEstadoSi{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='none';document.getElementById('{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='none';document.getElementById('formCambiarEstado{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='inline-block';document.getElementById('estadoLabel{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='none';document.getElementById('estadoSelect{{ tarea.idPedido }}_{{ tarea.idTarea }}').style.display='none'">
            </form>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Tareas asignadas aún</h2>
    {% endfor %}
</table>
{% endblock %}