{% extends "base.html" %}

{% block title %}Ficha de OT{% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Ficha Orden de Trabajo"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver" title=" Volver">
    <img class=" iconosTitulo" src="/public/res/print.svg" onclick="print()" title="Imprimir">
    <dl>
        <dt>Nº OT:</dt>
        <dd>{{ datos.miOT.idOT }}</dd>
        <dt>Fecha de Inicio:</dt>
        <dd>{{ datos.miOT.fechaInicio }}</dd>
        <dt>Fecha de Fin:</dt>
        <dd>{{ datos.miOT.fechaFin }}</dd>
        <dt>Estado:</dt>
        <dd>{{ datos.miOT.estado }}</dd>
    </dl>
    <h2>TAREAS</h2>
    <table id="miTabla">
        <th onclick="sortTable(0,'miTabla')">Nº Pedido</th>
        <th onclick="sortTable(1,'miTabla')">Nº Tarea</th>
        <th onclick="sortTable(2,'miTabla')">Sector</th>
        <th onclick="sortTable(3,'miTabla')">Descripcion</th>
        <th onclick="sortTable(4,'miTabla')">Especializacion</th>
        <th onclick="sortTable(5,'miTabla')">Prioridad</th>
        <th onclick="sortTable(6,'miTabla')">Estado</th>
        <th onclick="sortTable(7,'miTabla')">Agentes</th>
        <th onclick="sortTable(8,'miTabla')">Accion</th>
        {% for tarea in datos.miOT.tareas %}
        {% set estilo = "" %}
        {% if tarea.estado == "Finalizado" %}
        {% set estilo = "style=background-color:#ffcccc" %}
        {% endif %}
        <tr>
            <td {{ estilo }}><a href="/fichaPedido?id={{ tarea.idPedido }}" title="Ver Mas">Pedido
                    {{ tarea.idPedido }}</a>
            </td>
            <td {{ estilo }}><a href="/fichaTarea?idPedido={{ tarea.idPedido }}&idTarea={{ tarea.idTarea }}"
                    title="Ver Mas"> Tarea
                    {{ tarea.idTarea }}</a></td>
            <td {{ estilo }}>{{ tarea.sector }}</td>
            <td {{ estilo }}>{{ tarea.descripcion }}</td>
            <td {{ estilo }}>{{ tarea.especializacionNombre }}</td>
            <td {{ estilo }}>{{ tarea.prioridad }}</td>
            <td {{ estilo }}>{{ tarea.estado }}</td>
            <td {{ estilo }}>
                {% for agente in tarea.agentes %} <a href="#"
                    onclick="fichaPersona('{{ agente.idAgente }}');return false;">{{ agente.nombre }}
                    {{ agente.apellido }}</a>{{ "\n"|nl2br }}{% endfor %}
            </td>
            <td {{ estilo }}>
                {% if tarea.estado != 'Finalizado' %}
                {% set estados = ['En Curso','Pendiente','Finalizado'] %}
                <a href="#" role="button" data-toggle="modal"
                    data-target="#myModal{{ tarea.idPedido }}_{{ tarea.idTarea }}"><img class="iconosTitulo"
                        src="/public/res/cambiarEstado.svg" title="Cambiar Estado"></a>
                <!-- The Modal -->
                <div class="modal fade" id="myModal{{ tarea.idPedido }}_{{ tarea.idTarea }}">
                    <div class="modal-dialog modal-xs">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Cambiar Estado</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/tarea/cambiarEstado/seleccionado" method="post" class="was-validated">
                                    <input type="text" name="idPedido" value="{{ tarea.idPedido }}" hidden>
                                    <input type="text" name="idTarea" value="{{ tarea.idTarea }}" hidden>
                                    <input type="text" name="idOT" value="{{ datos.miOT.idOT }}" hidden>
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <select name="estado" class="form-control custom-select">
                                            {% for estado in estados %}
                                            {% if estado != tarea.estado %}
                                            <option value="{{ estado }}">{{ estado }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Complete este campo</div>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion"
                                            required></textarea>
                                        <div class="invalid-feedback">Complete este campo</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Tareas asignadas aún</h2>
        {% endfor %}
    </table>
</div>
{% endblock %}