{% extends "base.html" %} {% block title %}Gestion de Roles{% endblock %} {% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Roles"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<div class="contenido3">
    {% for value in datos.permisos %}
    {% if value.idPermiso == "9" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
            src="/public/res/add.svg" title="Crear Especializacion">Crear Nuevo</a>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crear Rol</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/roles/guardar" method="post" class="was-validated">
                        <div class="form-group">
                            <label for="nombreRol">Nombre del Rol:</label>
                            <input type="text" name="nombreRol" class="form-control" autofocus required>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Rol</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>

        {% for rol in datos.todosRoles %}
        <tr>
            <td>{{ rol.idRol }}</td>
            <td>{{ rol.nombreRol }}</td>
            <td>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "12" %}

                <a href="/roles/fichaRol?id={{ rol.idRol }}">
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                {% endif %}
                {% else %}

                {% endfor %}

                {% for value in datos.permisos %}
                {% if value.idPermiso == "11" %}
                <a href="/roles/modificar/seleccionado?id={{  rol.idRol  }}">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                {% endif %}
                {% else %}

                {% endfor %}


            </td>
        </tr>
        {% else %}
        <h2 class="error">No hay Roles</h2> {% endfor %}
    </table>
</div>

{% endblock %}