{% extends "base.html" %} {% block title %}Gestion de informes{% endblock %} 
{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de informes"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %} 

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<form action="/informes/datos" method="post"  >
    <select name="filtro" id="filtro">
   
            <option value="Estados_de_los_Pedidos">Estados de los Pedidos </option>
            <option value="Reparaciones_por_sector">Reparaciones por sector </option>
              <option value="Estados_de_ot ">Estados de ordenes de trabajo </option>
               </select>
<label for="fechadesde"> Fecha desde:</label>

<input type="date" name="fechaInicio">
<label for="fechahasta"> Fecha hasta:</label>
<input type="date" name="fechaFin">
<input type="submit" value="Generar Informe">
</form>
<br>
<br>
<br>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

 <!--for (j=0 ; j< datos.length; j++){
        
        if (lenguajes[i]['lenguaje']==datos[j]['nombreLenguaje']){
            c++;-->
<script>
  // Build the chart
  var titulo={{datos|json_encode()|raw}};
    console.log(titulo['filtro']);
    var sectores={{sectores|json_encode()|raw}};
   console.log(sectores);
   
    var datos=[
        
       {"name:" sectores[0]['nombreSector'],"y:"parseInt(sectores[0]['suma'], 10)},
       //{"name": sectores[0]['nombreSector'],"data":sectores[0]['suma']}
     // sectores[0]['nombreSector'],parseInt(sectores[1]['suma'], 10)
    ] 
    //for (j=0 ; j< sectores.length; j++){
       // datos.push([sectores[1]['nombreSector'],parseInt(sectores[1]['suma'], 10)]);
    //datos.push(  "name": sectores[1]['nombreSector'],"data":sectores[1]['suma']});
    //sectores[j]['suma']=parseInt(sectores[j]['suma'], 10)

    //}
    
    
    for (var i=1 ;i< sectores.length; i++) {
    datos.push({"name :" sectores[i]['nombreSector'], "y:" parseInt(sectores[i]['suma'], 10)})
}
    
    
   console.log(sectores);
    console.log(datos);
   Highcharts.chart('container', {
    
       chart: {
       tBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text:"Reporte"
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: false
        },
        showInLegend: true
      }
    },
     
    
        series:
      
 datos
      
        
        });
    /*chart = new Highcharts.Chart({
    chart: {
       renderTo: 'container'
    },
     series: [{
       type: 'pie',
       name: 'Expenses',
       data: datos
    }]
 });*/
 
console.log(Highcharts.chart('container'));


    
    


</script>

{% endblock %}