{% extends "base.html" %} {% block title %}Gestion de informes{% endblock %}
{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de informes"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %}
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<form action="/informe/datos" method="POST"> 
    <br>
     <br>

     <select name="filtro" class="form-control custom-select" required>
                                    <option name="" value="" selected>Seleccione un informe</option>

<option name="" value="Reparaciones_por_sector">Reparciones por sector</option>
<option name="" value="Especializacion_por_tarea">Especializaciones requeridas</option>
<option name="" value="Estados">Estados de los Pedidos</option>
     </select>
<label for="fechaInicio">Fecha Desde:</label>
<input type="date" name="fechaInicio" value="fechaInicio" required>
<label for="fechaFin">Fecha Hasta:</label>
<input type="date" name="fechaFin" value="fechaFin" required>

<input type="submit" value="Generar listado" >
</form>










<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<a href="#" onclick="verPedidos();return false;" title="Ver Mas">Ver Pedidos</a>
<script>

      function verPedidos() {
    $.ajax({
      data: '',
      url: '/informePedidos', //archivo que recibe la peticion
      type: 'post', //método de envio
      success: function (
        response
      ) { //una vez que el archivo recibe el request lo procesa y lo devuelve
        var datos = response;
        graficar(datos);
      }
    });
  }

  function graficar(datos) {
    datos = JSON.parse(datos);
    var arrayMonth = [];
    for (let index = 0; index < 11; index++) {
      arrayMonth[index] = 0;
    }
    datos.forEach(element => {
      var parts = element['fechaInicio'].split(/[/]/);
      var month = parts[1];
      arrayMonth[month - 1] = arrayMonth[month - 1] + 1;
    });
    console.log(arrayMonth);
    //Better to construct options first and then pass it as a parameter
    var options = {
      title: {
        text: "Pedidos"
      },
      data: [{
        // Change type to "doughnut", "line", "splineArea", etc.
        type: "column",
        dataPoints: [{
            label: "Enero",
            y: arrayMonth[0]
          },
          {
            label: "Febrero",
            y: arrayMonth[1]
          },
          {
            label: "Marzo",
            y: arrayMonth[2]
          },
          {
            label: "Abril",
            y: arrayMonth[3]
          },
          {
            label: "Mayo",
            y: arrayMonth[4]
          },
          {
            label: "Junio",
            y: arrayMonth[5]
          },
          {
            label: "Julio",
            y: arrayMonth[6]
          },
          {
            label: "Agosto",
            y: arrayMonth[7]
          },
          {
            label: "Septiembre",
            y: arrayMonth[8]
          },
          {
            label: "Octubre",
            y: arrayMonth[9]
          },
          {
            label: "Noviembre",
            y: arrayMonth[10]
          },
          {
            label: "Diciembre",
            y: arrayMonth[11]
          }
        ]
      }]
    };

    $("#chartContainer").CanvasJSChart(options);
  }
  
</script>












{% endblock %}