{% extends "base.html" %} {% block title %}Gestion de informes{% endblock %} 
{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de informes"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %} 

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<form action="/informes/datos" method="post"  >
    <select name="filtro" id="filtro">
   
            <option value="Estados_de_los_Pedidos">Estados de los Pedidos </option>
            <option value="Reparaciones_por_sector">Reparaciones por sector </option>
              <option value="Estados_de_ot ">Estados de ordenes de trabajo </option>
               </select>
<label for="fechadesde"> Fecha desde:</label>

<input type="date" name="fechaInicio">
<label for="fechahasta"> Fecha hasta:</label>
<input type="date" name="fechaFin">
<input type="submit" value="Generar Informe">
</form>
<br>
<br>
<br>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<script>
  // Build the chart
  Highcharts.chart('container', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Browser market shares in January, 2018'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: false
        },
        showInLegend: true
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [{
        name: 'Chrome',
        y: 61.41,
        sliced: true,
        selected: true
      }, {
        name: 'Internet Explorer',
        y: 11.84
      }, {
        name: 'Firefox',
        y: 10.85
      }, {
        name: 'Edge',
        y: 4.67
      }, {
        name: 'Safari',
        y: 4.18
      }, {
        name: 'Other',
        y: 7.05
      }]
    }]
  });
</script>

{% endblock %}