<nav class="main-nav">

    <ol>
        <li><img class="imagen" src="../app/views/sommer2.jpg"></li>
        <li><a href="/home">Inicio</a></li>

        <li><a href="/pedido/verTodos">Usuarios</a></li>
        <li><a href="/pedido/verTodos">Pedidos</a></li>
        <li><a href="/pedido/verTodos">Ordenes de Trabajo</a></li>
        <li><a href="/pedido/verTodos">Tareas</a></li>
        <li>
            <p class="salir">
                <a href="/"></a>
                Desconectar</p>
            <p class="user">Usuario:{{ nombreUsuario }}</p>
        </li>
    </ol>
</nav>