<nav class="main-nav">
    <ol>
        <li>
            <a little="imagenSommer" onclick="muestra_oculta('mainmenu')"> <img class="imagen"
                    src="/public/res/sommer4.jpg"></a>
            <nav class="mainmenu show">
                <ul>
                    <li class="m">
                        <p little="imagenSommer" onclick="muestra_oculta('mainmenu')"> <img class="imagenMenu"
                                src="/public/res/sommer5.jpg">
                            <h4 class="tituloMenu">Sistema de Mantenimiento</h4>
                        </p>


                    </li>
                    <li><a href="/home"> <img class="iconosTitulo" src="/public/res/home.svg" title="Inicio">Home</a>
                    </li>

                    <li><a href="/pedido/verTodos"><img class="iconosTitulo" src="/public/res/pedidos.svg"
                                title="Pedidos">Pedidos</a>

                    </li>
                    <li><a href="/OT/verTodos"><img class="iconosTitulo" src="/public/res/ot.svg"
                                title="Ordenes de Trabajo">Ordenes de Trabajo</a>

                    </li>
                    <li><a href="/eventos/administracionEventos"><img class="iconosTitulo" src="/public/res/eventos.svg"
                                title="Eventos">Eventos</a>

                    </li>
                    {% if datos.rol == 0 %}
                    <li><a><img class="iconosTitulo" src="/public/res/isers.svg" title="Usuarios">Usuarios</a>
                        <ul class="submenu">
                            <li><a href="/usuarios/AdministracionUsuario">Usuarios</a>

                            </li>
                            <li><a href="/persona/AdministracionPersonas">Personas</a>
                            </li>
                            <li><a href="/roles/AdministracionRol">Roles</a>

                            </li>
                            <li><a href="/permisos/AdministracionPermisos">Permisos</a>

                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="/agente/administracionAgentes"><img class="iconosTitulo"
                                src="/public/res/addagente.svg" title="Agentes">Agentes</a>

                    </li>
                    <li><a href="/especializacion/administracionEspecializacion"><img class="iconosTitulo"
                                src="/public/res/esp.svg" title="Especializaciones">Especializaciones</a>

                    </li>
                    <li><a href="/sectores/administracionSectores"><img class="iconosTitulo"
                                src="/public/res/sector.svg" title="Sectores">Sectores</a>

                    </li>
                    <li><a href="/informes/administracionInforme"><img class="iconosTitulo"
                                src="/public/res/Informes.svg" title="Informes">Informes</a>

                    </li>
                    <li><a href="/insumos/administracionInsumos"><img class="iconosTitulo" src="/public/res/Insumos.svg"
                                title="Insumos">Insumos</a>

                    </li>
                    <li><a href=""><img class="iconosTitulo" src="/public/res/oc.svg" title="Ordenes de Compra">Ordenes
                            de Compra</a>

                    </li>
                    <li><a href="/cerrarSesion"><img class="iconos" src="/public/res/logout.svg">Salir</a>

                    </li>
                </ul>
            </nav>
        </li>

        <li>
            <h4 class="titulo">Sistema de Mantenimiento</h4>
        </li>
        <li>
            <h3 class="titulo1">{{ datos.titulo }}</h3>
        </li>


        <li>
            <p class="user">{{ datos.userLogueado }} |<a href="/cerrarSesion"><img class="iconos"
                        src="/public/res/logout.svg"></a></p>
        </li>

    </ol>
</nav>