<script>
    function myFunction() {
        var recuperoBoton = document.getElementsByClassName("close");
        document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
        if ()
    }

</script>



<nav class="main-menu">
    <ul>


        <li>
            <input type="button" value="Inicio">

        </li>
        <li>
            <input type="button" value="Pedidos" onclick="myFunction()">

            <ul class="open">
                <li><a href="/pedido/crear">Crear Nuevo</a></li>
                <li><a href="/pedido/verTodos">Ver Todos</a></li>

            </ul>

        </li>
        <li>
            <input type="button" value="Ordenes de Trabajo" onclick="myFunction()">

            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>

        </li>

        <li>
            <input type="button" value="Actividades" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Tareas" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <a href="/usuario/gestionUsuario"><input type="button" value="Usuarios" onclick="myFunction()"></a>
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Agentes" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Especialidades" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Sectores" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Informes" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <a href="insumos/administracionInsumos"><input type="button" value="Insumos" onclick="myFunction()"></a>
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input type="button" value="Ordenes de Compra" onclick="myFunction()">
            <ul class="close">
                <li><a href="/pedido/verTodos">Crear Nuevo</a></li>
                <li><a href="/OT/verTodos">Ver Todos</a></li>

            </ul>
        </li>
        <li>
            <input href="/cerrarSesion" type="button" value="Cerrar Sesion" onclick="myFunction()">
        </li>

    </ul>
</nav>
