<nav class="main-nav">

    <ol>
        <li><img class="imagen" src="../app/views/sommer2.jpg"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">Sobre nosotros</a></li>
        <li><a href="/usuario/gestionUsuario">Gestion Usuarios</a></li>
        <li><a href="/usuario/altaPersona">Agregar Persona</a></li>
        <li><a href="/usuario/modificarPersona">Modificar Persona</a></li>
        <li><a href="/usuario/eliminarPersona">Eliminar Persona</a></li>

       
        <li>
            <p class="salir">
                <a href="/"></a>
                Desconectar</p>
            <p class="user">Usuario: Administrador</p>
        </li>
    </ol>
</nav>
