{% extends "base.html" %}

{% block title %} Gestion de Insumos {% endblock %}

{% block header %}

{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
{% if datos.errorInsert %}
<script>
    alertify.alert('Error', 'El Insumo ya existe..')
</script>
{% endif %}
<div class="contenido3">
    <a href="#" onclick="mostrarFormulario()" id="btnCrearAgente"><img class="iconos" src="/public/res/add.svg"
            title="Crear Insumo"></a>
    <script>
        function mostrarFormulario() {
            var formularioInsumo = document.getElementById('formularioInsumo');
            if (formularioInsumo.style.display == "block") {
                formularioInsumo.style.display = "none";
            } else {
                formularioInsumo.style.display = "block"
            }
        }
    </script>
    <form action="/insumos/administracionInsumos/guardarInsumo" method="post" id="formularioInsumo"
        style="display: none">
        <fieldset class="basicosInsumo">
            <legend> Alta de Insumo</legend>
            <label for="nombreInsumo">Nombre del Insumo</label><span class="asterisco">*</span>
            <input type="text" name="nombreInsumo" autofocus required>
            <label for="stock">Stock</label><span class="asterisco">*</span>
            <input type="number" name="stock" required value="0" min="0">
            <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
            <input type="textarea" name="descripcion" required placeholder="Ingrese la descripcion.."><br>
        </fieldset>
        <input type="submit">
    </form>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Insumo</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Descripcion</th>
                <th onclick="sortTable(3,'miTabla')">Stock Actual</th>
                <th onclick="sortTable(4,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for insumo in datos.todosInsumos %}
        <tr>
            <td>{{ insumo.idInsumo }}</td>
            <td>{{ insumo.nombreInsumo }}</td>
            <td>{{ insumo.descripcion }}</td>
            <td>{{ insumo.stock }}</td>
            <td>
                <!--SUMAR/RESTAR INSUMOS-->
                <form action="/insumo/updateStockSinItem" method="post" hidden id="formSumar{{ insumo.idInsumo }}">
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="cantidad_{{ insumo.idInsumo }}" hidden>
                    <input type="text" name="nombreUsuario" value="{{ datos.userLogueado }}" hidden>
                    <input type="text" name="descripcion_{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="tipoMovimiento_{{ insumo.idInsumo }}" value="1" hidden>
                </form>
                <img class="iconos" src="/public/res/masmenos.svg" title="Modificar Stock" onclick="alertify.prompt('Modificar Stock','Seleccione la cantidad a modificar(Mas o Menos)','',
                    function(evt,value){
                        document.getElementsByName('cantidad_{{ insumo.idInsumo }}')[0].value = value;
                        if(value > 0){
                            document.getElementsByName('tipoMovimiento_{{ insumo.idInsumo }}')[0].value = 0;
                        } else if(value < 0){
                            document.getElementsByName('tipoMovimiento_{{ insumo.idInsumo }}')[0].value = 1;
                        } else {
                            alertify.alert('Error','Debe ingresar un valor válido');
                        }
                        if (value != 0){
                            alertify.prompt2('Modificar Stock','Ingrese una Descripcion','',
                            function(evt,value2){
                                document.getElementsByName('descripcion_{{ insumo.idInsumo }}')[0].value = value2 ;
                                document.getElementById('formSumar{{ insumo.idInsumo }}').submit()
                            },
                            function(){}
                            ).set({'type':'text'});    
                        }                        
                    },
                        function(){}
                        ).set({'type':'number','value':0});">
                <!--MODIFICAR INSUMO-->
                <a href='/insumo/modificar/seleccionado?idInsumo={{ insumo.idInsumo }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!--VER HISTORIAL-->
                <a href="/insumo/verHistorial?idInsumo={{ insumo.idInsumo }}"><img class="iconosTitulo"
                        src="/public/res/historyEstado.svg" title="Ver Historial"></a>
                <!--ELIMINAR INSUMO-->
                {% if insumo.eliminarBool == true %}
                <form action="/insumo/eliminar" method="post" style="display: inline-block"
                    id="formEliminarInsumo{{ insumo.idInsumo }}">
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                </form>
                <a
                    onclick="alertify.confirm('Eliminar Insumo','¿Esta seguro?',function(){document.getElementById('formEliminarInsumo{{ insumo.idInsumo }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/del.svg" title="Eliminar Insumo"></a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay insumo</h2> {% endfor %}
    </table>
</div>
{% endblock %}