{% extends "base.html" %}

{% block title %} Gestion de Insumos {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Insumos"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
{% if datos.errorInsert %}
<script>
    alertify.alert('Error', 'El Insumo ya existe..')
</script>
{% endif %}
<div class="contenido3">
    {% for value in datos.permisos %}
    {% if value.idPermiso == "41" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal" id="btnCrearTarea"><img
            class="iconos" src="/public/res/add.svg" title="Crear Tarea">Crear Nuevo</a>
    {% endif %}
    {% else %}

    {% endfor %}


    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alta de Insumo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/insumos/administracionInsumos/guardarInsumo" method="post" class="was-validated">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nombreInsumo">Nombre:</label><span class="asterisco">*</span>
                                <input type="text" name="nombreInsumo" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                                <textarea class="form-control" rows="2" id="descripcion" name="descripcion"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="stock">Stock:</label><span class="asterisco">*</span>
                                <input type="number" name="stock" class="form-control" required min="0">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="stockMinimo">Stock Minimo(Aviso):</label><span class="asterisco">*</span>
                                <input type="number" name="stockMinimo" class="form-control" required min="0">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Insumo</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Descripcion</th>
                <th onclick="sortTable(3,'miTabla')">Stock Actual</th>
                <th onclick="sortTable(3,'miTabla')">Aviso Minimo</th>
                <th onclick="sortTable(4,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for insumo in datos.todosInsumos %}
        <tr>
            <td>{{ insumo.idInsumo }}</td>
            <td>{{ insumo.nombreInsumo }}</td>
            <td>{{ insumo.descripcion }}</td>
            <td>{{ insumo.stock }}</td>
            <td>{{ insumo.stockMinimo }}</td>
            <td>
                <!--SUMAR/RESTAR INSUMOS-->
                <form action="/insumo/updateStockSinItem" method="post" hidden id="formSumar{{ insumo.idInsumo }}">
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="cantidad_{{ insumo.idInsumo }}" hidden>
                    <input type="text" name="nombreUsuario" value="{{ datos.userLogueado }}" hidden>
                    <input type="text" name="descripcion_{{ insumo.idInsumo }}" hidden>
                    <input type="number" name="tipoMovimiento_{{ insumo.idInsumo }}" value="1" hidden>
                </form>
                <img class="iconos" src="/public/res/masmenos.svg" title="Modificar Stock" onclick="alertify.prompt('Modificar Stock','Seleccione la cantidad a modificar(min=-{{insumo.stock}})','',
                    function(evt,value){
                        document.getElementsByName('cantidad_{{ insumo.idInsumo }}')[0].value = value;
                        var boolerror = false;
                        if((value < -'{{insumo.stock}}')){
                            alertify.alert('Error','Debe ingresar un valor válido');
                            boolerror = true;
                        } else if(value > 0){
                            document.getElementsByName('tipoMovimiento_{{ insumo.idInsumo }}')[0].value = 0;
                        } else if(value < 0){
                            document.getElementsByName('tipoMovimiento_{{ insumo.idInsumo }}')[0].value = 1;
                        } else {
                            alertify.alert('Error','Debe ingresar un valor válido');
                        }
                        if ((value != 0) && (!boolerror)){
                            alertify.prompt2('Modificar Stock','Ingrese una Descripcion','',
                            function(evt,value2){
                                document.getElementsByName('descripcion_{{ insumo.idInsumo }}')[0].value = value2 ;
                                document.getElementById('formSumar{{ insumo.idInsumo }}').submit()
                            },
                            function(){}
                            ).set({'type':'text'});    
                        }                        
                    },
                        function(){}
                        ).set({'type':'number','value':0,'min':-'{{insumo.stock}}'});">
                <!--MODIFICAR INSUMO-->
                {% for value in datos.permisos %}
                {% if value.idPermiso == "43" %}
                <a href="#" id="btnCrearUsuario" data-toggle="modal"
                    data-target="#modalFormModificar{{ insumo.idInsumo }}" title="Modificar Insumo"><img class="iconos"
                        src="/public/res/update.svg"></a>
                {% endif %}
                {% endfor %}
                <!-- The Modal -->
                <div class="modal fade" id="modalFormModificar{{ insumo.idInsumo }}">
                    <div class="modal-dialog modal-xs">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar Insumo(No Stock)</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/insumos/administracionInsumos/modificarInsumo" method="post"
                                    id="formModificar{{ insumo.idInsumo }}">
                                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="nombreInsumo">Nombre:</label><span class="asterisco">*</span>
                                            <input type="text" name="nombreInsumo" value="{{ insumo.nombreInsumo}}"
                                                class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="descripcion">Descripcion:</label><span
                                                class="asterisco">*</span>
                                            <textarea class="form-control" rows="2" id="descripcion" name="descripcion"
                                                required>{{ insumo.descripcion }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="stockMinimo">Stock Minimo(Aviso):</label><span
                                            class="asterisco">*</span>
                                        <input type="number" name="stockMinimo" value="{{ insumo.stockMinimo}}"
                                            class="form-control" required min="0">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--VER HISTORIAL-->
                {% for value in datos.permisos %}
                {% if value.idPermiso == "44" %}
                <a href="/insumo/verHistorial?idInsumo={{ insumo.idInsumo }}"><img class="iconosTitulo"
                        src="/public/res/historyEstado.svg" title="Ver Historial"></a>
                {% endif %}
                {% endfor %}
                <!--ELIMINAR INSUMO-->
                {% if insumo.eliminarBool == true %}
                {% for value in datos.permisos %}
                {% if value.idPermiso == "42" %}
                <form action="/insumo/eliminar" method="post" style="display: inline-block"
                    id="formEliminarInsumo{{ insumo.idInsumo }}">
                    <input type="text" name="idInsumo" value="{{ insumo.idInsumo }}" hidden>
                </form>
                <a
                    onclick="alertify.confirm('Eliminar Insumo','¿Esta seguro?',function(){document.getElementById('formEliminarInsumo{{ insumo.idInsumo }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/del.svg" title="Eliminar Insumo"></a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay insumo</h2>
        {% endfor %}
    </table>
</div>
{% endblock %}