<!--<nav class="navigation">
    <ul class="mainmenu">
        <li><a href="">Home</a></li>

        <li><a href="">Pedidos</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Ordenes de Trabajo</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Eventos</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Tareas</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Usuarios</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Agentes</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Especializaciones</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Sectores</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Informes</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Insumos</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Ordenes de Compra</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Cerrar Sesion</a>

        </li>


        <li><a href="">Contact us</a></li>
    </ul>
</nav>
<!--
<nav class="main-menu">
    <ul>

        <li><a href="/home">Inicio</a></li>
        <li class="submenu"><a href="#">Pedidos</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Ordenes de Trabajo</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Eventos</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Tareas</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Usuarios</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Agentes</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Especializaciones</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Sectores</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Informes</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Insumos</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#">Ordenes de Compra</a><i class="far fa-caret-square-down more"></i>
            <ul>
                <li><a href="#">Servicio A</a></li>
                <li><a href="#">Servicio B</a></li>
                <li><a href="#">Servicio C</a></li>
            </ul>
        </li>
        <li><a href="#">Cerrar Sesion</a></li>
    </ul>
</nav>



<!--
<nav class="main-menu">

<ul>
    <li>
        <a href="/home">
            <input type="button" value="Inicio">
        </a>
    </li>
    <li>
        <a href="/pedido/verTodos">
            <input type="button" value="Pedidos" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/OT/verTodos">
            <input type="button" value="Ordenes de Trabajo" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="eventos/administracionEventos">
            <input type="button" value="Eventos" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="#">
            <input type="button" value="Tareas" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/usuario/gestionUsuario">
            <input type="button" value="Usuarios" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/agente/administracionAgentes">
            <input type="button" value="Agentes" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/especializacion/administracionEspecializacion">
            <input type="button" value="Especializaciones" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/sectores/administracionSectores">
            <input type="button" value="Sectores" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="#">
            <input type="button" value="Informes" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="insumos/administracionInsumos">
            <input type="button" value="Insumos" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="#">
            <input type="button" value="Ordenes de Compra" onclick="myFunction()">
        </a>
    </li>
    <li>
        <a href="/cerrarSesion">
            <input type="button" value="Cerrar Sesion" onclick="myFunction()">
        </a>
    </li>
</ul>
</nav>-->
