{% extends "base.html" %} {% block title %}Gestion de Eventos{% endblock %} {% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Eventos"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %}
<div class="contenido3">
        {% for value in datos.permisos %}
        {% if value.idPermiso == "37" %}
        <a href="#" onclick="mostrarFormulario()" id="btnCrearEvento"><img class="iconos" src="/public/res/add.svg"
            title="Crear Evento"></a>
        {% endif %}
        {% else %}
    
        {% endfor %}


 
    <script>
        function mostrarFormulario() {
            var formularioEventos = document.getElementById('formularioEventos');
            if (formularioEventos.style.display == "block") {
                formularioEventos.style.display = "none";
            } else {
                formularioEventos.style.display = "block"
            }
        }
    </script>
    <form action="/eventos/administracionEventos/guardarEvento" method="post" id="formularioEventos"
        style="display: none">
        <fieldset class="basicosPedido">
            <legend> Alta de Evento</legend>

            <label for="nombreEvento">Nombre del Evento</label><span class="asterisco">*</span>
            <input type="text" name="nombreEvento" autofocus>

            <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
            <input type="textArea" name="descripcion" required placeholder="Ingrese la descripcion.."><br>

            <label for="fechaInicio">Fecha Inicio</label><span class="asterisco">*</span>
            <input type="date" name="fechaInicio" value="{{ datos.diaHoy }}" min="{{ datos.diaHoy }}" required><br>

            <label for="fechaFin">Fecha Fin</label><span class="asterisco">*</span>
            <input type="date" name="fechaFin" min="{{ datos.diaHoy }}" required><br>
        </fieldset>
        <input type="submit">
    </form>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Evento</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Descripcion</th>
                <th onclick="sortTable(3,'miTabla')">Fecha Inicio</th>
                <th onclick="sortTable(4,'miTabla')">Fecha Fin</th>
                <th onclick="sortTable(5,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for evento in datos.todosEventos %}
        <tr>
            <td>{{ evento.idEvento }}</td>
            <td>{{ evento.nombreEvento }}</td>
            <td>{{ evento.descripcion }}</td>
            <td>{{ evento.fechaInicio }}</td>
            <td>{{ evento.fechaFin }}</td>
            <td>
                    {% for value in datos.permisos %}
                    {% if value.idPermiso == "39" %}
                    <a href='/eventos/modificar/seleccionado?idEvento={{ evento.idEvento }}'>
                        <img class="iconos" src="/public/res/update.svg" title="Modificar">
                    </a>
                    {% endif %}
                    {% else %}
                
                    {% endfor %}

               
                <form action="/eventos/eliminar" method="post" style="display: inline-block"
                    id="formEliminarEvento{{ evento.idEvento }}">
                    <input type="text" name="idEvento" value="{{ evento.idEvento }}" hidden>
                </form>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "38" %}
                <a onclick="alertify.confirm('Eliminar Evento','¿Esta seguro?',function(){document.getElementById('formEliminarEvento{{ evento.idEvento }}').submit()},function(){})"><img
                    class="iconos" src="/public/res/del.svg" title="Eliminar Evento"></a>
                {% endif %}
                {% else %}
            
                {% endfor %}
              
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay eventos</h2> {% endfor %}
    </table>
</div>
{% endblock %}