{% extends "base.html" %} {% block title %}Lista de Pedidos{% endblock %} {% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Pedidos"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<div class="general">
    <!-- Button to Open the Modal -->

    {% for value in datos.permisos %}
    {% if value.idPermiso == "13" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
        src="/public/res/add.svg" title="Crear Sector">Crear Nuevo</a>
    {% endif %}
    {% else %}

    {% endfor %}


    
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alta de Pedido</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    {% if datos.sectores is empty %}
                    <div class="alert alert-danger text-center" role="alert">Primero debe añadir un Sector <a
                            href="/sectores/administracionSectores" class="alert-link">HAGA CLICK AQUI</a>
                    </div>
                    {% else %}
                    <form action="/pedido/guardar" method="post" class="was-validated">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nombreUsuario">Usuario Creador:</label><span class="asterisco">*</span>
                                <input type="text" name="nombreUsuario" class="form-control"
                                    value="{{ datos.userLogueado }}" required readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fechaInicio">Fecha:</label><span class="asterisco">*</span>
                                <input type="date" name="fechaInicio" class="form-control" value="{{ datos.diaHoy }}"
                                    required readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="estado">Estado:</label><span class="asterisco">*</span>
                                <input type="text" name="estado" class="form-control" value="{{ datos.estados.0 }}"
                                    required readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sector">Sector:</label><span class="asterisco">*</span>
                                <select name="sector" class="form-control custom-select">
                                    {% for sector in datos.sectores %}
                                    <option value="{{ sector }}">{{ sector }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="prioridad">Prioridad:</label><span class="asterisco">*</span>
                                <select name="prioridad" class="form-control custom-select">
                                    {% for prioridad in datos.prioridades %}
                                    <option value="{{ prioridad }}">{{ prioridad }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                            <textarea class="form-control" rows="4" id="descripcion" name="descripcion"
                                required></textarea>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Pedido</th>
                <th class="descripcion" onclick="sortTable(1,'miTabla')">Descripcion</th>
                <th onclick="sortTable(2,'miTabla')">Sector</th>
                <th onclick="sortTable(3,'miTabla')">Fecha Inicio</th>
                <th onclick="sortTable(4,'miTabla')">Fecha Fin</th>
                <th onclick="sortTable(5,'miTabla')">Tareas</th>
                <th onclick="sortTable(6,'miTabla')">Estado</th>
                <th onclick="sortTable(7,'miTabla')">Prioridad</th>
                <th onclick="sortTable(8,'miTabla')">Usuario</th>
                <th onclick="sortTable(9,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for pedido in datos.todosPedidos %}
        {% set estilo = "" %}
        {% if pedido.estado == "Finalizado" %}
        {% set estilo = "style=background-color:#ffcccc" %}
        {% else %}
        {% if pedido.estado == "Para Finalizar" %}
        {% set estilo = "style=background-color:#ffbf00" %}
        {% else %}
        {% if pedido.estado == "Cancelado" %}
        {% set estilo = "style=background-color:lightgrey" %}
        {% endif %}
        {% endif %}
        {% endif %}
        <tr>
            <td {{ estilo }}>{{ pedido.id }}</td>
            <td class="descripcion" {{ estilo }}>{{ pedido.descripcion|slice(0, 55) }}</td>
            {% for value in datos.permisos %}
            {% if value.idPermiso == "28" %}
            <td {{ estilo }}><a href="#" onclick="fichaSector('{{ pedido.idSector }}');return false;"
                    title="Ver Mas">{{ pedido.nombreSector }}</a>
            </td>
            {% endif %}
            {% else %}
            {% endfor %}
            <td {{ estilo }}>{{ pedido.fechaInicio }}</td>
            {% set fechaFin = pedido.fechaFin %}
            {% if pedido.estado != 'Finalizado' %}
            {% set fechaFin = pedido.estado %}
            {% endif %}
            <td {{ estilo }}>{{ fechaFin }}</td>
            <td {{ estilo }}>{{ pedido.tareasAsignadas }}</td>
            <td {{ estilo }}>{{ pedido.estado }}</td>
            <td {{ estilo }}>{{ pedido.prioridad }}</td>
            <td {{ estilo }}>{{ pedido.nombreUsuario }}</td>
            <td {{ estilo }}>
                <!--VER MAS-->
                {% if pedido.estado != "Cancelado" %}

                {% for value in datos.permisos %}
                {% if value.idPermiso == "16" %}
              
                <a href='/fichaPedido?id={{ pedido.id }}'>
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                {% endif %}
                {% else %}
            
                {% endfor %}

                <!--MODIFICAR PEDIDO-->
                {% if pedido.estado != "Finalizado" %}
                {% for value in datos.permisos %}
                {% if value.idPermiso == "15" %}
                <a href='/pedido/modificar' role="button" data-toggle="modal"
                    data-target="#myModalModif{{ pedido.id }}">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar Pedido">
                </a>
                <!-- The Modal -->
                <div class="modal fade" id="myModalModif{{ pedido.id }}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar Pedido</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/pedido/modificar" method="post" class="was-validated">
                                    <input type="text" name="id" value="{{pedido.id}}" hidden>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="nombreUsuario">Usuario Creador:</label><span
                                                class="asterisco">*</span>
                                            <input type="text" name="nombreUsuario" class="form-control"
                                                value="{{ pedido.nombreUsuario }}" required readonly>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="fechaInicio">Fecha:</label><span class="asterisco">*</span>
                                            <input type="date" name="fechaInicio" class="form-control"
                                                value="{{ pedido.fechaInicioSinFormato }}" required readonly>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="estado">Estado:</label><span class="asterisco">*</span>
                                            <input type="text" name="estado" class="form-control"
                                                value="{{ pedido.estado }}" required readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="sector">Sector:</label><span class="asterisco">*</span>
                                            <select name="sector" class="form-control custom-select">
                                                {% for sector in datos.sectores %}
                                                {% if sector == pedido.nombreSector %}
                                                <option value="{{ sector }}" selected>{{ sector }}</option>
                                                {% else %}
                                                <option value="{{ sector }}">{{ sector }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="prioridad">Prioridad:</label><span class="asterisco">*</span>
                                            <select name="prioridad" class="form-control custom-select">
                                                {% for prioridad in datos.prioridades %}
                                                {% if prioridad == pedido.prioridad %}
                                                <option value="{{ prioridad }}" selected>{{ prioridad }}</option>
                                                {% else %}
                                                <option value="{{ prioridad }}">{{ prioridad }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                                        <textarea class="form-control" rows="4" id="descripcion" name="descripcion"
                                            required>{{pedido.descripcion}}</textarea>
                                        <div class="invalid-feedback">Complete este campo</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% else %}
            
                {% endfor %}

               
                <!--ELIMINAR PEDIDO SI SOLO ESTÁ EN ESTADO INICIADO-->
                {% if (pedido.estado == 'Iniciado') and  (pedido.tareasAsignadas == 0) %}
                <form action="/pedido/cancelar" method="post" style="display: inline-block"
                    id="formEliminarPedido{{ datos.miPedido.id }}">
                    <input type="text" name="id" value="{{ pedido.id }}" hidden>
                </form>

                 
                {% for value in datos.permisos %}
                {% if value.idPermiso == "14" %}
                <a
                onclick="alertify.confirm('Cancelar Pedido','¿Esta seguro?',function(){document.getElementById('formEliminarPedido{{ datos.miPedido.id }}').submit()},function(){})"><img
                    class="iconos" src="/public/res/del.svg" title="Cancelar Pedido"></a>
                {% endif %}
                {% else %}
            
                {% endfor %}
              
                {% endif %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Pedidos</h2> {% endfor %}
    </table>
</div>
{% endblock %}