{% extends "base.html" %}

{% block title %}Crear Tarea Nueva{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <input type="button" value="Volver" onclick="history.back()">
    <h2>Modificar Pedido Nº {{ datos.miPedido.id }}</h2>
    <form action="/pedido/modificar" method="POST">
        <fieldset>
            <legend>Datos Basicos</legend>
            <label for="id">Numero de Pedido</label>
            <input type="text" name="id" value="{{ datos.miPedido.id }}" readonly class="inputDisabled">
            <label for="nombreUsuario">Usuario Creador</label>
            <input type="text" name="nombreUsuario" value="{{ datos.miPedido.nombreUsuario }}" readonly
                class="inputDisabled">
            <label for="estado">Estado</label>
            <select name="estado" class="inputDisabled">
                <option value="{{ datos.miPedido.estado }}" selected>{{ datos.miPedido.estado }} </option>
            </select>
            <label for="fechaInicio">Fecha</label>
            <input type="date" name="fechaInicio" value="{{ datos.miPedido.fechaInicio }}"
                min="{{ datos.miPedido.fechaInicio }}">
                <label for="sector">Sector</label>
                <select name="sector">
                    {% for sector in datos.sectores %}
                    {% if sector == datos.miPedido.nombreSector %}
                    <option value="{{ sector }}" selected>{{ sector }}</option>
                    {% else %}
                    <option value="{{ sector }}">{{ sector }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="prioridad">Prioridad</label>
                <select name="prioridad">
                    {% for prioridad in datos.prioridades %}
                    {% if prioridad == datos.miPedido.prioridad %}
                    <option value="{{ prioridad }}" selected>{{ prioridad }}</option>
                    {% else %}
                    <option value="{{ prioridad }}">{{ prioridad }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
            <input type="text" name="descripcion" autofocus required value="{{ datos.miPedido.descripcion}}">
          
        </fieldset>
        <input type="submit">
    </form>
</div>
{% endblock %}