{% extends "base.html" %} {% block title %}Lista de Pedidos{% endblock %} {% block header %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<div class="general">
    <h1>Listado de Pedidos</h1>
    <a href="#" onclick="mostrarFormulario()"><img class="iconos" src="/public/res/nuevo.svg" title="Crear"></a>
    <script>
        function mostrarFormulario() {
            var formularioPedido = document.getElementById('formularioPedido');
            if (formularioPedido.style.display == "block") {
                formularioPedido.style.display = "none";
            } else {
                formularioPedido.style.display = "block"
            }
        }
    </script>
    <form action="/pedido/guardar" method="post" id="formularioPedido" style="display: none; border: 1px solid black">
        {% if datos.sectores is empty %}
        <h2>Primero debe añadir un Sector --> <a href="/sectores/administracionSectores">HAGA CLICK AQUI</a></h2>
        {% else %}
        <fieldset class="basicosPedido">
            <legend>Datos Basicos</legend>
            <label for="nombreUsuario">Usuario Creador</label>
            <input type="text" name="nombreUsuario" value="{{ datos.userLogueado }}" readonly class="inputDisabled">
            <label for="fechaInicio">Fecha</label>
            <input type="DATE" name="fechaInicio" value="{{ datos.diaHoy }}" readonly class="inputDisabled">
            <label for="estado">Estado</label>
            <input type="text" name="estado" value="{{ datos.estados.0 }}" readonly class="inputDisabled">
            <label for="sector">Sector</label>
            <select name="sector">
                {% for sector in datos.sectores %}
                <option value="{{ sector }}">{{ sector }}</option>
                {% endfor %}
            </select>
            <label for="prioridad">Prioridad</label>
            <select name="prioridad">
                {% for prioridad in datos.prioridades %}
                <option value="{{ prioridad }}">{{ prioridad }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
            <input type="textarea" rows="10" cols="50" name="descripcion" autofocus required
                placeholder="Ingrese la descripcion..">
            <br>


        </fieldset>
        {% if datos.idEvento is not empty %}
        <input type="text" name="idEvento" value="{{ datos.idEvento }}" hidden>
        {% endif %}
        <input type="reset">
        <input type="submit">
        {% endif %}
    </form>

    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Pedido</th>
                <th class="descripcion" onclick="sortTable(1,'miTabla')">Descripcion</th>
                <th onclick="sortTable(2,'miTabla')">Sector</th>
                <th onclick="sortTable(3,'miTabla')">Fecha Inicio</th>
                <th onclick="sortTable(4,'miTabla')">Fecha Fin</th>
                <th onclick="sortTable(5,'miTabla')">Tareas</th>
                <th onclick="sortTable(6,'miTabla')">Estado</th>
                <th onclick="sortTable(7,'miTabla')">Prioridad</th>
                <th onclick="sortTable(8,'miTabla')">Usuario</th>
                <th onclick="sortTable(9,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for pedido in datos.todosPedidos %}
        {% set estilo = "" %}
        {% if pedido.estado == "Finalizado" %}
        {% set estilo = "style=background-color:lightcoral" %}
        {% else %}
        {% if pedido.estado == "Para Finalizar" %}
        {% set estilo = "style=background-color:goldenrod" %}
        {% endif %}
        {% endif %}
        <tr>
            <td {{ estilo }}>{{ pedido.id }}</td>
            <td class="descripcion" {{ estilo }}>{{ pedido.descripcion|slice(0, 55) }}</td>
            <td {{ estilo }}><a href="/fichaSector?idSector={{ pedido.idSector }}"
                    title="Ver Mas">{{ pedido.nombreSector }}</td>
            <td {{ estilo }}>{{ pedido.fechaInicio }}</td>
            <td {{ estilo }}>{{ pedido.fechaFin }}</td>
            <td {{ estilo }}>{{ pedido.tareasAsignadas }}</td>
            <td {{ estilo }}>{{ pedido.estado }}</td>
            <td {{ estilo }}>{{ pedido.prioridad }}</td>
            <td {{ estilo }}>{{ pedido.nombreUsuario }}</td>
            <td {{ estilo }}>
                <a href='/fichaPedido?id={{ pedido.id }}'>
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                {% if pedido.estado != "Finalizado" %}
                <a href='/pedido/modificar/seleccionado?id={{ pedido.id }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Pedidos</h2> {% endfor %}
    </table>
</div>


}
{% endblock %}