{% extends "base.html" %}

{% block title %}Ficha de Pedido{% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Ficha de Pedido"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="general">
    <ul class="navTitulo">
        <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver">
        <img class=" iconosTitulo" src="/public/res/print.svg" onclick="print()" title="Imprimir">
        <a href='/pedido/modificar/seleccionado?id={{ datos.miPedido.id }}'>
            <img class="iconosTitulo" src="/public/res/update.svg" title="Modificar">
        </a>
        <form action="/pedido/finalizar" method="post" style="display: inline-block" id="formTerminarPedido">
            <input type="text" name="id" value="{{ datos.miPedido.id }}" hidden>
        </form>
        <a id="btnFinPedido" style="display: none; background-color:coral; margin:2% 0"
            onclick="alertify.confirm('Finalizar Pedido','¿Esta seguro?',function(){document.getElementById('formTerminarPedido').submit()},function(){})"><img
                class="iconos" src="/public/res/finish.svg" title="Terminar Pedido"></a>
    </ul>
    <dl>
        <dt>Nº Pedido:</dt>
        <dd>{{ datos.miPedido.id }}</dd>
        <dt>Usuario Creador:</dt>
        <dd>{{ datos.miPedido.nombreUsuario }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ datos.miPedido.descripcion }}</dd>
        <dt>Fecha Inicio:</dt>
        <dd>{{ datos.miPedido.fechaInicio }}</dd>
        <dt>Fecha Fin:</dt>
        <dd>{{ datos.miPedido.fechaFin }}</dd>
        <dt>Estado:</dt>
        <dd>{{ datos.miPedido.estado }}</dd>
        <dt>Sector:</dt>
        <dd><a href="/fichaSector?idSector={{ datos.miPedido.idSector }}"
                title="Ver Mas">{{ datos.miPedido.nombreSector }}</a></dd>
        <dt>Prioridad:</dt>
        <dd>{{ datos.miPedido.prioridad }}</dd>
    </dl>
    <h2>TAREAS</h2>
    <a href="#" onclick="mostrarFormulario()" id="btnCrearTarea"><img class="iconos" src="/public/res/nuevo.svg"
            title="Crear Tarea"></a>
    <script>
        function mostrarFormulario() {
            var formularioTarea = document.getElementById('formularioTarea');
            if (formularioTarea.style.display == "block") {
                formularioTarea.style.display = "none";
            } else {
                formularioTarea.style.display = "block"
            }
        }
    </script>
    <form action="tarea/guardar" method="post" id="formularioTarea" style="display: none">
        {% if datos.especializaciones is empty %}
        <h2>Primero debe añadir una Especializacion --> <a href="/especializacion/administracionEspecializacion">HAGA
                CLICK AQUI</a></h2>
        {% else %}
        <label for="idPedido">Pedido</label>
        <input type="text" name="idPedido" value="{{ datos.miPedido.id }}" readonly class="inputDisabled">
        <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
        <input type="textarea" name="descripcion" autofocus required placeholder="Ingrese la descripcion..">
        <label for="especializacion">Especializacion</label><span class="asterisco">*</span>
        <select name="especializacion">
            {% for especializacion in datos.especializaciones %}
            <option value="{{ especializacion.nombre }}">{{ especializacion.nombre }}</option>
            {% endfor %}
        </select>
        <label for="prioridad">Prioridad</label><span class="asterisco">*</span>
        <select name="prioridad">
            {% for prioridad in datos.prioridades %}
            <option value="{{ prioridad }}">{{ prioridad }}</option>
            {% endfor %}
        </select>
        <label for="estado">Estado</label>
        <input type="text" name="estado" value="{{ datos.estados.0 }}" readonly class="inputDisabled">
        <input type="submit" value="Crear Tarea">
        {% endif %}
    </form>
    {% if datos.miPedido.estado == "Finalizado" %}
    <script>
        var btnCrearTarea = document.getElementById("btnCrearTarea");
        btnCrearTarea.style.display = "none";
    </script>
    {% endif %}
    <table id="miTabla">
        <th onclick="sortTable(0,'miTabla')">Nº Tarea</th>
        <th onclick="sortTable(1,'miTabla')">OT Asignada</th>
        <th onclick="sortTable(2,'miTabla')">Descripcion</th>
        <th onclick="sortTable(3,'miTabla')">Especializacion</th>
        <th onclick="sortTable(4,'miTabla')">Prioridad</th>
        <th onclick="sortTable(5,'miTabla')">Estado</th>
        <th onclick="sortTable(6,'miTabla')">Agentes</th>
        <th onclick="sortTable(7,'miTabla')">Accion</th>
        {% set pedidoFin = true %}
        {% for tarea in datos.miPedido.tareas %}
        {% set estilo = "" %}
        {% if tarea.estado == "Finalizado" %}
        {% set estilo = "style=background-color:lightcoral" %}
        {% endif %}
        <tr>
            <td {{ estilo }}><a href="/fichaTarea?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}"
                    title="Ver Mas"> Tarea
                    {{ tarea.idTarea }}</a></td>
            <td {{ estilo }}>{% if tarea.idOT is empty  %}
                <a href="/ot/crear" title="Crear OT"> Tarea sin asignar</a>
                {% else %}
                <a href="/fichaOT?idOT={{ tarea.idOT }}" title="Ver Mas"> OT {{ tarea.idOT }}</a>
                {% endif %}
            </td>
            <td class="descripcion" {{ estilo }}>{{ tarea.descripcion }}</td>
            <td {{ estilo }}>{{ tarea.especializacionNombre }}</td>
            <td {{ estilo }}>{{ tarea.prioridad }}</td>
            <td {{ estilo }}>{{ tarea.estado }}</td> {% if tarea.estado != "Finalizado" %}{% set pedidoFin = false %}
            {% endif %}

            <td {{ estilo }}>{{ tarea.agentesAsignados }}</td>
            <td {{ estilo }}>
                <!--ACCIONES DE LAS TAREAS-->
                <!--VER MAS-->
                <a href="/fichaTarea?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}" title="Ver Mas">
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                {% if tarea.estado != "Finalizado" %}
                <!--MODIFICAR SI NO ESTÁ FINALIZADO-->
                <a href="/tarea/modificar/seleccionado?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!--ASIGNAR AGENTE SI NO ESTÁ FINALIZADO-->
                <a href="/tarea/agentes/asignar?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}">
                    <img class="iconos" src="/public/res/addAgente.svg" title="Asignar Agentes">
                </a>
                <!--ASIGNAR INSUMOS SI NO ESTÁ FINALIZADO-->
                <a href="/tarea/insumos/asignar?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}">
                    <img class="iconos" src="/public/res/insumos.svg" title="Asignar Insumos"></a>
                {% endif %}
                {% if tarea.estado == 'Iniciado' %}
                <!--ELIMINAR TAREA SI SOLO ESTÁ EN ESTADO INICIADO-->
                <form action="/pedido/tarea/eliminar" method="post" style="display: inline-block"
                    id="formEliminarTarea{{ datos.miPedido.id }}_{{ tarea.idTarea }}">
                    <input type="text" name="idPedido" value="{{ datos.miPedido.id }}" hidden>
                    <input type="text" name="idTarea" value="{{ tarea.idTarea }}" hidden>
                </form>
                <a
                    onclick="alertify.confirm('Eliminar Tarea','¿Esta seguro?',function(){document.getElementById('formEliminarTarea{{ datos.miPedido.id }}_{{ tarea.idTarea }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/delTarea.svg" title="Eliminar Tarea"></a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Tareas asignadas aún</h2>
        {% endfor %}
        {% if datos.miPedido.tareas|length > 0 and pedidoFin == true and datos.miPedido.estado != 'Finalizado' %}
        <script>
            var formFinPedido = document.getElementById("btnFinPedido");
            formFinPedido.style.display = "block";
        </script>
        {% endif %}
    </table>
</div>
{% endblock %}