    <nav>
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1><a href="/home" class="logo">Hospital Sommer</a></h1>
            <ul class="list-unstyled components" style="margin-bottom: 0;">
                <li class="active">
                    <a href="/home"><span class="fa fa-home mr-3"></span>Home</a>
                </li>
                {% if "4" in datos.permisos %}
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-address-card-o mr-3" aria-hidden="true"></span>Administración</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">

                        {% if "4" in datos.permisos %}
                        <li>
                            <a href="/administracion/usuarios/">Usuarios</a>
                        </li>
                        {% endif %}

                        {% if "48" in datos.permisos %}
                        <li>
                            <a href="/administracion/personas/">Personas</a>
                        </li>
                        {% endif %}

                        {% if "12" in datos.permisos %}
                        <li>
                            <a href="/administracion/roles/">Roles</a>
                        </li>
                        {% endif %}

                        {% if "8" in datos.permisos %}
                        <li>
                            <a href="/administracion/permisos/">Permisos</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if "32" in datos.permisos %}
                <li>
                    <a href="/agentes/"><span class="fa fa-users mr-3" aria-hidden="true"></span>Agentes</a>
                </li>
                {% endif %}

                {% if "36" in datos.permisos %}
                <li>
                    <a href="/especializaciones/"><span class="fa fa-paint-brush mr-3"
                            aria-hidden="true"></span>Especializaciones</a>
                </li>
                {% endif %}

                {% if "28" in datos.permisos %}
                <li>
                    <a href="/sectores/"><span class="fa fa-hospital-o mr-3" aria-hidden="true"></span>Sectores</a>
                </li>
                {% endif %}

                {% if "16" in datos.permisos %}
                <li>
                    <a href="/pedido/verTodos"><span class="fa fa-files-o mr-3"></span>Pedidos</a>
                </li>
                {% endif %}

                {% if "24" in datos.permisos %}
                <li>
                    <a href="/OT/verTodos"><span class="fa fa-cogs mr-3"></span>Ord. de Trabajo</a>
                </li>
                {% endif %}

                {% if "40" in datos.permisos %}
                <li>
                    <a href="/eventos/administracionEventos"><span class="fa fa-calendar mr-3"></span>Eventos</a>
                </li>
                {% endif %}

                {% if "16" in datos.permisos %}
                <li>
                    <a href="/informe/administracion"><span class="fa fa-line-chart mr-3"
                            aria-hidden="true"></span>Informes</a>
                </li>
                {% endif %}

                {% if "44" in datos.permisos %}
                <li>
                    <a href="/insumos/administracionInsumos"><span class="fa fa-wrench mr-3"
                            aria-hidden="true"></span>Insumos</a>
                </li>
                {% endif %}

                {% if "16" in datos.permisos %}
                <li>
                    <a href="/ordendecompra/administracionOC"><span class="fa fa-shopping-basket mr-3"
                            aria-hidden="true"></span>Ord.
                        de Compra</a>
                </li>
                {% endif %}

                <li>
                    <a href="/public/res/ManualDeUsuario_Mantenimiento_Sommer.pdf" target="_blank"><span
                            class="fa fa-info-circle mr-3" aria-hidden="true"></span>Ayuda</a>
                </li>

                <li>
                    <a href="/cerrarSesion"><span class="fa fa-sign-out mr-3" aria-hidden="true"></span>Salir</a>
                </li>
            </ul>
    </nav>
    </li>

    <script src="/public/js/mainNav.js"></script>