{% extends "base.html" %}

{% block title %} Gestion de Sectores {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Sectores"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}

{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %}
{% if datos.errorInsert %}
<script>
    alertify.alert('Error', 'El Sector ya existe..')
</script>
{% endif %}
<div class="general">
    <!-- Button to Open the Modal -->
    {% for value in datos.permisos %}
    {% if value.idPermiso == "25" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
        src="/public/res/add.svg" title="Crear Sector">Crear Nuevo</a>
    {% endif %}
    {% else %}

    {% endfor %}


  
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alta de Sector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/sectores/administracionSectores/guardarSector" method="post" class="was-validated">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombreSector">Nombre del Sector:</label><span class="asterisco">*</span>
                                <input type="text" name="nombreSector" class="form-control" autofocus required>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="responsable">Nombre del Responsable:</label><span class="asterisco">*</span>
                                <input type="text" name="responsable" class="form-control" required>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tipoSector">Tipo</label><span class="asterisco">*</span>
                            <select name="tipoSector" class="form-control custom-select">
                                {% for tipoSector in datos.tipoSectores %}
                                <option value="{{ tipoSector }}">{{ tipoSector }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="telefono">Telefono:</label>
                                <input type="tel" name="telefono" class="form-control" id="telVerification">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="email">Email:</label>
                                <input type="email" name="email" class="form-control">
                                <div class="invalid-feedback">El formato es incorrecto</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--SCRIPT DE VALIDACION TELEFONO-->
    <script>
        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                });
            };
        }(jQuery));
        $("#telVerification").inputFilter(function (value) {
            return /^\d*$/.test(value);
        });
    </script>
    <!--SCRIPT DE ORDENACION Y PAGINACION TABLAS-->
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Sector</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Tipo</th>
                <th onclick="sortTable(3,'miTabla')">Responsable</th>
                <th onclick="sortTable(4,'miTabla')">Telefono</th>
                <th onclick="sortTable(5,'miTabla')">Email</th>
                <th onclick="sortTable(6,'miTabla')">Accion</th>
            </tr>
        </thead>

        {% for sector in datos.todosSectores %}
        <tr>
            <td>{{ sector.idSector }}</td>
            <td>{{ sector.nombreSector }}</td>
            <td>{{ sector.tipo }}</td>
            <td>{{ sector.responsable }}</td>
            <td>{{ sector.telefono }}</td>
            <td>{{ sector.email }}</td>

            <td>
                    {% for value in datos.permisos %}
                    {% if value.idPermiso == "28" %}
                    <a href="/fichaSector?idSector={{ sector.idSector }}" class="btn btn-outline-info btn-xs">
                        <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                    </a>
                    {% endif %}
                    {% else %}
                
                    {% endfor %}

                    {% for value in datos.permisos %}
                    {% if value.idPermiso == "27" %}
                    <a href="/sectores/modificar/seleccionado?idSector={{ sector.idSector }}"
                    class="btn btn-outline-info btn-xs">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                    {% endif %}
                    {% else %}
                
                    {% endfor %}
            
         
                {% set desabilitado = "disabled" %}
                {% if sector.usado == false %}
                {% set desabilitado = "" %}
                {% endif %}
                <form action="/sectores/eliminar" method="post" style="display: inline-block"
                    id="formEliminarSector{{ sector.idSector }}">
                    <input type="text" name="idSector" value="{{ sector.idSector }}" hidden>
                </form>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "26" %}
                <a href="#" class="btn btn-outline-info btn-xs {{ desabilitado }}" role="button"
                onclick="alertify.confirm('Eliminar Sector','¿Esta seguro?',function(){document.getElementById('formEliminarSector{{ sector.idSector }}').submit()},function(){})"><img
                    class="iconos" src="/public/res/delTarea.svg" title="Eliminar Sector"></a>
                {% endif %}
                {% else %}
            
                {% endfor %}
               
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Sectores</h2> {% endfor %}
    </table>
</div>
{% endblock %}