{% extends "base.html" %}

{% block title %}Modificar Sector{% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver" title=" Volver">
    <h1>Modificar Sector</h1>
    <form action="/sectores/administracionSectores/modificarSector" method="POST">
        <fieldset class="basicosPedido">
            <legend> Modificar Sector</legend>
            <label for="idSector">Numero de Sector</label>
            <input type="text" name="idSector" value="{{ datos.sector.idSector }}" readonly class="inputDisabled">
            <label for="nombreSector">Nombre del Sector</label>
            <input type="text" name="nombreSector" value="{{ datos.sector.nombreSector }}">
            <label for="tipoSector">Tipo</label><span class="asterisco">*</span>
            <select name="tipoSector">
                {% for tipoSector in datos.tipoSectores %}
                {% if tipoSector == datos.sector.tipo %}
                <option value="{{ tipoSector }}" selected>{{ tipoSector }}</option>
                {% else %}
                <option value="{{ tipoSector }}">{{ tipoSector }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="responsable">Responsable</label>
            <input type="text" name="responsable" value="{{ datos.sector.responsable }}">
            <label for="telefono">Telefono</label>
            <input type="tel" name="telefono" value="{{ datos.sector.telefono }}">
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ datos.sector.email }}">
        </fieldset>
        <input type="submit">
    </form>
</div>
{% endblock %}