{% extends "base.html" %}
{% block title %}Gestion de Eventos
{% endblock %}
{% block header %}
	{% set datos = datos|merge({
    "titulo": "Gestión de Eventos"
}) %}
	{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
	<div class="contenido3">
		<h2 class="titulo-tabla">Eventos		</h2>

			{% if "37" in datos.datosSesion.listaPermisos %}
			
			<a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos" src="/public/res/add.svg" title="Crear Sector">Crear Evento</a>
			
			{% endif %}
		
		<!-- The Modal -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog modal-lg">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0">Alta de Evento</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<form action="/eventos/administracionEventos/guardarEvento" method="post" class="was-validated">
							<div class="form-row">
								<div class="form-group col-lg-4">
									<label for="nombreEvento">Nombre del Evento:</label>
									<span class="asterisco">*</span>
									<input type="text" name="nombreEvento" class="form-control" required>
								</div>
								<div class="form-group col-lg-3">
									<label for="fechaInicio">Fecha Inicio:</label>
									<span class="asterisco">*</span>
									<input type="date" name="fechaInicio" class="form-control" value="{{ datos.diaHoy }}" min="{{ datos.diaHoy }}" required>
								</div>
								<div class="form-group col-lg-4">
									<label for="fechaFin">Fecha Fin:</label>
									<span class="asterisco">*</span>
									<input type="date" name="fechaFin" class="form-control" min="{{ datos.diaHoy }}" required>
								</div>
							</div>
							<div class="form-group col-lg-10">
								<label for="descripcion">Descripcion:</label>
								<span class="asterisco">*</span>
								<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required></textarea>
								<div class="invalid-feedback">Complete este campo</div>
							</div>
							<div class="form-group col-lg-4">
								<label for="periodicidad">Periodicidad:</label>
								<span class="asterisco">*</span>
								<input type="number" name="periodicidad" class="form-control" min="{{ 0 }}" required>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
								<button type="submit" class="btn btn-success">Enviar</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
$('#miTabla').DataTable();
});
		</script>
		<table id="miTabla"  class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
			<thead>
				<tr>
					<th onclick="sortTable(0,'miTabla')">Nº Evento</th>
					<th onclick="sortTable(1,'miTabla')">Nombre</th>
					<th onclick="sortTable(2,'miTabla')">Descripcion</th>
					<th onclick="sortTable(3,'miTabla')">Fecha Inicio</th>
					<th onclick="sortTable(4,'miTabla')">Fecha Fin</th>
					<th onclick="sortTable(5,'miTabla')">Accion</th>
				</tr>
			</thead>
			{% for evento in datos.todosEventos %}
			
			<tr>
					<td>{{ evento.idEvento }}</td>
					<td>{{ evento.nombreEvento }}</td>
					<td>{{ evento.descripcion }}</td>
					<td>{{ evento.fechaInicio }}</td>
					<td>{{ evento.fechaFin }}</td>
					<td>
												{% if "39" in datos.datosSesion.listaPermisos %}
								<a href='/eventos/administracionEventos/modificarEvento' role="button" data-toggle="modal" data-target="#myModalModif{{ evento.idEvento }}">
									<img class="iconos" src="/public/res/update.svg" title="Modificar Pedido">
								</a>
								<div class="modal fade" id="myModalModif{{ evento.idEvento }}">
									<div class="modal-dialog modal-lg">
										<div
											class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h3 class="modal-title m-0">Modificar Evento</h3>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<!-- Modal body -->
											<div class="modal-body">
												<form action="/eventos/administracionEventos/modificarEvento" method="post" class="was-validated">
													<input type="text" name="idEvento" value="{{ evento.idEvento }}" hidden>
													<div class="form-row">
														<div class="form-group col-lg-4">
															<label for="nombreEvento">Nombre del Evento:</label>
															<span class="asterisco">*</span>
															<input type="text" name="nombreEvento" class="form-control" value="{{ evento.nombreEvento }}" required>
														</div>
														<div class="form-group col-lg-3">
															<label for="fechaInicio">Fecha Inicio:</label>
															<span class="asterisco">*</span>
															<input type="date" name="fechaInicio" class="form-control" value="{{ evento.fechaInicioSinFormato }}" min="{{ datos.diaHoy }}" required>
														</div>
														<div class="form-group col-lg-4">
															<label for="fechaFin">Fecha Fin:</label>
															<span class="asterisco">*</span>
															<input type="date" name="fechaFin" class="form-control" value="{{ evento.fechaFinSinFormato }}" min="{{ datos.diaHoy }}" required>
														</div>
													</div>
													<div class="form-group col-lg-10">
														<label for="descripcion">Descripcion:</label>
														<span class="asterisco">*</span>
														<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required>{{ evento.descripcion }}</textarea>
														<div class="invalid-feedback">Complete este campo</div>
													</div>
													<div class="form-group col-lg-4">
														<label for="periodicidad">Periodicidad:</label>
														<span class="asterisco">*</span>
														<input type="number" name="periodicidad" class="form-control" min="{{ evento.periodicidad }}" required>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
														<button type="submit" class="btn btn-success">Enviar</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						
						<form action="/eventos/eliminar" method="post" style="display: inline-block" id="formEliminarEvento{{ evento.idEvento }}">
							<input type="text" name="idEvento" value="{{ evento.idEvento }}" hidden>
						</form>
						{% if "38" in datos.datosSesion.listaPermisos %}
								<a onclick="alertify.confirm('Eliminar Evento','¿Esta seguro?',function(){document.getElementById('formEliminarEvento{{ evento.idEvento }}').submit()},function(){})"><img class="iconos" src="/public/res/del.svg" title="Eliminar Evento"></a>
							{% endif %}
						
					</td>
				</tr>
			{% else %}
				<h2 class='error'>No hay eventos</h2>
			{% endfor %}
		</table>
	</div>
{% endblock %}

