{% extends "base.html" %}
{% block title %} Gestion de Sectores {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% block header %}
{% include 'partials/header.html' with {datos:datos} only %}
{% endblock %}
<div>
    <h2 class="titulo-tabla">Sectores Registrados </h2>

    <!-- BOTON NEW SECTOR -->
    {% if "25" in datos.datosSesion.listaPermisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew"><i
            class="fal fa-plus"></i> Crear Nuevo</button>
    {% endif %}

    <!-- TABLA SECTORES -->
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>Nº Sector</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Responsable</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Accion</th>
            </tr>
        </thead>

        <tbody>
            {% for sector in datos.todosSectores %}
            <tr>
                <td>{{ sector.idSector }}</td>
                <td>{{ sector.nombreSector }}</td>
                <td>{{ sector.tipo }}</td>
                <td>{{ sector.responsable }}</td>
                <td>{{ sector.telefono }}</td>
                <td>{{ sector.email }}</td>
                <td>
                    {% set deshabilitado = "disabled" %}
                    {% set notAllowed = " notAllowed" %}
                    {% if sector.usado == false %}
                    {% set deshabilitado = "" %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group float-none" role="group">
                        {% if "27" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            onclick="modificarModal('{{ sector|json_encode }}');" title="Editar Sector"><i
                                class="fal fa-pencil-alt fa-lg fa-fw"></i>
                        </button>
                        {% endif %}
                        {% if "26" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" onclick="eliminarModal('{{ sector|json_encode }}');"
                            title="Eliminar Sector"><i class="fal fa-trash-alt fa-lg fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class='error'>No hay Sectores</h2>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- MODALES NEW, UPDATE Y DELETE -->
<!--NEW SECTOR-->
{% if "25" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalNew">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Alta de Sector</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="newSector" method="post" class="was-validated">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreSector">Nombre del Sector:</label><span class="asterisco">*</span>
                            <input type="text" name="nombreSector" class="form-control" autofocus required>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="responsable">Nombre del Responsable:</label><span class="asterisco">*</span>
                            <input type="text" name="responsable" class="form-control" required>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="tipo">Tipo</label><span class="asterisco">*</span>
                            <select name="tipo" class="form-control custom-select">
                                {% for tipoSector in datos.tipoSectores %}
                                <option value="{{ tipoSector }}">{{ tipoSector }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="telefono">Telefono:</label>
                            <input type="tel" name="telefono" class="form-control telVerification">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="form-control">
                            <div class="invalid-feedback">El formato es incorrecto</div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success btn-modal">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--MODIFICAR SECTOR-->
{% if "27" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalUpdate"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updateSector" method="post" class="was-validated">
                    <input type="text" name="idSector" id="updateID" hidden>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreSector">Nombre del Sector:</label><span class="asterisco">*</span>
                            <input type="text" name="nombreSector" class="form-control" autofocus required
                                id="nombreSectorUpdate">
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="responsable">Nombre del
                                Responsable:</label><span class="asterisco">*</span>
                            <input type="text" name="responsable" class="form-control" required id="responsableUpdate">
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="tipo">Tipo:<span class="asterisco">*</span></label>
                            <select name="tipo" id="tipoUpdate" class="form-control custom-select">
                                {% for tipoSector in datos.tipoSectores %}
                                <option value="{{ tipoSector }}">
                                    {{ tipoSector }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="telefono">Telefono:</label>
                            <input type="tel" name="telefono" class="form-control telVerification" id="telefonoUpdate">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="form-control" id="emailUpdate">
                            <div class="invalid-feedback">El formato es incorrecto</div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success btn-modal">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--ELIMINAR SECTOR SI NO FUE USADO TODAVIA-->
{% if "26" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-3">¿Está seguro?</p>
                <form action="deleteSector" method="post">
                    <input type="text" name="idSector" id="deleteID" hidden>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- FIN MODALES NEW, UPDATE Y DELETE -->

<script src="/public/js/generales/validartelefono.js"></script>
<script src="/public/js/jsBasicos/jsSector.js"></script>
<script>
    verificarAlertas('{{ datos.alertas|json_encode|raw }}', 'Sector');
    ordenarTabla('miTabla', '0,1,2,3,4,5', [6], 'Sectores Registrados');
</script>
{% endblock %}