{% extends "base.html" %}
{% block title %} Gestion de Especializaciones {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% if datos.newOK %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Alta Realizada</span>",
        "Especialización Creada Correctamente");
</script>
{% elseif datos.newOK is not null and datos.newOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al crear nueva Especialización</span>",
        "La Especialización ya existe..");
</script>
{% endif %}
{% if datos.updateOK %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Modificación Realizada</span>",
        "Especialización Modificada Correctamente");
</script>
{% elseif datos.updateOK is not null and datos.updateOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al modificar Especialización</span>",
        "La Especialización no se pudo modificar..");
</script>
{% endif %}
{% if datos.deleteOK %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Baja Realizada</span>",
        "Especialización Eliminado Correctamente");
</script>
{% elseif datos.deleteOK is not null and datos.deleteOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al eliminar Especialización</span>",
        "La Especialización no se pudo eliminar..");
</script>
{% endif %}
<div>
    {% block header %}
    {% include 'partials/header.html' with {datos:datos} only %}
    {% endblock %}
    <h2 class="titulo-tabla">Especializaciones Registradas </h2>
    <!-- Button to Open the Modal -->
    {% if "33" in datos.permisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#nuevoModal"><i
            class="fa fa-plus"></i> Crear Nuevo</button>
    <!-- The Modal -->
    <div class="modal fade" id="nuevoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crear Especializacion</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="newEspecializacion" method="post" class="was-validated">
                        <div class="form-group">
                            <label for="nombre">Nombre de Especializacion:</label>
                            <input type="text" name="nombre" class="form-control" autofocus required>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-modal"
                                data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success btn-modal">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover text-nowrap">
        <thead class="headtable">
            <tr>
                <th>ID Especializacion</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for especializacion in datos.todasEspecializaciones %}
            <tr>
                <td>{{ especializacion.idEspecializacion }}</td>
                <td>{{ especializacion.nombre }}</td>
                <td>
                    {% if "35" in datos.permisos %}
                    <!--MODIFICAR ESPECIALIZACION-->
                    <!-- The Modal -->
                    <div class="modal fade" id="myModalModif{{ especializacion.idEspecializacion }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modificar Especializacion</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="updateEspecializacion" method="post" class="was-validated">
                                        <input type="text" name="idEspecializacion"
                                            value="{{ especializacion.idEspecializacion }}" hidden>
                                        <div class="form-group">
                                            <label for="nombreAnterior">Nombre Anterior:</label>
                                            <input type="text" name="nombreAnterior" class="form-control"
                                                value="{{ especializacion.nombre }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="nombre">Nuevo Nombre:</label>
                                            <input type="text" name="nombre" class="form-control" autofocus required>
                                            <div class="invalid-feedback">Complete este campo</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Salir</button>
                                            <button type="submit" class="btn btn-success">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if "34" in datos.permisos %}
                    <!--ELIMINAR ESPECIALIZACION SI NO UTILIZADO-->
                    <form action="deleteEspecializacion" method="post" style="display: inline-block"
                        id="formEliminarEspecializacion{{ especializacion.idEspecializacion }}">
                        <input type="text" name="idEspecializacion" value="{{ especializacion.idEspecializacion }}"
                            hidden>
                        <div class="modal fade" id="eliminarModal{{ especializacion.idEspecializacion }}" tabindex="-1"
                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Eliminar Especializacion Nº
                                            {{ especializacion.idEspecializacion }}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Está seguro?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-modal"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    {% set deshabilitado = "disabled" %}
                    {% set notAllowed = " notAllowed" %}
                    {% if especializacion.usado == false %}
                    {% set deshabilitado = "" %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group" role="group" aria-label="Basic example" style="float: none;">
                        {% if "35" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" data-target="#myModalModif{{ especializacion.idEspecializacion }}"
                            title="Editar Especializacion"><i class="fa fa-pencil fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                        {% if "34" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" data-target="#eliminarModal{{ especializacion.idEspecializacion }}"
                            title="Eliminar Especializacion"><i class="fa fa-trash-o fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class='error'>No hay ninguna Especializacion cargada</h2>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var columnas = '0,1';
    var columNoOrdenar = 2;
    var titulo = 'Especializaciones Registradas';
</script>
<script src="/public/js/ordypagtablas.js"></script>
{% endblock %}