{% extends "base.html" %}

{% block title %} Gestion de Especializaciones {% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
<input type="button" value="CARGAR NUEVA ESPECIALIZACION" onclick="mostrarFormulario()">
<script>
    function mostrarFormulario() {
        var formularioEspecializacion = document.getElementById('formularioEspecializacion');
        if (formularioEspecializacion.style.display == "block") {
            formularioEspecializacion.style.display = "none";
        } else {
            formularioEspecializacion.style.display = "block"
        }
    }
</script>
<form action="/especializacion/administracionEspecializacion/cargarNuevaEspecializacion" method="post"
    id="formularioEspecializacion" style="display: none">
    <fieldset class="basicosEspecializacion">
        <legend> Alta de Especializacion</legend>
        <label for="nombre">Nombre del Especializacion</label>
        <input type="text" name="nombre" autofocus>
    </fieldset>
    <input type="submit">
</form>
<table>
    <th>ID Especializacion</th>
    <th>Nombre</th>
    <th>Accion</th>
    {% for especializacion in datos.todasEspecializaciones %}
    <tr>
        <td>{{ especializacion.idEspecializacion }}</td>
        <td>{{ especializacion.nombre }}</td>
        <td>
            <a href='/especializacion/modificar/seleccionado?idEspecializacion={{ especializacion.idEspecializacion }}'>
                <input type="button" value="MODIFICAR">
            </a>
            <form action="/especializacion/eliminar" method="post">
                <input type="text" name="idEspecializacion" value="{{ especializacion.idEspecializacion }}" hidden>
                <input type="button" value="Eliminar" id="btnEliminar{{ especializacion.idEspecializacion }}"
                    onclick="document.getElementById('eliminarSi{{ especializacion.idEspecializacion }}').style.display='inline-block';document.getElementById('eliminarNo{{ especializacion.idEspecializacion }}').style.display='inline-block';document.getElementById('btnEliminar{{ especializacion.idEspecializacion }}').style.display='none'">
                <input type="submit" value="Si" id="eliminarSi{{ especializacion.idEspecializacion }}"
                    style="display: none">
                <input type="reset" value="No" id="eliminarNo{{ especializacion.idEspecializacion }}"
                    style="display: none"
                    onclick="document.getElementById('eliminarSi{{ especializacion.idEspecializacion }}').style.display='none';document.getElementById('eliminarNo{{ especializacion.idEspecializacion }}').style.display='none';document.getElementById('btnEliminar{{ especializacion.idEspecializacion }}').style.display='inline-block'">
            </form>
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay ninguna Especializacion cargada</h2> {% endfor %}
</table>
{% endblock %}