{% extends "base.html" %}

{% block title %} Gestion de Especializaciones {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Especializaciones"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
{% if datos.errorInsert %}
<script>
    alertify.alert('Error', 'La Especializacion ya existe..')
</script>
{% endif %}
<div class="contenido3">
    <!-- Button to Open the Modal -->
    {% for value in datos.permisos %}
    {% if value.idPermiso == "33" %}
    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
            src="/public/res/add.svg" title="Crear Especializacion">Crear Nueva</a>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crear Especializacion</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/especializacion/administracionEspecializacion/cargarNuevaEspecializacion"
                        method="post" class="was-validated">
                        <div class="form-group">
                            <label for="nombre">Nombre de Especializacion:</label>
                            <input type="text" name="nombre" class="form-control" autofocus required>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">ID Especializacion</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for especializacion in datos.todasEspecializaciones %}
        <tr>
            <td>{{ especializacion.idEspecializacion }}</td>
            <td>{{ especializacion.nombre }}</td>
            <td>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "35" %}
                <!--MODIFICAR ESPECIALIZACION-->
                <a class="btn btn-outline-info btn-xs" href='#' role="button" data-toggle="modal"
                    data-target="#myModalModif{{ especializacion.idEspecializacion }}">
                    <img class=" iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!-- The Modal -->
                <div class="modal fade" id="myModalModif{{ especializacion.idEspecializacion }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar Especializacion</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/especializacion/administracionEspecializacion/modificarEspecializacion"
                                    method="post" class="was-validated">
                                    <input type="text" name="idEspecializacion"
                                        value="{{ especializacion.idEspecializacion }}" hidden>
                                    <div class="form-group">
                                        <label for="nombreAnterior">Nombre Anterior:</label>
                                        <input type="text" name="nombreAnterior" class="form-control"
                                            value="{{ especializacion.nombre }}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Nuevo Nombre:</label>
                                        <input type="text" name="nombre" class="form-control" autofocus required>
                                        <div class="invalid-feedback">Complete este campo</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ELIMINAR ESPECIALIZACION SI NO UTILIZADO-->
                {% endif %}
                {% else %}

                {% endfor %}


                {% set desabilitado = "disabled" %}
                {% if especializacion.usado == false %}
                {% set desabilitado = "" %}
                {% endif %}
                <form action="/especializacion/eliminar" method="post" style="display: inline-block"
                    id="formEliminarEspecializacion{{ especializacion.idEspecializacion }}">
                    <input type="text" name="idEspecializacion" value="{{ especializacion.idEspecializacion }}" hidden>
                </form>

                {% for value in datos.permisos %}
                {% if value.idPermiso == "35" %}
                <a href="#" class="btn btn-outline-info btn-xs {{ desabilitado }}" role="button"
                    onclick="alertify.confirm('Eliminar Especializacion','¿Esta seguro?',function(){document.getElementById('formEliminarEspecializacion{{ especializacion.idEspecializacion }}').submit()},function(){})"><img
                        class="iconos" src="/public/res/del.svg" title="Eliminar Especializacion"></a>
                {% endif %}
                {% else %}

                {% endfor %}



            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay ninguna Especializacion cargada</h2>
        {% endfor %}
    </table>
</div>
{% endblock %}