{% extends "base.html" %}

{% block title %} Gestion de Especializaciones {% endblock %}

{% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
<div class="general">
    <h1>Listado de Especializaciones</h1>
    <script>
        function mostrarFormulario() {
            var formularioEspecializacion = document.getElementById('formularioEspecializacion');
            if (formularioEspecializacion.style.display == "block") {
                formularioEspecializacion.style.display = "none";
            } else {
                formularioEspecializacion.style.display = "block"
            }
        }
    </script>
    <form class="buscador" action="/pedido/buscar" method="POST">
        <input class="crear" type="button" value="CARGAR NUEVA ESPECIALIZACION" onclick="mostrarFormulario()">
        <select name="filtro">
            <option value="id">Nº PEDIDO</option>
            <option value="sector">SECTOR</option>
            <option value="fechaInicio">FECHA INICIO</option>
            <option value="estado">ESTADO</option>
            <option value="prioridad">PRIORIDAD</option>
        </select>
        <input name="textBusqueda" type="Search" placeholder="Escribe parametro">
        <input type="submit" value="Buscar">
    </form>
    <form action="/especializacion/administracionEspecializacion/cargarNuevaEspecializacion" method="post"
        id="formularioEspecializacion" style="display: none">
        <fieldset class="basicosEspecializacion">
            <legend> Alta de Especializacion</legend>
            <label for="nombre">Nombre del Especializacion</label>
            <input type="text" name="nombre" autofocus>
        </fieldset>
        <input type="submit">
    </form>
    <table id="miTabla">
        <th onclick="sortTable(0,'miTabla')">ID Especializacion</th>
        <th onclick="sortTable(1,'miTabla')">Nombre</th>
        <th onclick="sortTable(2,'miTabla')">Accion</th>
        {% for especializacion in datos.todasEspecializaciones %}
        <tr>
            <td>{{ especializacion.idEspecializacion }}</td>
            <td>{{ especializacion.nombre }}</td>
            <td>
                <a
                    href='/especializacion/modificar/seleccionado?idEspecializacion={{ especializacion.idEspecializacion }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!-- {% if especializacion.usado == false %}
                <form action="/especializacion/eliminar" method="post">
                    <input type="text" name="idEspecializacion" value="{{ especializacion.idEspecializacion }}" hidden>
                    <input type="button" value="Eliminar" id="btnEliminar{{ especializacion.idEspecializacion }}"
                        onclick="document.getElementById('eliminarSi{{ especializacion.idEspecializacion }}').style.display='inline-block';document.getElementById('eliminarNo{{ especializacion.idEspecializacion }}').style.display='inline-block';document.getElementById('btnEliminar{{ especializacion.idEspecializacion }}').style.display='none'">
                    <input type="submit" value="Si" id="eliminarSi{{ especializacion.idEspecializacion }}"
                        style="display: none">
                    <input type="reset" value="No" id="eliminarNo{{ especializacion.idEspecializacion }}"
                        style="display: none"
                        onclick="document.getElementById('eliminarSi{{ especializacion.idEspecializacion }}').style.display='none';document.getElementById('eliminarNo{{ especializacion.idEspecializacion }}').style.display='none';document.getElementById('btnEliminar{{ especializacion.idEspecializacion }}').style.display='inline-block'">
                </form>
                {% endif %}-->
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay ninguna Especializacion cargada</h2>
        {% endfor %}
    </table>
    <section class="paginacion">
        <ul>
            {% if datos.totalPaginas is empty  %}
            <li><a href='/especializacion/administracion?page={{ 1 }}'> 1 </a></li>
            {% endif %}
            {% if datos.totalPaginas|e  %}
            <li><a href='/especializacion/administracion?page={{ 1 }}'> &lt; </a></li>
            {% for i in 1..datos.totalPaginas %}
            <li><a href='/especializacion/administracion?page={{ i }}'> {{ i }} </a></li>
            {% endfor %}
            <li><a href='/especializacion/administracion?page={{ datos.totalPaginas }}'> &gt; </a></li>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock %}