{% extends "base.html" %}
{% block title %}
	Pedidos
{% endblock %}
{% block main %}
	<div>
		<h2 class="titulo-tabla">Pedidos Registrados</h2>

		<!-- BOTON NEW PEDIDO -->
		{% if "13" in datos.datosSesion.listaPermisos %}
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew">
				<i class="fal fa-plus"></i>
				Crear Nuevo</button>
		{% endif %}

		<!-- TABLA PEDIDOS -->
		<table id="miTabla" class="table table-bordered table-sm table-striped table-hover m-0 w-100">
			<thead>
				<tr>
					<th>Nº</th>
					<th>Descripcion</th>
					<th>Sector</th>
					<th>F. Inicio</th>
					<th>F. Fin</th>
					<th>Tareas</th>
					<th>Estado</th>
					<th>Prioridad</th>
					<th>Usuario</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<!-- MODALES NEW, UPDATE Y DELETE -->


	<!--NEW PEDIDO-->
	{% if "13" in datos.datosSesion.listaPermisos %}
		<div class="modal fade" id="modalNew">
			<div class="modal-dialog modal-lg">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0">Alta de Pedido</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						{% if datos.sectores is empty %}
							<div class="alert alert-danger text-center" role="alert">Primero debe añadir un Sector
								<a href="/sectores/administracionSectores" class="alert-link">HAGA CLICK AQUI</a>
							</div>
						{% else %}
							<form action="create" method="post" id="formPedidoNew">
								{% if datos.evento %}
									<div class="form-row">
										<div class="form-group required col-lg-3">
											<label class="control-label" for="idEventoNew">ID Evento:</label>
											<input type="text" name="idEvento" class="form-control" id="idEventoNew" value="{{ datos.evento.id }}" readonly>
										</div>
										<div class="form-group required col-lg-9">
											<label class="control-label" for="nombreEventoNew">Nombre Evento:</label>
											<input type="text" class="form-control" id="nombreEventoNew" value="{{ datos.evento.nombre }}" readonly>
										</div>
									</div>
								{% endif %}
								<div class="form-row">
									<div class="form-group required col-lg-4">
										<label class="control-label" for="idUsuario">Usuario Creador:</label>
										<input name="idUsuario" id="idUsuario" value="{{ datos.datosSesion.idUser }}" required readonly hidden>
										<input type="text" class="form-control" value="{{ datos.datosSesion.nickUser }}" readonly>
									</div>
									<div class="form-group required col-lg-4">
										<label class="control-label" for="fechaInicio">Fecha:</label>
										<input type="text" class="form-control" value="{{ "now"|date("d/m/Y") }}" required readonly>
									</div>
									<div class="form-group required col-lg-4">
										<label class="control-label" for="idEstado">Estado:</label>
										{% for estado in datos.estados if estado.nombre == 'Iniciado' %}
											<input name="idEstado" id="idEstado" value=" {{ estado.id }}" required readonly hidden>
											<input type="text" class="form-control" value="{{ estado.nombre }}" readonly>
										{% endfor %}
									</div>
								</div>
								<div class="form-row">
									<div class="form-group required col-lg-6">
										<label class="control-label" for="idSector">Sector:</label>
										<select name="idSector" id="idSector" class="form-control custom-select">
											{% for sector in datos.sectores %}
												<option value="{{ sector.id }}">{{ sector.nombre }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group required col-lg-6">
										<label class="control-label" for="idPrioridad">Prioridad:</label>
										<select name="idPrioridad" id="idPrioridad" class="form-control custom-select">
											{% for prioridad in datos.prioridades %}
												<option value="{{ prioridad.id }}">{{ prioridad.nombre }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group required">
									<label class="control-label" for="descripcion">Descripcion:</label>
									<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required>{{ datos.evento.descripcion }}</textarea>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
									<button type="submit" class="btn btn-success">Enviar</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!--MODIFICAR PEDIDO SI NO ESTÁ EN ESTADO CANCELADO/TERMINADO-->
	{% if "15" in datos.datosSesion.listaPermisos %}
		<div class="modal fade" id="modalUpdate">
			<div class="modal-dialog modal-lg">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0" id="h3TitleModalUpdate"></h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<form action="update" method="post" id="formPedidoUpd">
							<input type="text" name="id" id="updateID" hidden>
							<div class="form-row">
								<div class="form-group col-lg-4 required">
									<label class="control-label" for="idUsuarioUpdate">Usuario Creador:</label>
									<input type="text" name="idUsuario" class="form-control" id="idUsuarioUpdate" required readonly>
								</div>
								<div class="form-group col-lg-4 required">
									<label class="control-label" for="fechaInicioUpdate">Fecha:</label>
									<input type="date" name="fechaInicio" class="form-control" id="fechaInicioUpdate" required readonly>
								</div>
								<div class="form-group col-lg-4 required">
									<label class="control-label" for="idEstadoUpdate">Estado:</label>
									<input type="text" name="idEstado" id="idEstadoUpdateHid" required readonly hidden>
									<input type="text" class="form-control" id="idEstadoUpdate" required readonly>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-lg-6 required">
									<label class="control-label" for="idSectorUpdate">Sector:</label>
									<select name="idSector" id="idSectorUpdate" class="form-control custom-select">
										{% for sector in datos.sectores %}
											<option value="{{ sector.id }}">
												{{ sector.nombre }}
											</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group col-lg-6 required">
									<label class="control-label" for="idPrioridadUpdate">Prioridad:</label>
									<select name="idPrioridad" id="idPrioridadUpdate" class="form-control custom-select">
										{% for prioridad in datos.prioridades %}
											<option value="{{ prioridad.id }}">{{ prioridad.nombre }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group required">
								<label class="control-label" for="descripcionUpdate">Descripcion:</label>
								<textarea class="form-control" rows="4" name="descripcion" id="descripcionUpdate" required></textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
								<button type="submit" class="btn btn-success">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!--ELIMINAR PEDIDO SI SOLO ESTÁ EN ESTADO INICIADO Y TIENE 0 TAREAS-->
	{% if "14" in datos.datosSesion.listaPermisos %}
		<div class="modal fade" id="modalDelete">
			<div class="modal-dialog" role="document">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<form action="cancel" method="post" id="formPedidoDel">
							<input type="text" name="id" id="deleteID" hidden>
							<div class="form-group required">
								<label class="control-label" for="observacionCancel">Ingrese el motivo de la cancelación:</label>
								<textarea class="form-control" rows="4" name="observacion" id="observacionCancel" required></textarea>
							</div>
							<!-- Modal Footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
								<button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!--MODAL GENERAL PEDIDOS-->
	{% if "16" in datos.datosSesion.listaPermisos %}
		<div class="modal fade" id="modalGeneral">
			<div class="modal-dialog modal-xl">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0">Ver Pedido</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<nav class="px-4">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-pedido-tab" data-toggle="tab" href="#nav-pedido" role="tab" aria-controls="nav-pedido" aria-selected="true">Pedido</a>
							<a class="nav-item nav-link" id="nav-historial-tab" data-toggle="tab" href="#nav-historial" role="tab" aria-controls="nav-historial" aria-selected="true">Historial</a>
							{% if "20" in datos.datosSesion.listaPermisos %}
								<a class="nav-item nav-link" id="nav-tareas-tab" data-toggle="tab" href="#nav-tareas" role="tab" aria-controls="nav-profile" aria-selected="false">Tareas</a>
							{% endif %}
						</div>
					</nav>
					<div
						class="tab-content px-4 py-2" id="nav-tabContent">
						<!--VER PEDIDO UNO-->
						<div class="tab-pane fade show active" id="nav-pedido" role="tabpanel" aria-labelledby="nav-pedido-tab">
							<dl class="row m-0 p-0" id='dlPedido'></dl>
						</div>
						<!--VER HISTORIAL-->
						<div class="tab-pane fade" id="nav-historial" role="tabpanel" aria-labelledby="nav-historial-tab">
							<table id="miTablaHistorial" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
								<thead>
									<tr>
										<th>Nº</th>
										<th>Fecha</th>
										<th>Usuario</th>
										<th>Estado</th>
										<th>Observacion</th>
									</tr>
								</thead>
								<tbody id="tbodyHistorial"></tbody>
							</table>
						</div>
						<!--VER TAREAS-->
						{% if "20" in datos.datosSesion.listaPermisos %}
							<div class="tab-pane fade" id="nav-tareas" role="tabpanel" aria-labelledby="nav-tareas-tab">
								{% if "17" in datos.datosSesion.listaPermisos %}
									<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNewTarea">
										<i class="fal fa-plus"></i>
										Crear Tarea</button>
								{% endif %}
								<table id="miTablaTarea" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
									<thead>
										<tr>
											<th>Numero</th>
											<th>F. Inicio</th>
											<th>F. Fin</th>
											<th>Descripcion</th>
											<th>Especializacion</th>
											<th>Prioridad</th>
											<th>Estado</th>
											<th>Usuario</th>
											<th>Agentes</th>
										</tr>
									</thead>
									<tbody id="tbodyTareas"></tbody>
								</table>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!--CREAR TAREA PARA UN PEDIDO MODAL-->
	<div class="modal fade" id="modalNewTarea">
		<div class="modal-dialog modal-lg">
			<div
				class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h3 class="modal-title m-0">Crear Tarea</h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<form action="/tarea/create" method="post" id="formTareaNew">
						<div class="form-row">
							<div class="form-group required col-lg-3">
								<label class="control-label" for="idPedidoTarea">Pedido Nº:</label>
								<input type="text" class="form-control" name="idPedido" id="idPedidoTarea" readonly>
							</div>
							<div class="form-group required col-lg-3">
								<label class="control-label" for="idUsuarioTarea">Usuario Creador:</label>
								<input name="idUsuario" value="{{ datos.datosSesion.idUser }}" required readonly hidden>
								<input type="text" name="idUsuario" class="form-control" id="idUsuarioTarea" value="{{ datos.datosSesion.nickUser }}" readonly>
							</div>
							<div class="form-group required col-lg-3">
								<label class="control-label" for="fechaInicioTarea">Fecha:</label>
								<input type="date" name="fechaInicio" class="form-control" id="fechaInicioTarea" value="{{ datos.diaHoy }}" required readonly>
							</div>
							<div class="form-group required col-lg-3">
								<label class="control-label" for="idEstadoTarea">Estado:</label>
								{% for estado in datos.estados if estado.nombre == 'Iniciado' %}
									<input name="idEstado" value=" {{ estado.id }}" required readonly hidden>
									<input type="text" class="form-control" id="idEstadoTarea" value="{{ estado.nombre }}" readonly>
								{% endfor %}
							</div>
						</div>
						<div class="form-row">
							<div class="form-group required col-lg-6">
								<label class="control-label" for="idEspecializacionTarea">Especializacion:</label>
								<select name="idEspecializacion" id="idEspecializacionTarea" class="form-control custom-select">
									{% for especializacion in datos.especializaciones %}
										<option value="{{ especializacion.id }}">{{ especializacion.nombre }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group required col-lg-6">
								<label class="control-label" for="idPrioridadTarea">Prioridad:</label>
								<select name="idPrioridad" id="idPrioridadTarea" class="form-control custom-select">
									{% for prioridad in datos.prioridades %}
										<option value="{{ prioridad.id }}">{{ prioridad.nombre }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group required">
							<label class="control-label" for="descripcionTarea">Descripcion:</label>
							<textarea class="form-control" rows="4" id="descripcionTarea" name="descripcion" required></textarea>
						</div>
						<!-- Modal Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
							<button type="submit" class="btn btn-success">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN MODALES NEW, UPDATE Y DELETE -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'partials/scriptsDatatables.html' %}
	<script src="/public/js/jsBasicos/jsPedido.js" type="module"></script>
	{% if datos.evento %}
		<script>
			$(function () {
$('#modalNew').modal('show');
})
		</script>
	{% endif %}
{% endblock %}
