{% extends "base.html" %}

{% block title %}Ficha de Pedido
{% endblock %}

{% block header %}
	{% set datos = datos|merge({
    "titulo": "Ficha de Pedido"
}) %}
	{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
	{{ parent() }}

{% endblock %}

{% block main %}
	<div class="contenido3">
		<ul class="navTitulo">
			<img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver">
			<img class=" iconosTitulo" src="/public/res/print.svg" onclick="print()" title="Imprimir">
			{% if datos.miPedido.estado != "Finalizado" and datos.miPedido.estado != "Cancelado" %}
				<a href='/pedido/modificar' role="button" data-toggle="modal" data-target="#myModalModif">
					<img class="iconos" src="/public/res/update.svg" title="Modificar Pedido">
				</a>
				<!-- The Modal -->
				<div class="modal fade" id="myModalModif">
					<div class="modal-dialog modal-lg">
						<div
							class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h3 class="modal-title m-0">Modificar Pedido</h3>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								<form action="/pedido/modificar" method="post" class="was-validated">
									<input type="text" name="id" value="{{datos.miPedido.id}}" hidden>
									<div class="form-row">
										<div class="form-group col-lg-4">
											<label for="nombreUsuario">Usuario Creador:</label>
											<span class="asterisco">*</span>
											<input type="text" name="nombreUsuario" class="form-control" value="{{ datos.miPedido.nombreUsuario }}" required readonly>
										</div>
										<div class="form-group col-lg-3">
											<label for="fechaInicio">Fecha:</label>
											<span class="asterisco">*</span>
											<input type="date" name="fechaInicio" class="form-control" value="{{ datos.miPedido.fechaInicioSinFormato }}" required readonly>
										</div>
										<div class="form-group col-lg-4">
											<label for="estado">Estado:</label>
											<span class="asterisco">*</span>
											<input type="text" name="estado" class="form-control" value="{{ datos.miPedido.estado }}" required readonly>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-lg-6">
											<label for="sector">Sector:</label>
											<span class="asterisco">*</span>
											<select name="sector" class="form-control custom-select">
												{% for sector in datos.sectores %}
													{% if sector == datos.miPedido.nombreSector %}
														<option value="{{ sector }}" selected>{{ sector }}</option>
													{% else %}
														<option value="{{ sector }}">{{ sector }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<div class="form-group col-lg-5">
											<label for="prioridad">Prioridad:</label>
											<span class="asterisco">*</span>
											<select name="prioridad" class="form-control custom-select">
												{% for prioridad in datos.prioridades %}
													{% if prioridad == datos.miPedido.prioridad %}
														<option value="{{ prioridad }}" selected>{{ prioridad }}</option>
													{% else %}
														<option value="{{ prioridad }}">{{ prioridad }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group col-lg-10">
										<label for="descripcion">Descripcion:</label>
										<span class="asterisco">*</span>
										<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required>{{datos.miPedido.descripcion}}</textarea>
										<div class="invalid-feedback">Complete este campo</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
										<button type="submit" class="btn btn-success">Enviar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<form action="/pedido/finalizar" method="post" style="display: inline-block" id="formTerminarPedido">
				<input type="text" name="id" value="{{ datos.miPedido.id }}" hidden>
			</form>
			<a id="btnFinPedido" style="display: none; background-color:lightgreen" onclick="alertify.confirm('Finalizar Pedido','¿Esta seguro?',function(){document.getElementById('formTerminarPedido').submit()},function(){})"><img class="iconos" src="/public/res/finish.svg" title="Terminar Pedido"></a>
		</ul>
		<dl>
			<dt>Nº Pedido:</dt>
			<dd>{{ datos.miPedido.id }}</dd>
			<dt>Usuario Creador:</dt>
			<dd>{{ datos.miPedido.nombreUsuario }}</dd>
			<dt>Fecha Inicio:</dt>
			<dd>{{ datos.miPedido.fechaInicio }}</dd>
			<dt>Fecha Fin:</dt>
			<dd>{{ datos.miPedido.fechaFin }}</dd>
			<dt>Estado:</dt>
			<dd>{{ datos.miPedido.estado }}</dd>
			<dt>Sector:</dt>
			<dd>
				<a href="#" onclick="fichaSector('{{ datos.miPedido.idSector }}');" title="Ver Mas">{{ datos.miPedido.nombreSector }}</a>
			</dd>
			<dt>Prioridad:</dt>
			<dd>{{ datos.miPedido.prioridad }}</dd>
			<br>
			<dt>Descripcion:</dt>
			<dd class="descripcion">{{ datos.miPedido.descripcion }}</dd>
		</dl>
		<h2>TAREAS</h2>
		<a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal" id="btnCrearTarea"><img class="iconos" src="/public/res/add.svg" title="Crear Tarea">Crear Nuevo</a>
		<!-- The Modal -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog modal-lg">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0">Crear Tarea</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						{% if datos.especializaciones is empty %}
							<div class="alert alert-danger text-center" role="alert">Primero debe añadir una Especializacion
								<a href="/especializacion/administracionEspecializacion" class="alert-link">HAGA CLICK AQUI</a>
							</div>
						{% else %}
							<form action="/tarea/guardar" method="post" class="was-validated">
								<input type="text" name="idPedido" value="{{ datos.miPedido.id }}" hidden>
								<div class="form-row">
									<div class="form-group col-lg-2">
										<label for="estado">Estado:</label>
										<span class="asterisco">*</span>
										<input type="text" name="estado" class="form-control" value="{{ datos.estados.0 }}" required readonly>
									</div>
									<div class="form-group col-lg-6">
										<label for="especializacion">Especializacion:</label>
										<span class="asterisco">*</span>
										<select name="especializacion" class="form-control custom-select">
											{% for especializacion in datos.especializaciones %}
												<option value="{{ especializacion.nombre }}">{{ especializacion.nombre }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group col-lg-3">
										<label for="prioridad">Prioridad:</label>
										<span class="asterisco">*</span>
										{% if datos.miPedido.prioridad == 'Urgente' %}
											<input type="text" name="prioridad" value="Urgente" class="form-control" readonly>
										{% else %}
											<select name="prioridad" class="form-control custom-select">
												{% for prioridad in datos.prioridades %}
													<option value="{{ prioridad }}">{{ prioridad }}</option>
												{% endfor %}
											</select>
										{% endif %}
									</div>
								</div>
								<div class="form-group col-lg-10">
									<label for="descripcion">Descripcion:</label>
									<span class="asterisco">*</span>
									<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required></textarea>
									<div class="invalid-feedback">Complete este campo</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
									<button type="submit" class="btn btn-success">Enviar</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% if (datos.miPedido.estado == "Finalizado") or (datos.miPedido.estado == "Cancelado") %}
			<script>
				var btnCrearTarea = document.getElementById("btnCrearTarea");
btnCrearTarea.style.display = "none";
			</script>
		{% endif %}
		<table id="miTabla">
			<th onclick="sortTable(0,'miTabla')">Nº Tarea</th>
			<th onclick="sortTable(1,'miTabla')">OT Asignada</th>
			<th onclick="sortTable(2,'miTabla')">Descripcion</th>
			<th onclick="sortTable(3,'miTabla')">Especializacion</th>
			<th onclick="sortTable(4,'miTabla')">Prioridad</th>
			<th onclick="sortTable(5,'miTabla')">Estado</th>
			<th onclick="sortTable(6,'miTabla')">Agentes</th>
			<th onclick="sortTable(7,'miTabla')">Insumos</th>
			<th onclick="sortTable(8,'miTabla')">Accion</th>
			{% set pedidoFin = true %}
			{% for tarea in datos.miPedido.tareas %}
				{% set estilo = "" %}
				{% if tarea.estado == "Finalizado" %}
					{% set estilo = "style=background-color:#ffcccc" %}
				{% else %}
					{% if tarea.estado == "Cancelado" %}
						{% set estilo = "style=background-color:lightgrey" %}
					{% endif %}
				{% endif %}
				<tr>
					<td {{ estilo }}>
						<a href="/fichaTarea?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}" title="Ver Mas">
							Tarea
							{{ tarea.idTarea }}</a>
					</td>
					<td {{ estilo }}>
						{% if tarea.estado == 'Cancelado' %}
							<p>-</p>
						{% else %}
							{% if tarea.idOT is empty  %}
								{% if tarea.agentesAsignados == 0 %}
									<a href="#" title="Crear OT" onclick="alertify.alert('Alerta', 'Primero debe asignar AGENTES a esta Tarea..');">Tarea sin
										                    asignar</a>
								{% else %}
									<a href="/ot/crear" title="Crear OT">
										Tarea sin asignar</a>
								{% endif %}
							{% else %}
								<a href="/fichaOT?idOT={{ tarea.idOT }}" title="Ver Mas">
									OT
									{{ tarea.idOT }}</a>
							{% endif %}
						{% endif %}
					</td>
					<td class="descripcion" {{ estilo }}>{{ tarea.descripcion }}</td>
					<td {{ estilo }}>{{ tarea.especializacionNombre }}</td>
					<td {{ estilo }}>{{ tarea.prioridad }}</td>
					<td {{ estilo }}>{{ tarea.estado }}</td>
					{% if tarea.estado != "Finalizado" and tarea.estado != "Cancelado" %}
						{% set pedidoFin = false %}
					{% endif %}
					<td {{ estilo }}>{{ tarea.agentesAsignados }}</td>
					<td {{ estilo }}>{{ tarea.insumosAsignados }}</td>
					<td
						{{ estilo }}>
						<!--ACCIONES DE LAS TAREAS-->
						{% if tarea.estado != "Cancelado" %}
							<!--VER MAS-->
							<a href="/fichaTarea?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}" title="Ver Mas">
								<img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
							</a>
							{% if tarea.estado != "Finalizado" %}
								<!--MODIFICAR SI NO ESTÁ FINALIZADO-->
								<a href="#" role="button" data-toggle="modal" data-target="#myModalModif{{ tarea.idTarea }}">
									<img class="iconos" src="/public/res/update.svg" title="Modificar">
								</a>
								<!-- The Modal -->
								<div class="modal fade" id="myModalModif{{ tarea.idTarea }}">
									<div class="modal-dialog modal-lg">
										<div
											class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h3 class="modal-title m-0">Modificar Tarea</h3>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<!-- Modal body -->
											<div class="modal-body">
												<form action="/tarea/modificar/guardar" method="post" class="was-validated">
													<input type="text" name="idPedido" value="{{ datos.miPedido.id }}" hidden>
													<input type="text" name="idTarea" value="{{ tarea.idTarea }}" hidden>
													<div class="form-row">
														<div class="form-group col-lg-6">
															<label for="especializacion">Especializacion:</label>
															<span class="asterisco">*</span>
															<select name="especializacion" class="form-control custom-select">
																{% for especializacion in datos.especializaciones %}
																	{% if especializacion.nombre == tarea.especializacionNombre %}
																		<option value="{{ especializacion.nombre }}" selected>
																			{{ especializacion.nombre }}</option>
																	{% else %}
																		<option value="{{ especializacion.nombre }}">
																			{{ especializacion.nombre }}</option>
																	{% endif %}
																{% endfor %}
															</select>
														</div>
														<div class="form-group col-lg-4">
															<label for="prioridad">Prioridad:</label>
															<span class="asterisco">*</span>
															{% if datos.miPedido.prioridad == 'Urgente' %}
																<input type="text" name="prioridad" value="Urgente" class="form-control" readonly>
															{% else %}
																<select name="prioridad" class="form-control custom-select">
																	{% for prioridad in datos.prioridades %}
																		{% if prioridad == tarea.prioridad %}
																			<option value="{{ prioridad }}" selected>{{ prioridad }}</option>
																		{% else %}
																			<option value="{{ prioridad }}">{{ prioridad }}</option>
																		{% endif %}
																	{% endfor %}
																</select>
															{% endif %}
														</div>
													</div>
													<div class="form-group col-lg-10">
														<label for="descripcion">Descripcion:</label>
														<span class="asterisco">*</span>
														<textarea class="form-control" rows="4" id="descripcion" name="descripcion" required>{{ tarea.descripcion }}</textarea>
														<div class="invalid-feedback">Complete este campo</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
														<button type="submit" class="btn btn-success">Enviar</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!--ASIGNAR AGENTE SI NO ESTÁ FINALIZADO-->
								<a href="/tarea/agentes/asignar?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}">
									<img class="iconos" src="/public/res/addAgente.svg" title="Asignar Agentes">
								</a>
								<!--ASIGNAR INSUMOS SI NO ESTÁ FINALIZADO-->
								<a href="/tarea/insumos/asignar?idPedido={{ datos.miPedido.id }}&idTarea={{ tarea.idTarea }}">
									<img class="iconos" src="/public/res/insumos.svg" title="Asignar Insumos"></a>
							{% endif %}
							<!--ELIMINAR TAREA SI SOLO ESTÁ EN ESTADO INICIADO Y NO TIENE AGENTES NI INSUMOS ASIGNADOS-->
							{% if tarea.estado == 'Iniciado' %}
								{% if tarea.agentesAsignados != 0 %}
									<a onclick="alertify.alert('Error', 'Hay AGENTES asignados a esta Tarea.. Primero debe desasignarlos');"><img class="iconos" src="/public/res/delTarea.svg" title="Eliminar Tarea"></a>
								{% else %}
									{% if tarea.insumosAsignados != 0 %}
										<a onclick="alertify.alert('Error', 'Hay INSUMOS asignados a esta Tarea.. Primero debe desasignarlos');"><img class="iconos" src="/public/res/delTarea.svg" title="Eliminar Tarea"></a>
									{% else %}
										<a href="" role="button" data-toggle="modal" data-target="#modalCancelarTarea{{ tarea.idTarea }}"><img class="iconosTitulo" src="/public/res/delTarea.svg" onclick="mostrarFormulario()" title="Cambiar Estado"></a>
										<!-- The Modal -->
										<div class="modal fade" id="modalCancelarTarea{{ tarea.idTarea }}">
											<div class="modal-dialog modal-xs">
												<div
													class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header">
														<h3 class="modal-title m-0">Cancelar Tarea</h3>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<!-- Modal body -->
													<h3>Usted esta a punto de cancelar esta tarea.</h3>
													<div class="modal-body">
														<form action="/tarea/cambiarEstado/seleccionado" method="post" class="was-validated">
															<input type="text" name="idPedido" value="{{ datos.miPedido.id }}" hidden>
															<input type="text" name="idTarea" value="{{ tarea.idTarea }}" hidden>
															<input type="text" name="estado" value="Cancelado" hidden>
															<div class="form-group col-lg-10">
																<label for="descripcion">Motivo:</label>
																<span class="asterisco">*</span>
																<textarea class="form-control" rows="3" id="descripcion" name="descripcion" required></textarea>
																<div class="invalid-feedback">Complete este campo</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
																<button type="submit" class="btn btn-success">Enviar</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% else %}
				{% if datos.miPedido.estado != "Cancelado" %}
					<h2 class='error'>No hay Tareas asignadas aún</h2>
				{% endif %}
			{% endfor %}
			{% if datos.miPedido.tareas|length > 0 and pedidoFin == true and datos.miPedido.estado != 'Finalizado' %}
				<script>
					var formFinPedido = document.getElementById("btnFinPedido");
formFinPedido.style.display = "block";
				</script>
			{% endif %}
		</table>
	</div>
	<script src="/public/js/ajax/ajaxFichaSector.js"></script>
{% endblock %}
