{% extends "base.html" %}
{% block title %} Gestion de Pedidos {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% if datos.newOK %}
<script>
    alertify.alert(
        "<span class='fa fa-check-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Alta realizada</span>",
        "Pedido creado correctamente");
</script>
{% elseif datos.newOK is not null and datos.newOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al crear nuevo Pedido</span>",
        "Error");
</script>
{% endif %}
{% if datos.updateOK %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Modificación Realizada</span>",
        "Pedido Modificado Correctamente");
</script>
{% elseif datos.updateOK is not null and datos.updateOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al modificar Pedido</span>",
        "El Pedido no se pudo modificar..");
</script>
{% endif %}
{% if datos.deleteOK %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#00e104'></span><span style='font-size:15px; color:black'> Pedido Cancelado</span>",
        "Pedido Cancelado Correctamente");
</script>
{% elseif datos.deleteOK is not null and datos.deleteOK == false %}
<script>
    alertify.alert(
        "<span class='fa fa-times-circle fa-2x' style='vertical-align:middle;color:#e10000'></span><span style='font-size:15px; color:black'> Error al eliminar Pedido</span>",
        "El Pedido no se pudo cancelar..");
</script>
{% endif %}
<div>
    {% block header %}
    {% include 'partials/header.html' with {datos:datos} only %}
    {% endblock %}
    <h2 class="titulo-tabla">Pedidos Registrados </h2>
    <!-- Button to Open the Modal -->
    {% if "13" in datos.permisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#nuevoModal"><i
            class="fa fa-plus"></i> Crear Nuevo</button>
    <!-- The Modal -->
    <div class="modal fade" id="nuevoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title m-0">Alta de Pedido</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    {% if datos.sectores is empty %}
                    <div class="alert alert-danger text-center" role="alert">Primero debe añadir un Sector <a
                            href="/sectores/administracionSectores" class="alert-link">HAGA CLICK AQUI</a>
                    </div>
                    {% else %}
                    <form action="newPedido" method="post" class="was-validated">
                        {% if datos.evento is not empty %}
                        <input type="text" name="idEvento" value="{{ datos.evento.idEvento }}" hidden>
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nombreUsuario">Usuario Creador:</label><span class="asterisco">*</span>
                                <input type="text" name="nombreUsuario" class="form-control"
                                    value="{{ datos.userLogueado }}" required readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fechaInicio">Fecha:</label><span class="asterisco">*</span>
                                <input type="date" name="fechaInicio" class="form-control" value="{{ datos.diaHoy }}"
                                    required readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="estado">Estado:</label><span class="asterisco">*</span>
                                <input type="text" name="estado" class="form-control" value="{{ datos.estados.0 }}"
                                    required readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="idSector">Sector:</label><span class="asterisco">*</span>
                                <select name="idSector" class="form-control custom-select">
                                    {% for sector in datos.sectores %}
                                    <option value="{{ sector.idSector }}">{{ sector.nombreSector }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="prioridad">Prioridad:</label><span class="asterisco">*</span>
                                <select name="prioridad" class="form-control custom-select">
                                    {% for prioridad in datos.prioridades %}
                                    <option value="{{ prioridad }}">{{ prioridad }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                            <textarea class="form-control" rows="4" id="descripcion" name="descripcion"
                                required>{% if datos.evento is not empty %}{{ datos.evento.descripcion }}{% endif %}</textarea>
                            <div class="invalid-feedback">Complete este campo</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>Nº Pedido</th>
                <th>Descripcion</th>
                <th>Sector</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Tareas</th>
                <th>Estado</th>
                <th>Prioridad</th>
                <th>Usuario</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in datos.todosPedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.descripcion|slice(0, 55) }}</td>
                {% if "28" in datos.permisos %}
                <td><a href="#" onclick="fichaSector('{{ pedido.idSector }}');return false;"
                        title="Ver Mas">{{ pedido.nombreSector }}</a>
                </td>
                {% endif %}
                <td>{{ pedido.fechaInicio }}</td>
                <td>{{ pedido.fechaFin }}</td>
                <td>{{ pedido.tareasAsignadas }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.prioridad }}</td>
                <td>{{ pedido.nombreUsuario }}</td>
                <td>

                    {% if "16" in datos.permisos %}
                    <div class="modal fade" id="myModalTareas{{ pedido.id }}">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h3 class="modal-title m-0">Ver Pedido</h3>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <dl class="row m-0">
                                                <dt class="col-lg-3 text-left my-1 mx-0">Pedido Nº:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.id }}</dd>
                                                <dt class="col-lg-3 text-left my-1 mx-0">Usuario:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.nombreUsuario }}</dd>
                                                <dt class="col-lg-3 text-left my-1 mx-0">Fecha:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.fechaInicio }}</dd>
                                            </dl>
                                        </div>
                                        <div class="col-6">
                                            <dl class="row m-0">
                                                <dt class="col-lg-3 text-left my-1 mx-0">Estado:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.estado }}</dd>
                                                <dt class="col-lg-3 text-left my-1 mx-0">Sector:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.nombreSector }}</dd>
                                                <dt class="col-lg-3 text-left my-1 mx-0">Prioridad:</dt>
                                                <dd class="col-lg-9 text-left my-1 mx-0">{{ pedido.prioridad }}</dd>
                                            </dl>
                                        </div>
                                        <div class="col">
                                            <dl class="row m-0">
                                                <dt class="text-left my-1 mx-0 pl-1">
                                                    &nbsp;&nbsp;&nbsp;Descripcion:</dt>
                                                <dd class="text-justify my-1 mx-0">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pedido.descripcion }}
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
{% endif %}

<!--MODIFICAR PEDIDO-->
{% if pedido.estado != "Finalizado" and pedido.estado != "Cancelado" %}
<!-- The Modal -->
<div class="modal fade" id="myModalModif{{ pedido.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Modificar Pedido</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updatePedido" method="post" class="was-validated">
                    <input type="text" name="id" value="{{ pedido.id }}" hidden>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="nombreUsuario">Usuario Creador:</label><span class="asterisco">*</span>
                            <input type="text" name="nombreUsuario" class="form-control"
                                value="{{ pedido.nombreUsuario }}" required readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fechaInicio">Fecha:</label><span class="asterisco">*</span>
                            <input type="date" name="fechaInicio" class="form-control"
                                value="{{ pedido.fechaInicioSinFormato }}" required readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado">Estado:</label><span class="asterisco">*</span>
                            <input type="text" name="estado" class="form-control" value="{{ pedido.estado }}" required
                                readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="idSector">Sector:</label><span class="asterisco">*</span>
                            <select name="idSector" class="form-control custom-select">
                                {% for sector in datos.sectores %}
                                {% if sector.nombreSector == pedido.nombreSector %}
                                <option value="{{ sector.idSector }}" selected>
                                    {{ sector.nombreSector }}</option>
                                {% else %}
                                <option value="{{ sector.idSector }}">{{ sector.nombreSector }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prioridad">Prioridad:</label><span class="asterisco">*</span>
                            <select name="prioridad" class="form-control custom-select">
                                {% for prioridad in datos.prioridades %}
                                {% if prioridad == pedido.prioridad %}
                                <option value="{{ prioridad }}" selected>{{ prioridad }}</option>
                                {% else %}
                                <option value="{{ prioridad }}">{{ prioridad }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label><span class="asterisco">*</span>
                        <textarea class="form-control" rows="4" name="descripcion"
                            required>{{pedido.descripcion}}</textarea>
                        <div class="invalid-feedback">Complete este campo</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--ELIMINAR PEDIDO SI SOLO ESTÁ EN ESTADO INICIADO-->
{% if "14" in datos.permisos %}
<form action="cancelPedido" method="post" style="display: inline-block" id="formEliminarPermiso{{ pedido.id }}">
    <input type="text" name="id" value="{{ pedido.id }}" hidden>
    <div class="modal fade" id="eliminarModal{{ pedido.id }}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title m-0">Eliminar Pedido &nbsp;{{ pedido.id }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

<div class="btn-group" role="group" aria-label="Basic example" style="float: none;">
    {% if "16" in datos.permisos %}
    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
        data-target="#myModalTareas{{ pedido.id }}" title="Ver Mas"><i class="fa fa-eye fa-2x fa-fw"></i>
    </button>
    {% endif %}
    {% if "15" in datos.permisos %}
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModalModif{{ pedido.id }}"
        title="Editar Pedido"><i class="fa fa-pencil fa-2x fa-fw"></i>
    </button>
    {% endif %}
    {% if "14" in datos.permisos %}
    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
        data-target="#eliminarModal{{ pedido.id }}" title="Eliminar Pedido"><i class="fa fa-trash-o fa-2x fa-fw"></i>
    </button>
    {% endif %}
</div>

{% endif %}
</td>
</tr>
{% else %}
<h2 class='error'>No hay Pedidos</h2>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script src="/public/js/ajaxFichaSector.js"></script>
<script src="/public/js/ajaxSpoilerTarea.js"></script>
<script>
    var columnas = '0,1,2,3,4,5,6,7,8';
    var columNoOrdenar = 9;
    var titulo = 'Pedidos Registrados';
</script>
<script src="/public/js/ordypagtablas.js"></script>
{% endblock %}