{% extends "base.html" %}

{% block title %} Gestion de Personas {% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Personas"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}

{% block main %}
{% if datos.errorInsert %}
<script>
    alertify.alert('Error', 'La Persona ya existe..')
</script>
{% endif %}
<div class="general">
    <!-- Button to Open the Modal -->
    {% for value in datos.permisos %}
                    {% if value.idPermiso == "45" %}
                    <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal"><img class="iconos"
                        src="/public/res/add.svg" title="Crear Sector">Crear Nuevo</a>
                    {% endif %}
                    {% else %}

                    {% endfor %}

    
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Alta de Persona</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/persona/altaPersona" method="post" class="was-validated">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="dni">DNI:</label><span class="asterisco">*</span>
                                <input type="number" name="dni" class="form-control" autofocus required min="10000000">
                                <div class="invalid-feedback">Min:10.000.000</div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nombre">Nombre:</label><span class="asterisco">*</span>
                                <input type="text" name="nombre" class="form-control" required>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="apellido">Apellido:</label><span class="asterisco">*</span>
                                <input type="text" name="apellido" class="form-control" required>
                                <div class="invalid-feedback">Complete este campo</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direccion:</label>
                            <input type="text" name="direccion" class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="email">Email:</label>
                                <input type="email" name="email" class="form-control">
                                <div class="invalid-feedback">El formato es incorrecto</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fecha_nacimiento">Fecha De Nacimiento:</label>
                                <input type="date" name="fecha_nacimiento" class="form-control"
                                    max="{{ datos.minimo18 }}" min="{{ datos.maximo70 }}">
                            </div>
                        </div>
                        <input type="text" name="estado" value="Activo" hidden>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">DNI </th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th onclick="sortTable(2,'miTabla')">Apellido</th>
                <th onclick="sortTable(3,'miTabla')">Direccion</th>
                <th onclick="sortTable(4,'miTabla')">Email</th>
                <th onclick="sortTable(5,'miTabla')">Fecha de Nacimiento</th>
                <th onclick="sortTable(6,'miTabla')">Estado</th>
                <th onclick="sortTable(7,'miTabla')">Accion</th>
            </tr>
        </thead>
        {% for persona in datos.todasPersonas %}
        {% if persona.dni != '0' %}
        <tr>
            <td>{{ persona.dni }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.direccion }}</td>
            <td>{{ persona.email }}</td>
            <td>{{ persona.fecha_nacimiento }}</td>
            <td>{{ persona.estado }}</td>
            <td>
                <!--MODIFICAR PERSONA-->
                    {% for value in datos.permisos %}
                    {% if value.idPermiso == "47" %}
                <a href='#' role="button" data-toggle="modal" data-target="#myModalModif{{ persona.dni }}"
                    class="btn btn-outline-info btn-xs">
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
                <!-- The Modal -->
                <div class="modal fade" id="myModalModif{{ persona.dni }}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modificar Persona</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/persona/modificar/guardar" method="post" class="was-validated">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="dni">DNI:</label><span class="asterisco">*</span>
                                            <input type="number" name="dni" value="{{ persona.dni }}"
                                                class="form-control" readonly>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="nombre">Nombre:</label><span class="asterisco">*</span>
                                            <input type="text" name="nombre" value="{{ persona.nombre }}"
                                                class="form-control" required>
                                            <div class="invalid-feedback">Complete este campo</div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="apellido">Apellido:</label><span class="asterisco">*</span>
                                            <input type="text" name="apellido" value="{{ persona.apellido }}"
                                                class="form-control" required>
                                            <div class="invalid-feedback">Complete este campo</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="direccion">Direccion:</label>
                                        <input type="text" name="direccion" value="{{ persona.direccion }}"
                                            class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label for="email">Email:</label>
                                            <input type="email" name="email" value="{{ persona.email }}"
                                                class="form-control">
                                            <div class="invalid-feedback">El formato es incorrecto</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fecha_nacimiento">Fecha De Nacimiento:</label>
                                            <input type="date" name="fecha_nacimiento"
                                                value="{{ persona.fecha_nacimiento }}" class="form-control"
                                                max="{{ datos.minimo18 }}" min="{{ datos.maximo70 }}">
                                        </div>
                                    </div>
                                    <input type="text" name="estado" value="Activo" hidden>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
                    {% else %}

                    {% endfor %}

                    {% for value in datos.permisos %}
                    {% if value.idPermiso == "47" %}
                <!--MODIFICAR ESTADO-->
                <a href="#" class="btn btn-info" role="button" data-toggle="modal"
                    data-target="#myModalEstado{{ persona.dni }}"><img class="iconos"
                        src="/public/res/estadoPersona.svg" title="Modificar Estado"></a>
                    {% endif %}
                    {% else %}

                    {% endfor %}

              
            
                <!-- The Modal -->
                <div class="modal fade" id="myModalEstado{{ persona.dni }}">
                    <div class="modal-dialog modal-xs">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Cambiar Estado</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="/persona/modificarEstado" method="post">
                                    <input type="text" name="dni" value="{{ persona.dni }}" hidden>
                                    <div class="form-group">
                                        <label for="estado">Nuevo Estado:</label>
                                        <select name="estado" class="form-control custom-select">
                                            {% for estado in datos.estados %}
                                            {% if estado != persona.estado %}
                                            <option value="{{ estado }}">{{ estado }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Salir</button>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ELIMINAR PERSONA SI NO ESTA USADO-->
                {% if persona.usado == false %}
                <form action="/persona/eliminar" method="post" style="display: inline-block"
                    id="formEliminarPersona{{ persona.dni }}">
                    <input type="text" name="dni" value="{{ persona.dni }}" hidden>
                </form>
                {% for value in datos.permisos %}
                {% if value.idPermiso == "46" %}
                <a class="btn btn-outline-info btn-xs"
                onclick="alertify.confirm('Eliminar Persona','¿Esta seguro?',function(){document.getElementById('formEliminarPersona{{ persona.dni }}').submit()},function(){})"><img
                    class="iconos" src="/public/res/del.svg" title="Eliminar Persona"></a>
                {% endif %}
                {% else %}

                {% endfor %}
             
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% else %}
        <h2 class='error'>No hay Personas</h2> {% endfor %}
    </table>
</div>
{% endblock %}