{% extends "base.html" %} {% block title %}Lista de Pedidos{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<div class="general">
    <h1>Listado de Roles</h1>

    <script>
        function mostrarFormulario() {
            var formularioPedido = document.getElementById('formularioPedido');
            if (formularioPedido.style.display == "block") {
                formularioPedido.style.display = "none";
            } else {
                formularioPedido.style.display = "block"
            }
        }
    </script>
    <img class="iconos" src="/public/res/add.svg" title="Crear" onclick="mostrarFormulario()">
    <form action="/roles/guardar" method="post" id="formularioPedido" style="display: none; border: 1px solid black">
        <fieldset>
            <legend>Datos Basicos</legend>
            <label for="nombreRol">Nombre</label>
            <input type="text" name="nombreRol" value="" placeholder="nombre del rol">
            <br>
        </fieldset>
        <input type="reset">
        <input type="submit">
    </form>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nº Rol</th>
                <th onclick="sortTable(1,'miTabla')">Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>

        {% for rol in datos.todosRoles %}
        <tr>
            <td>{{ rol.idRol }}</td>
            <td>{{ rol.nombreRol }}</td>
            <td>
                <a href='/fichaPedido?id={{ pedido.id }}'>
                    <img class="iconos" src="/public/res/vermas.svg" title="Ver Mas">
                </a>
                <a href='/pedido/modificar/seleccionado?id={{ pedido.id }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>
            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Roles</h2> {% endfor %}
    </table>
</div>

{% endblock %}