{% extends "base0.html" %}

{% block title %}Crear Tarea Nueva{% endblock %}

{% block header %}

{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}

{% endblock %}

{% block main %}
<div class="contenido3">

    <ul class="navTitulo">
        <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver">
        <h2>Modificar Pedido Nº {{ datos.miPedido.id }}</h2>



    </ul>





    <form action="/pedido/modificar" method="POST">
        <fieldset>
            <legend>Datos Basicos</legend>
            <label for="id">Numero de Pedido</label>
            <input type="text" name="id" value="{{ datos.miPedido.id }}" readonly class="numInputDisabled">
            <label for="nombreUsuario">Usuario Creador</label>
            <input type="text" name="nombreUsuario" value="{{ datos.miPedido.nombreUsuario }}" readonly
                class="inputDisabled">
            <label for="estado">Estado</label>
            <select name="estado" class="inputDisabled">
                <option value="{{ datos.miPedido.estado }}" selected>{{ datos.miPedido.estado }} </option>
            </select>
            <label for="fechaInicio">Fecha</label>
            <input type="date" name="fechaInicio" value="{{ datos.miPedido.fechaInicio }}"
                min="{{ datos.miPedido.fechaInicio }}">
            <label for="sector">Sector</label>
            <select name="sector">
                {% for sector in datos.sectores %}
                {% if sector == datos.miPedido.nombreSector %}
                <option value="{{ sector }}" selected>{{ sector }}</option>
                {% else %}
                <option value="{{ sector }}">{{ sector }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="prioridad">Prioridad</label>
            <select name="prioridad">
                {% for prioridad in datos.prioridades %}
                {% if prioridad == datos.miPedido.prioridad %}
                <option value="{{ prioridad }}" selected>{{ prioridad }}</option>
                {% else %}
                <option value="{{ prioridad }}">{{ prioridad }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br>
            <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
            <input class="descripcion" type="textarea" name="descripcion" autofocus required
                value="{{ datos.miPedido.descripcion}}">

        </fieldset>
        <input type="submit">
    </form>
</div>
{% endblock %}