{% extends "base.html" %}
{% block title %} Gestion de Permisos {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% block header %}
{% include 'partials/header.html' with {datos:datos} only %}
{% endblock %}
<div>
    <h2 class="titulo-tabla">Permisos Registrados </h2>

    <!-- BOTON NEW PERMISO -->
    {% if "5" in datos.datosSesion.listaPermisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew"><i
            class="fal fa-plus"></i> Crear Nuevo</button>
    {% endif %}

    <!-- TABLA PERMISOS -->
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>ID Permiso</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for permiso in datos.todosPermisos %}
            <tr>
                <td>{{ permiso.idPermiso }}</td>
                <td>{{ permiso.nombrePermiso }}</td>
                <td>
                    {% set deshabilitado = "disabled" %}
                    {% set notAllowed = " notAllowed" %}
                    {% if permiso.usado == false %}
                    {% set deshabilitado = "" %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group float-none" role="group">
                        {% if "7" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            onclick="modificarModal('{{ permiso|json_encode }}');" title="Editar Permiso"><i
                                class="fal fa-pencil-alt fa-lg fa-fw"></i>
                        </button>
                        {% endif %}

                        {% if "6" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" onclick="eliminarModal('{{ permiso|json_encode }}');"
                            title="Eliminar Permiso"><i class="fal fa-trash-alt fa-lg fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class="error">No hay ningun Permiso cargado</h2>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- MODALES NEW, UPDATE Y DELETE -->
<!--NEW PERMISO-->
{% if "5" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalNew">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Crear Permiso</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="newPermiso" method="post" class="was-validated">
                    <div class="form-group">
                        <label for="nombrePermiso">Nombre del Permiso:</label>
                        <input type="text" name="nombrePermiso" class="form-control" autofocus required>
                        <div class="invalid-feedback">Complete este campo</div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--MODIFICAR PERMISO-->
{% if "7" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalUpdate"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updatePermiso" method="post" class="was-validated">
                    <input type="text" name="idPermiso" id="updateID" hidden>
                    <div class="form-group">
                        <label for="nombreAnterior">Nombre Anterior</label>
                        <input type="text" name="nombreAnterior" class="form-control" id="nombreAnteriorUpdate"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="nombrePermiso">Nombre Nuevo</label><span class="asterisco">*</span>
                        <input type="text" name="nombrePermiso" class="form-control" required>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--ELIMINAR PERMISO-->
{% if "6" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-3">¿Está seguro?</p>
                <form action="deletePermiso" method="post">
                    <input type="text" name="idPermiso" id="deleteID" hidden>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- FIN MODALES NEW, UPDATE Y DELETE -->

<script src="/public/js/jsBasicos/jsPermiso.js"></script>
<script>
    verificarAlertas('{{ datos.alertas|json_encode|raw }}', 'Permiso');
    ordenarTabla('miTabla', '0,1', [2], 'Permisos Registrados');
</script>
{% endblock %}