{% extends "base.html" %}
{% block title %}
	Gestion de Roles
{% endblock %}
{% block main %}
	<div>
		<h2 class="titulo-tabla">Roles Registrados
		</h2>

		<!-- BOTON NEW ROL -->
		{% if "9" in datos.datosSesion.listaPermisos %}
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew">
				<i class="fal fa-plus"></i>
				Crear Nuevo</button>
		{% endif %}

		<!-- TABLA ROLES -->
		<table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
			<thead>
				<tr>
					<th>Nº Rol</th>
					<th>Nombre</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<!-- MODALES NEW, UPDATE Y DELETE -->
	<!-- NEW ROL -->
	{% if "9" in datos.datosSesion.listaPermisos %}
		<div class="modal fade" id="modalNew">
			<div class="modal-dialog">
				<div
					class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h3 class="modal-title m-0">Crear Rol</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<form action="create" method="post" id="formRolNew">
							<div class="form-group required">
								<label for="nombre">Nombre del Rol:</label>
								<input type="text" name="nombre" id="nombre" class="form-control" autofocus>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
								<button type="submit" class="btn btn-success">Aceptar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!--DELETE ROL SI NO TIENE PERMISOS Y NO ESTÁ ASIGNADO A UN USUARIO-->
	{% if "10" in datos.datosSesion.listaPermisos %}
		<div id="containerModalDelete"></div>
	{% endif %}
	<!-- FIN MODALES NEW, UPDATE Y DELETE -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'partials/scriptsDatatables.html' %}
	<script src="/public/js/jsBasicos/jsRoles.js" type="module"></script>
{% endblock %}
