{% extends "base.html" %}
{% block title %} Gestion de Roles {% endblock %}
{% block nav %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}
{% block main %}
{% block header %}
{% include 'partials/header.html' with {datos:datos} only %}
{% endblock %}
<div>
    <h2 class="titulo-tabla">Roles Registrados </h2>

    <!-- BOTON NEW ROL -->
    {% if "9" in datos.permisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew"><i
            class="fal fa-plus"></i> Crear Nuevo</button>
    {% endif %}

    <!-- TABLA ROLES -->
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>Nº Rol</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in datos.todosRoles %}
            <tr>
                <td>{{ rol.idRol }}</td>
                <td>{{ rol.nombreRol }}</td>
                <td>
                    {% set deshabilitado = "disabled" %}
                    {% set notAllowed = " notAllowed" %}
                    {% if rol.usado == false %}
                    {% set deshabilitado = "" %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group float-none" role="group">
                        {% if "12" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            onclick="fichaRoles('{{ rol.idRol }}',false);" title="Ver Mas"><i
                                class="fal fa-eye fa-2x fa-fw"></i>
                        </button>
                        {% endif %}

                        {% if "11" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            onclick="fichaRoles('{{ rol.idRol }}',true);" title="Modificar"><i
                                class="fal fa-pencil-alt fa-2x fa-fw"></i>
                        </button>
                        {% endif %}

                        {% if "10" in datos.permisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" {{ deshabilitado }}
                            data-toggle="modal" onclick="eliminarModal('{{ rol|json_encode }}');"
                            title="Eliminar Rol"><i class="fal fa-trash-alt fa-2x fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class="error">No hay Roles</h2>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- MODALES NEW, UPDATE Y DELETE -->
<!-- NEW ROL -->
{% if "9" in datos.permisos %}
<div class="modal fade" id="modalNew">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Crear Rol</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="newRol" method="post" class="was-validated">
                    <div class="form-group">
                        <label for="nombreRol">Nombre del Rol:</label>
                        <input type="text" name="nombreRol" class="form-control" autofocus required>
                        <div class="invalid-feedback">Complete este campo</div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--DELETE AGENTE SI NO ESTUVO TRABAJANDO EN ALGUNA TAREA-->
{% if "10" in datos.permisos %}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-3">¿Está seguro?</p>
                <form action="deleteRol" method="post">
                    <input type="text" id="deleteID" name="idRol" hidden>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- FIN MODALES NEW, UPDATE Y DELETE -->

<script src="/public/js/ajax/ajaxFichaRoles.js"></script>
<script>
    verificarAlertas('{{ datos.alertas|json_encode|raw }}', 'Rol');
    ordenarTabla('miTabla', '0,1', [2], 'Roles Registrados');
</script>
{% endblock %}