{% extends "base.html" %}
{% block title %} Gestion de Usuarios {% endblock %}
{% block main %}
<div>
    <h2 class="titulo-tabla">Usuarios Registrados </h2>

    <!-- BOTON NEW USUARIO -->
    {% if "1" in datos.datosSesion.listaPermisos %}
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalNew"><i
            class="fal fa-plus"></i> Crear Nuevo</button>
    {% endif %}

    <!-- TABLA USUARIOS -->
    <table id="miTabla" class="table table-bordered table-sm table-responsive-lg table-striped table-hover">
        <thead class="headtable">
            <tr>
                <th>Nombre Usuario</th>
                <th>DNI</th>
                <th>Nombre y Apellido</th>
                <th>Roles</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in datos.todosUsuarios %}
            <tr>
                <td>{{ usuario.nick }}</td>
                <td><a href="#" onclick="fichaPersona('{{ usuario.idPersona }}');">{{ usuario.idPersona }}</a>
                </td>
                <td>{{ usuario.nombreApe }}</td>
                <td>
                    {% for rol in usuario.listaRoles %}
                    <a href="#" onclick="fichaRoles('{{ rol.id }}',false);">{{ rol.nombre }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% set notAllowed = " notAllowed" %}
                    {% if usuario.usado == false and usuario.id != 1 %}
                    {% set notAllowed = "" %}
                    {% endif %}
                    <div class="btn-group float-none" role="group">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalRolesUpdate" onclick="modificarRolesModal('{{ usuario|json_encode }}');"
                            data-toggle-2="tooltip" title="Modificar Roles" data-placement="top"><i
                                class="fal fa-user-cog fa-lg fa-fw"></i>
                        </button>
                        {% if "3" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#modalUpdate" onclick="modificarModal('{{ usuario|json_encode }}');"
                            data-toggle-2="tooltip" title="Modificar Contraseña" data-placement="top"><i
                                class="fal fa-key fa-lg fa-fw"></i>
                        </button>
                        {% endif %}
                        {% if "2" in datos.datosSesion.listaPermisos %}
                        <button type="button" class="btn btn-outline-primary {{ notAllowed }}" data-toggle="modal"
                            data-target="#modalDelete" onclick="eliminarModal('{{ usuario|json_encode }}');"
                            data-toggle-2="tooltip" title="Eliminar Usuario" data-placement="top"><i
                                class="fal fa-trash-alt fa-lg fa-fw"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <h2 class='error'>No hay Usuarios para mostrar</h2>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- MODALES NEW, UPDATE Y DELETE -->
<!--NEW USUARIO-->
{% if "1" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalNew">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0">Alta de Usuario</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="newUsuario" method="post" id="formUsuarioNew">
                    <div class="form-row">
                        <div class="form-group required col-md-6">
                            <label for="nick">Nombre(nick):</label>
                            <input type="text" name="nick" id="nick" class="form-control" autofocus>
                        </div>
                        <div class="form-group required col-md-6">
                            <label for="idPersona">Persona Asociada:</label>
                            <select name="idPersona" id="idPersona" class="form-control custom-select">
                                <option value="" selected>Seleccione una Persona</option>
                                {% for persona in datos.todosPersonas %}
                                {% if persona.id != '0' and persona.usado != true %}
                                <option value="{{ persona.id }}">{{ persona.nombre }},&nbsp;{{ persona.apellido }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group required col-md-12">
                            <label for="idRol">Seleccionar Roles: (CTRL+CLICK seleccion
                                múltiple)</label>
                            <select multiple name="idRol[]" id="idRol" class="form-control custom-select" size="3">
                                {% for rol in datos.todosRoles %}
                                <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group required col-md-6">
                            <label for="password">Contraseña:</label>
                            <input type="password" name="password" id='password' class="form-control">
                        </div>
                        <div class="form-group required col-md-6">
                            <label for="passwordConfirm">Confirme Contraseña:</label>
                            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control">
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--MODIFICAR ROLES DE USUARIO-->
{% if "3" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalRolesUpdate">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalRolesUpdate"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updateRolesUsuario" method="post" id="formUsuarioRolesUpd">
                    <input type="text" name="id" id="updateRolIdUsuario" hidden>
                    <div class="form-group required">
                        <label for="idRolUpd">Seleccionar Roles: (CTRL+CLICK seleccion
                            múltiple)</label>
                        <select multiple name="idRol[]" id="idRolUpd" class="form-control custom-select" size="3">
                            {% for rol in datos.todosRoles %}
                            <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--MODIFICAR USUARIO-->
{% if "3" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalUpdate"></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="updateUsuario" method="post" id="formUsuarioUpd">
                    <input type="text" name="id" id="updateID" hidden>
                    <div class="form-group required">
                        <label for="passwordUpd">Contraseña:</label>
                        <input type="password" name="password" id="passwordUpd" class="form-control">
                    </div>
                    <div class="form-group required">
                        <label for="passwordUpdConfirm">Confirme
                            Contraseña:</label>
                        <input type="password" name="passwordConfirm" id="passwordUpdConfirm" class="form-control">
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--ELIMINAR USUARIO SI NO ESTA USADO-->
{% if "46" in datos.datosSesion.listaPermisos %}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title m-0" id="h3TitleModalDelete"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-3">¿Está seguro?</p>
                <form action="deleteUsuario" method="post">
                    <input type="text" name="id" id="deleteID" hidden>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-danger btn-modal">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- FIN MODALES NEW, UPDATE Y DELETE -->


<script src="/public/js/ajax/ajaxFichaPersona.js"></script>
<script src="/public/js/ajax/ajaxFichaRoles.js"></script>
<script src="/public/js/generales/validarCampos.js"></script>
<script src="/public/js/jsBasicos/jsUsuario.js"></script>
<script>
    $(function () {
        $('label').each(function (index, elem) {
            $(elem).addClass('control-label');
        })
    });
    var arrayRepetidosOld = [];
    listaOld = JSON.parse('{{ datos.todosUsuarios|json_encode|raw }}');
    listaOld.forEach(element => {
        arrayRepetidosOld.push(element['nick']);
    });
    verificarAlertas('{{ datos.alertas|json_encode|raw }}', 'Usuario');
    ordenarTabla('miTabla', '0,1,2,3', [4], 'Usuarios Registrados');
</script>
{% endblock %}