{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %}
{% block main %}
<h1>Permisos</h1>
<input type="button" value="Asignar Permisos" onclick="mostrarFormulario()">
<script>
    function mostrarFormulario() {
        var formularioPermisos = document.getElementById('formularioPermisos');
        if (formularioPermisos.style.display == "block") {
            formularioPermisos.style.display = "none";
        } else {
            formularioPermisos.style.display = "block"
        }
    }
</script>
<form action="/usuario/asignarPermiso" method="POST" id="formularioPermisos"
    style="display: none; border: 1px solid black">
   <select name="nombreRol" id="nombreRol">
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for nombre in datos.nombresRoles %}
        <option value={{ nombre.nombreRol }}>{{ nombre.nombreRol }}</option>
        {% endfor %}}
    </select>
    <select multiple size="5" name="nombrePermiso" id="nombrePermiso">
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for nombres in datos.nombresPermisos %}
        <option value={{ nombres.nombrePermiso }}>{{ nombres.nombrePermiso }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Agregar">
    <input type="reset">
</form>


<!-- todavia no busca , agregar ruta al action-->

<form action="" method="POST">
    <h3>Permisos por Rol</h3>
               <select name="filtro">
                <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for nombre in datos.nombresRoles %}
        <option value={{ nombre.nombreRol }}>{{ nombre.nombreRol }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Buscar">
</form>

{% endblock %}
