{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<h1>Listado de Usuarios</h1>
<input type="button" value=" NUEVO USUARIO" onclick="mostrarFormulario()">
<script>
    function mostrarFormulario() {
        var formularioUsuario = document.getElementById('formularioUsuario');
        if (formularioUsuario.style.display == "block") {
            formularioUsuario.style.display = "none";
        } else {
            formularioUsuario.style.display = "block"
        }
    }
</script>
<form action="/usuarios/validarUsuario" method="POST" id="formularioUsuario"
    style="display: none; border: 1px solid black">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" placeholder="Usuario">
    <br>
    <label for="nombre">Contraseña</label>
    <input type="password" name="password" placeholder="contraseña">
    <label for="nombre">Confirmar Contraseña</label>
    <input type="password" name="password" placeholder="contraseña">
    <label for="dni">DNI</label>
    <input type="number" name="dni" placeholder="dni">
    <label for="roles">Rol del Usuario:</label>
    <select name="nombreRol" id="nombreRol">
            <option value="SeleccionarRol">Seleccionar Rol</option>
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for nombre in datos.nombresRoles %}
        <option value={{ nombre.nombreRol }}>{{ nombre.nombreRol }}</option>
        {% endfor %}}
    </select>
    <label for="roles">Persona asociada:</label>
    <select  name="nombrePersona" id="nombrePersona">
            <option value="SeleccionarPersona">Seleccionar Persona</option>
        <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
        {% for nombre in datos.nombresPersonas %}
        <option value={{ nombre }}>{{ nombre  }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Agregar">
    <input type="reset">
</form>


<!-- todavia no busca , agregar ruta al action-->


<form action="" method="POST">
    <select name="filtro">
        <option value="id">Nombre</option>
        <option value="sector">Nombre y Apellido</option>
        <option value="fechaInicio">DNI</option>
        <option value="estado">Rol</option>
    </select>
    <input name="textBusqueda" type="Search" placeholder="Escribe parametro">
    <input type="submit" value="Buscar">
</form>

<table id="miTabla">
    <th onclick="sortTable(0,'miTabla')">Nombre Usuario</th>
    <th onclick="sortTable(1,'miTabla')">DNI </th>
    <th onclick="sortTable(2,'miTabla')">Rol</th>
    <th onclick="sortTable(3,'miTabla')">Nombre y Apellido</th>
    <th onclick="sortTable(4,'miTabla')">ACCION</th>
    {% for usuario in datos.todosUsuarios %}
    <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.apellido }} </td>
        <td>
            <a href='usuarios/modificarUsuario/seleccionado?id={{ usuario.id }}'>
                <input type="button" value="MODIFICAR">
            </a>

        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Usuarios para mostrar</h2> {% endfor %}
</table>
{% endblock %}