{% extends "base.html" %} {% block title %}Gestion de Usuarios{% endblock %} {% block header %}
{% set datos = datos|merge({
    "titulo": "Gestión de Usuarios"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}

<div class="general">
    {% if datos.errorInsert %}
    <script>
        alertify.alert('Error', 'El Usuario ya existe..')
    </script>
    {% endif %}
    <a href="#" onclick="mostrarFormulario()" id="btnCrearUsuario"><img class="iconos" src="/public/res/add.svg"
            title="Crear Usuario"></a>
    {% if "alta usuario" in datos.userPermisos|keys %}
    {% endif %}
    <script>
        function mostrarFormulario() {
            var formularioUsuario = document.getElementById('formularioUsuario');
            if (formularioUsuario.style.display == "block") {
                formularioUsuario.style.display = "none";
            } else {
                formularioUsuario.style.display = "block"
            }
        }
    </script>
    <form action="/usuarios/validarUsuario" method="POST" id="formularioUsuario"
        style="display: none; border: 1px solid black">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Usuario">
        <br>
        <label for="nombre">Contraseña</label>
        <input type="password" name="password" placeholder="contraseña">
        <label for="nombre">Confirmar Contraseña</label>
        <input type="password" name="password" placeholder="contraseña">
        <label for="roles">Rol del Usuario:</label>
        <select name="idRol" id="nombreRol">
            <option value="SeleccionarRol">Seleccionar Rol</option>
            <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
            {% for rol in datos.roles %}
            <option value={{ rol.idRol }}>{{ rol.nombreRol }}</option>
            {% endfor %}}
        </select>
        <label for="dni">Persona asociada:</label>
        <select name="dni" id="nombrePersona">
            <option value="SeleccionarPersona">Seleccionar Persona</option>
            <!--aca van roles  q se toman de la bd para que aparezcan en el select-->
            {% for persona in datos.todosPersonas %}
            {% if persona.dni != '0' %}
            <option value={{ persona.dni }}>{{ persona.nombre }} {{ persona.apellido }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Agregar">
        <input type="reset">
    </form>
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>
    <table id="miTabla">
        <thead>
            <tr>
                <th onclick="sortTable(0,'miTabla')">Nombre Usuario</th>
                <th onclick="sortTable(1,'miTabla')">DNI </th>
                <th onclick="sortTable(3,'miTabla')">Nombre y Apellido</th>
                <th onclick="sortTable(2,'miTabla')">Rol</th>
                <th onclick="sortTable(4,'miTabla')">ACCION</th>
            </tr>
        </thead>
        {% for usuario in datos.todosUsuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td><a href="/fichaPersona?idAgente={{ usuario.idPersona }}">{{ usuario.idPersona }}</a></td>
            <td>{{ usuario.nombreApe }}</td>
            <td>{{ usuario.nombreRol }}</td>
            <td>

                <a href='/usuarios/modificar/seleccionado?nombre={{ usuario.nombre }}'>
                    <img class="iconos" src="/public/res/update.svg" title="Modificar">
                </a>

            </td>
        </tr>
        {% else %}
        <h2 class='error'>No hay Usuarios para mostrar</h2> {% endfor %}
    </table>
</div>
{% endblock %}