{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %} {% set nombreUsuario = datos.userLogueado %} {% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %} {% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<nav class="Otros">
    <ul>
        <li><a href="/usuario/AdministracionUsuario">Administracion de Usuarios</a></li>
        <li><a href="/OT/verTodos">Administracion de Roles</a></li>
        <li><a href="/OT/verTodos">Administracion de permisos</a></li>
        <li><a href="/usuario/AdministracionUsuario">Administracion de Personas</a></li>
    </ul>
</nav>

{% endblock %}
