{% extends "base.html" %}

{% block title %}Modificar Permiso{% endblock %}

{% block header %}
{% set datos = datos|merge({
    "titulo": "Modificar Permiso"
}) %}
{% include 'partials/nav.html' with {datos:datos} only %}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="contenido3">
    <img class="iconosTitulo" src="/public/res/back.svg" onclick="history.back()" title="Volver" title=" Volver">
    <form action="/permisos/modificarpermiso" method="POST">
        <fieldset class="basicosEspecializacion">
            <legend> Modificar Permiso</legend>
            <label for="idPermiso">Numero de Permiso</label>
        
            <input type="text" name="idPermiso" value="{{ datos.Permiso.idPermiso }}" readonly
                class="inputDisabled">
            <label for="nombre">Nombre del Permiso</label>
            <input type="text" name="nombrePermiso" value="{{ datos.Permiso.nombrePermiso }}">
        </fieldset>
        <input type="submit">
    </form>
</div>
{% endblock %}