<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Mantenimiento</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/nav1.css">
    <script src="/public/js/ordenarTablas.js"></script>
    {% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>

</body>

</html>