<!DOCTYPE html>
<html>

	<head>
		{% block head %}
			<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
			<title>
				{% block title %}{% endblock %}
				- Mantenimiento
			</title>
			{% block stylesheet %}
				<link rel="shortcut icon" href="/public/res/favicon.ico"/>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
				<link href="/public/bootstrapvalidator/bootstrapValidator.css" rel="stylesheet" type="text/css">
				<link
				href="/public/fonts/fontsgoogleapis.css" rel="stylesheet">
				<!--!!!!!!!!!!!!!!!!!!ACTUALIZAR LA VERSION A LA ULTIMA SI NO ENCUENTRA UN ICONO!!!!!!!!!!!!!!!																																																																																																																																																																																																																																											    https://pro.fontawesome.com/releases/vX.XX.X/css/all.css-->
				<link
				href="/public/fontawesome-pro/css/all.css" rel="stylesheet">
				<!--!!!!!!!!!!!!!!!!!!ACTUALIZAR LA VERSION A LA ULTIMA SI NO ENCUENTRA UN ICONO!!!!!!!!!!!!!!!!-->
				<link rel="stylesheet" href="/public/css/styleHeader.css">
				<link href="/public/css/styleNav.css" rel="stylesheet">
				<link rel="stylesheet" href="/public/alertifyjs/css/alertify.min.css">
				<link rel="stylesheet" href="/public/alertifyjs/css/themes/default.min.css"/>
				<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet"/>
				<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet"/>
				<link rel="stylesheet" href="/public/css/styleDatatables.css">
				<link href="/public/css/home.css" rel="stylesheet" type="text/css">
				<link href="/public/css/miStyle.css" rel="stylesheet" type="text/css">
			{% endblock %}

			{% block javascripts %}
				<script src="/public/alertifyjs/alertify.js"></script>
				<script src="/public/js/generales/misAlertas.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
			{% endblock %}
		{% endblock %}
	</head>

	<body class="d-flex">
		{% include 'partials/nav.html' with {datos:datos} only %}
		<main class="container-fluid text-center">
			{% include 'partials/header.html' with {datos:datos} only %}
			{% block main %}{% endblock %}
		</main>
	</body>

</html>
