<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Mantenimiento</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/nav1.css">
    <!-- include the style -->
    <link rel="stylesheet" href="/public/alertifyjs/css/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="/public/alertifyjs/css/themes/default.min.css" />
    <script src="/public/js/ordenarTablas.js"></script>
    <script src="/public/js/menu.js"></script>
    <script src="/public/alertifyjs/alertify.js"></script>
    <link href="/public/jqueryTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="/public/jqueryTables/jquery.min.js"></script>
    <script src="/public/jqueryTables/jquery.dataTables.min.js"></script>
    {% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>

</body>

</html>