{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %} {{ include('partials/nav.html') }} {% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<fieldset class="Insumos div">
    <legend>Insumos</legend>
    <input type="button" value="Gestion de Insumos">
    <input type="button" value="Gestion de Ordenes de Compra">
</fieldset>
<fieldset class="general div">
    <legend>General</legend>
    <input type="button" value="Gestion de Pedidos">
    <input type="button" value="Gestion de Ordenes de Trabajo">
    <input type="button" value="Gestion de Actividades">
    <input type="button" value="Gestion de Tareas">
</fieldset>

<fieldset class="Otros div">
    <legend>Otros</legend>
   <nav>
    <ol> 
      
       <li> <a href="/usuario/gestionUsuario">Gestion de Usuarios</a></li>
           
           <!--faltan hacer estas-->
             <li> <a href="/usuario/gestionAgentes">Gestion de Agentes</a></li>
              <li> <a href="/usuario/gestionEspecialidades">Gestion de Especialidades</a></li>
              <li> <a href="/usuario/gestionSectores">Gestion de sectores</a></li>
              <li> <a href="/usuario/gestionInformes">Gestion de Informes</a></li>
              
              
       </ol>
</nav>
</fieldset>

{% endblock %}
