{% extends "base.html" %}

{% block title %}Crear Tarea Nueva{% endblock %}

{% block header %}
{{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h2>Modificar Pedido Nº {{ arrayDatos.miPedido.id }}</h2>
<form action="/pedido/modificar" method="POST">
    <fieldset>
        <legend>Datos Basicos</legend>
        <label for="id">Numero de Pedido</label>
        <input type="text" name="id" value="{{ arrayDatos.miPedido.id }}" readonly>
        <label for="fechaInicio">Fecha</label>
        <input type="date" name="fechaInicio" value="{{ arrayDatos.miPedido.fechaInicio }}"
            min="{{ arrayDatos.miPedido.fechaInicio }}">
        <label for="estado">Estado</label>
        <select name="estado">
            {% for estado in arrayDatos.estados %}
            {% if estado == arrayDatos.miPedido.estado %}
            <option value={{ estado }} selected>{{ estado }} </option>
            {% else %}
            <option value={{ estado }}>{{ estado }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <label for="descripcion">Descripcion</label><span class="asterisco">*</span>
        <input type="text" name="descripcion" autofocus required value="{{ arrayDatos.miPedido.descripcion}}">
        <label for="sector">Sector</label>
        <select name="sector">
            {% for sector in arrayDatos.sectores %}
            {% if sector == arrayDatos.miPedido.sector %}
            <!--NO FUNCIONA, SEGURO EL TEMA DE LOS ESPACIOS-->
            <option value={{ sector }} selected>{{ sector }}</option>
            {% else %}
            <option value={{ sector }}>{{ sector }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend>Prioridad<span class="asterisco">*</span></legend>
        {% for prioridad in arrayDatos.prioridades %}
        {% if prioridad == arrayDatos.miPedido.prioridad %}
        <label class="labelRadioInput"><input type="radio" name="prioridad" class="radioInput" required checked
                value="{{ prioridad }}">{{ prioridad }}</label>
        {% else %}
        <label class="labelRadioInput"><input type="radio" name="prioridad" class="radioInput" required
                value="{{ prioridad }}">{{ prioridad }}</label>
        {% endif %}
        {% endfor %}
    </fieldset>
    <input type="submit">
    <input type="reset">
</form>
<a href='/pedido/verTareas?id={{ arrayDatos.miPedido.id }}'><input type="button" value="VER TAREAS">

    {% endblock %}