{% extends "base.html" %} {% block title %}Lista de OTs{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}} {% endblock %} {% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<h1>Listado de Ordenes de Trabajo</h1>
<a href="/ot/crear">
    <input type="button" value="Crear OT">
</a>
<table>
    <th>Nº OT</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de Fin</th>
    <th>Estado</th>
    <th>Tareas Asignadas</th>
    <th>Accion</th>
    {% for OT in datos.todasOT %}
    <tr>
        <td>{{ OT.idOT }}</td>
        <td>{{ OT.fechaInicio }}</td>
        <td>{{ OT.fechaFin }}</td>
        <td>{{ OT.estado }}</td>
        <td>{{ OT.tareasAsignadas }}</td>
        <td>
            <a href='/OT/verTareas?idOT={{ OT.id }}'>
                <input type="button" value="VER TAREAS"></a>
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay OTs</h2> {% endfor %}
</table>
{% endblock %}