{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{% set nombreUsuario = datosPedidoTareas.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<input type="button" value="IMPRIMIR" onclick="print()">
<h1>Su Pedido</h1>
<dl>
    <dt>Nº Pedido:</dt>
    <dd>{{ datosPedidoTareas.miPedido.id }}</dd>
    <dt>Usuario Creador:</dt>
    <dd>{{ datosPedidoTareas.miPedido.nombreUsuario }}</dd>
    <dt>Descripcion:</dt>
    <dd>{{ datosPedidoTareas.miPedido.descripcion }}</dd>
    <dt>Fecha:</dt>
    <dd>{{ datosPedidoTareas.miPedido.fechaInicio }}</dd>
    <dt>Estado:</dt>
    <dd>{{ datosPedidoTareas.miPedido.estado }}</dd>
    <dt>Sector:</dt>
    <dd>{{ datosPedidoTareas.miPedido.sector }}</dd>
    <dt>Prioridad:</dt>
    <dd>{{ datosPedidoTareas.miPedido.prioridad }}</dd>
</dl>
<h2>TAREAS</h2>
<table>
    <th>Nº Tarea</th>
    <th>Descripcion</th>
    <th>Especializacion</th>
    <th>Prioridad</th>
    <th>Estado</th>
    {% for tareas in datosPedidoTareas.tareas %}
    <tr>
        <td>{{ tareas.idTarea }}</td>
        <td>{{ tareas.descripcion }}</td>
        <td>{{ tareas.especializacion }}</td>
        <td>{{ tareas.prioridad }}</td>
        <td>{{ tareas.estado }}</td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Tareas asignadas aún</h2>
    {% endfor %}
</table>
{% endblock %}