{% extends "base.html" %} {% block title %}Lista de Pedidos{% endblock %} {% block header %}
{% set nombreUsuario = datos.userLogueado %}
{% include 'partials/nav.html' with {nombreUsuario:nombreUsuario} only %}} {% endblock %} {% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP"> {% endblock %} {% block main %}
<h1>Listado de Pedidos</h1>
<a href="/pedido/crear">
    <input type="button" value="Crear Pedido">
</a>
<form action="/pedido/buscar" method="POST">
    <select name="filtro">
        <option value="id">Nº PEDIDO</option>
        <option value="sector">SECTOR</option>
        <option value="fechaInicio">FECHA INICIO</option>
        <option value="estado">ESTADO</option>
        <option value="prioridad">PRIORIDAD</option>
    </select>

    <input name="textBusqueda" type="Search" placeholder="Escribe parametro">
    <input type="submit" value="Buscar">
</form>

<table>
    <th>Nº Pedido</th>
    <th>Descripcion</th>
    <th>Sector</th>
    <th>Fecha Inicio</th>
    <th>Tareas Asignadas</th>
    <th>Estado</th>
    <th>Prioridad</th>
    <th>Usuario Iniciador</th>
    <th>Enlace</th>
    {% for pedido in datos.todosPedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.descripcion }}</td>
        <td>{{ pedido.sector }}</td>
        <td>{{ pedido.fechaInicio }}</td>
        <td>{{ pedido.tareasAsignadas }}</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.prioridad }}</td>
        <td>{{ pedido.nombreUsuario }}</td>
        <td>
            <a href='/fichaPedido?id={{ pedido.id }}'>
                <input type="button" value="VER MAS">
            </a>
            <a href='/pedido/modificar/seleccionado?id={{ pedido.id }}'>
                <input type="button" value="MODIFICAR">
            </a>
            <a href='/pedido/verTareas?idPedido={{ pedido.id }}'>
                <input type="button" value="VER TAREAS"></a>
        </td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Pedidos</h2> {% endfor %}
</table>
{% endblock %}