{% extends "base.html" %}

{% block title %}Lista de Pedidos{% endblock %}

{% block header %}
{{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>Listado de Pedidos</h1>
<table>
    <th>Nº Pedido</th>
    <th>Descripcion</th>
    <th>Sector</th>
    <th>Fecha Inicio</th>
    <th>Tareas Asignadas</th>
    <th>Estado</th>
    <th>Enlace</th>
    {% for pedido in todosPedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.descripcion }}</td>
        <td>{{ pedido.sector }}</td>
        <td>{{ pedido.fechaInicio }}</td>
        <td>PROXIMAMENTE</td>
        <td>{{ pedido.estado }}</td>
        <td><a href='/fichaPedido?id={{ pedido.id }}'>Ir a Pedido</a></td>
    </tr>
    {% else %}
    <h2 class='error'>No hay Pedidos</h2>
    {% endfor %}
</table>
{% endblock %}