{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>Listado de Turnos</h1>
<table>
    <th>Nº Turno</th>
    <th>Fecha</th>
    <th>Hora </th>
    <th>Nombre del Paciente</th>
    <th>Telefono</th>
    <th>E-mail</th>
    <th>Enlace</th>
    {% for turno in turnos %}
    <tr>
        <td>{{ turno.numeroTurno }}</td>
        <td>{{ turno.adate }}</td>
        <td>{{ turno.atime }}</td>
        <td>{{ turno.name }}</td>
        <td>{{ turno.phone }}</td>
        <td>{{ turno.email }}</td>
        <td><a href='/fichaTurno?numeroTurno={{ turno.numeroTurno }}'>Ir a Ficha</a></td>
    </tr>
    {% else %}
    <h2 class='error'>No hay turnos</h2>
    {% endfor %}
</table>
{% endblock %}