{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
{{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
{{ parent() }}
<meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>Su Pedido</h1>
<dl>
    <dt>Paciente:</dt>
    <dd>{{ miPedido.name }}</dd>
    <dt>E-mail:</dt>
    <dd>{{ miPedido.email }}</dd>
    <dt>Telefono:</dt>
    <dd>{{ miPedido.phone }}</dd>
    <dt>Fecha:</dt>
    <dd>{{ miPedido.adate }}</dd>
    <dt>Hora:</dt>
    <dd>{{ miPedido.atime }}</dd>
    <dt>Fecha de Nacimiento:</dt>
    <dd>{{ miPedido.birth }}</dd>
    <dt>Edad:</dt>
    <dd>{{ miPedido.age }}</dd>
    <dt>Calzado:</dt>
    <dd>{{ miPedido.calzado }}</dd>
    <dt>Altura:</dt>
    <dd>{{ miPedido.height }} cm</dd>
    <dt>Color de Pelo:</dt>
    <dd>{{ miPedido.haircolor }}</dd>
</dl>
{% endblock %}